@use "../../css/partials/variables/breakpoints" as bp;
@use "../../css/partials/variables/fluid_mixins" as *;

// Swiper Styles
@use "swiper/css";
@use "swiper/css/navigation";
@use "swiper/css/pagination";

section:has(.testimonial-slider) {
	position: relative;
	overflow: hidden;
}


.testimonial-slider {
	position: relative;

	.graphic-images {
		opacity: 0.6;
		position: absolute;
		left: 0;
		top: 0;
		width: 100vw;
		margin-left: calc(-50vw + 50%);
		height: 100%;

		@include bp.max(lg) {
			display: none;
		}

		&__img-block {
			overflow: hidden;
			position: absolute;

			img {
				height: 100%;
				object-fit: contain;
				width: 100%;
			}
		}

		&__overlay-left {
			height: clamp(242px, 15.125rem + (1vw - 16px) * 10, 282px);
			top: -200px;
			width: clamp(242px, 15.125rem + (1vw - 16px) * 10, 282px);
			left: -2vw;
		}

		&__overlay-right {
			bottom: -70px;
			right: -130px;
			height: clamp(282px, calc(17.625rem + ((1vw - 9.91px) * 25.0696)), 372px);
			width: clamp(292px, calc(18.25rem + ((1vw - 9.91px) * 41.7827)), 442px);
		}
	}

	&__inner {
		position: relative;
		z-index: 1;
	}

	&__header {
		text-align: center;
	}

	&__swiper {
		position: relative;
		overflow: hidden;

	}

	.testimonial-slider-wrapper {
		background: var(--theme_white);
		border-radius: fluid(16, 24);

	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 100%;
		padding: fluid(32, 50);
	}

	&__quote {
		color: var(--theme_gray_700);
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;

		img {
			max-height: 40px;
			width: auto;
			object-fit: contain;
		}
	}

	.swiper-pagination {
		position: relative;
		bottom: 0 !important;
		display: flex;
		justify-content: center;
		margin-top: fluid(24, 32);
	}

	&__author {
		display: flex;
		align-items: center;
		gap: fluid(16, 24);

		&--image {
			flex-shrink: 0;

			img {
				display: block;
				width: fluid(60, 80);
				height: fluid(60, 80);
				border-radius: 50%;
				object-fit: cover;
			}
		}

		&--content {
			display: flex;
			flex-direction: column;
			gap: fluid(4, 8);
			text-align: left;
			flex: 1;
		}

		&--name {
			font-weight: 600;
			font-size: fluid(14, 16);
			line-height: 1.4;
			color: var(--theme_gray_900);
		}

		&--role {
			font-size: fluid(12, 14);
			line-height: 1.4;
			color: var(--theme_gray_600);
		}
	}
}
