@use "../../css/partials/variables/breakpoints" as bp;
@use "swiper/css";
@use 'swiper/css/effect-fade';
@use 'swiper/css/navigation';

section:has(.ambry-testimonials) {
	overflow: hidden;
	position: relative;
}

.ambry-testimonials {

	&__graphic-images {
		opacity: 0.6;

		@include bp.max(lg) {
			display: none;
		}

		&__img-block {
			overflow: hidden;
			position: absolute;

			img {
				height: 100%;
				object-fit: contain;
				width: 100%;
			}
		}

		&__overlay-left {
			height: clamp(242px, calc(15.125rem + ((1vw - 16px) * 10)), 282px);
			right: calc(100% + clamp(-10px, calc(-0.625rem + ((1vw - 16px) * 17.5)), 60px));
			top: -51px;
			width: clamp(242px, calc(15.125rem + ((1vw - 16px) * 10)), 282px);

			@include bp.between(1441px, 1680px) {
				right: calc(100% + -60px);
				top: -30px;
			}

			@include bp.between(1351px, 1440px) {
				right: calc(100% + -180px);
				top: 110px;
			}

			@include bp.max(xxxl) {
				height: 222px;
				left: -70px;
				right: auto;
				top: 100px;
				width: 222px;
			}

			@include bp.max(xl) {
				height: 162px;
				left: -40px;
				right: auto;
				top: 90px;
				width: 162px;
			}
		}

		&__overlay-right {
			bottom: 96px;
			height: 372px;
			left: calc(100% - 70px);
			width: 442px;

			@include bp.max(xxxl) {
				bottom: auto;
				height: 272px;
				left: calc(100% - 120px);
				top: 50%;
				width: 342px;
			}

			@include bp.max(xl) {
				bottom: auto;
				height: 194px;
				top: 46%;
				width: 232px;
			}
		}
	}

	&__layout {

		&__author-details {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			font-style: normal; // Reset cite default

			@include bp.max(md) {
				row-gap: 5px;
			}

			&__author {
				color: var(--theme_gray_700);
			}

			&__role {
				color: var(--theme_gray_600); // Improved contrast from gray_400
				position: relative;

				&::before {
					background-color: var(--theme_gray_600);
					border-radius: 100px;
					content: "";
					height: 3px;
					left: -10px;
					position: absolute;
					top: 9px;
					width: 3px;
				}
			}
		}
	}

	&__grid {

		@include bp.min(md) {
			display: grid;
			gap: 24px;
			grid-template-columns: repeat(3, 1fr);
			position: relative;
		}

		@include bp.max(lg) {
			grid-template-columns: repeat(2, 1fr);
		}

		&__item {

			@include bp.max(md) {
				background: var(--theme_white);
				border-radius: 24px;
				height: auto;
				padding: 24px;
			}

			&:nth-child(1) {

				@include bp.min(md) {
					display: grid;
					gap: 24px;
					grid-column: 1 / -1;
					grid-template-columns: 332px 1fr;
				}

				@include bp.max(xl-large) {
					grid-template-columns: 309px 1fr;
				}

				@include bp.max(lg) {
					grid-template-columns: 262px 1fr;
				}

				.ambry-testimonials__grid__item__thumb {
					display: block;
				}

				.ambry-testimonials__grid__item__content {

					@include bp.min(md) {
						padding: 30px;
					}

					@include bp.min(lg) {
						padding: 50px;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: flex-start;
					}
				}

				.ambry-testimonials__grid__logo {
					height: 24px;
				}

				.ambry-testimonials__grid__item__quote {

					@include bp.min(md) {
						font-size: clamp(19px, calc(1.1875rem + ((1vw - 7.68px) * 0.8591)), 24px);
						letter-spacing: 0.55px;
						line-height: 1.33;
						margin-bottom: 28px;
					}
				}
			}

			&__thumb {

				@include bp.min(md) {
					display: none;
				}

				img {
					width: 100%;
					display: block;
				}
			}

			&__content {

				@include bp.min(md) {
					background: var(--theme_white);
					border-radius: 24px;
					height: 100%;
					padding: 32px 24px;
				}

				@include bp.max(md) {
					padding: 0;
					margin-top: 24px;
				}
			}

			&__quote {
				color: var(--theme_gray_900);
				margin-bottom: 20px;
			}
		}

		.testimonial_slider {

			@include bp.min(md) {
				padding: 50px;
			}
		}

		&__logo {
			height: 20px;
			width: auto;

			img {
				height: 100%;
				object-fit: contain;
				width: 100%;
			}
		}
	}
}