section:has(.ambry-testimonials) {
	overflow: hidden;
	position: relative;
}

.ambry-testimonials {

	&__graphic-images {

		&__img-block {
			position: absolute;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		&__overlay-left {
			right: 100%;
			width: 282px;
			height: 282px;
			top: -51px;
		}

		&__overlay-right {
			left: calc(100% - 70px);
			width: 442px;
			height: 372px;
			bottom: 96px;
		}
	}

	&__layout {

		&__author-details {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;

			&__author {
				color: var(--theme_gray_700);
			}

			&__role {
				color: var(--theme_gray_400);
				position: relative;

				&::before {
					position: absolute;
					content: "";
					background-color: var(--theme_gray_400);
					width: 3px;
					height: 3px;
					border-radius: 100px;
					left: -10px;
					top: 9px;
				}
			}
		}
	}

	&__top-inner {
		grid-template-columns: 332px 1fr;
		gap: 24px;
		display: flex;
		flex-wrap: wrap;

		@media (max-width: 767px) {
			grid-template-columns: 1fr;
		}

		&__image-block {
			height: auto;
			flex: 332px 0 0;
			border-radius: 24px;
			overflow: hidden;

			@media (max-width: 767px) {
				width: 100%;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
			}
		}

		&__item {
			padding: clamp(30px, calc(1.875rem + ((1vw - 7.67px) * 3.4305)), 50px);
			border-radius: 24px;
			background: var(--theme_white);

			&__quote {
				color: var(--theme_gray_900);
				margin-bottom: 28px;
			}
		}

		&__logo {
			height: 24px;
			width: auto;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	&__grid {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;

		@media (max-width: 991px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 767px) {
			grid-template-columns: repeat(1, 1fr);
		}

		&__item {
			padding: 32px 24px;
			flex: 0 0 calc((100% - 2 * 24px) / 3);
			border-radius: 24px;
			background: var(--theme_white);

			&:nth-child(2) {
				flex: 0 0 calc(100% - 24px - 332px);
				margin-left: auto;
				padding: 50px;

				.ambry-testimonials__grid__item__quote {
					margin-bottom: 28px;
					font-size: clamp(19px, calc(1.1875rem + ((1vw - 7.68px) * 0.8591)), 24px);
					line-height: 1.33;
				}
			}

			&__quote {
				color: var(--theme_gray_900);
				margin-bottom: 20px;
			}
		}

		&__logo {
			height: 20px;
			width: auto;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}
