@use "../../css/partials/variables/breakpoints" as bp;

.ai-hero {
	margin: 0;

	&__grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 24px clamp(25px, calc(1.5625rem + ((1vw - 7.68px) * 4.2955)), 50px);
		align-items: center;
	}

	&__col {

		&--images {
			grid-column: span 6;

			@include bp.max(lg) {
				grid-column: span 12;
			}
		}

		&--content {
			grid-column: span 6;

			@include bp.max(lg) {
				grid-column: span 12;
				order: 1;
			}
		}
	}

	&__images {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: clamp(12px, calc(0.9375rem + ((1vw - 7.68px) * 1.5464)), 24px);
	}

	&__image-wrapper {
		grid-column: span 6;
		display: flex;

		&--full {
			grid-column: span 12;
		}
	}

	&__image {
		display: flex;
		height: clamp(158px, calc(9.375rem + ((1vw - 7.68px) * 27.4914)), 310px);
		overflow: hidden;
		width: 100%;

		@include bp.max(lg) {
			height: inherit;
			aspect-ratio: 2 / 1;
		}

		@include bp.max(md) {
			height: inherit;
			aspect-ratio: 1.5 / 1;
		}

		&--bottom {
			width: 100%;
		}

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			border-radius: clamp(12px, calc(0.75rem + ((1vw - 7.68px) * 0.6873)), 16px);
		}
	}

	&__image-container {
		width: 100%;
	}

	&__image-img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		border-radius: clamp(12px, calc(0.75rem + ((1vw - 7.68px) * 0.6873)), 16px);
	}

	&__logo {
		height: clamp(158px, calc(9.375rem + ((1vw - 7.68px) * 27.4914)), 310px);
		background: var(--theme_color_primary);
		border-radius: clamp(12px, calc(0.75rem + ((1vw - 7.68px) * 0.6873)), 16px);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		background-image: url(../../images/dot-lines.png);
		background-repeat: repeat;
		background-size: cover;

		@include bp.max(lg) {
			height: inherit;
			aspect-ratio: 1.5 / 1;
		}

		@include bp.max(md) {
			height: inherit;
			aspect-ratio: 1 / 1;
		}
	}

	&__logo-inner {
		background: var(--White, #FFF);
		filter: drop-shadow(0 30.745px 40px rgba(0, 62, 105, 0.25));
		width: clamp(70px, calc(4.375rem + ((1vw - 7.68px) * 5.1546)), 100px);
		height: clamp(70px, calc(4.375rem + ((1vw - 7.68px) * 5.1546)), 100px);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: clamp(18px, calc(1.125rem + ((1vw - 7.68px) * 0.8591)), 23px);

		@include bp.max(md) {
			height: 80px;
			width: 80px;
		}

		img {
			width: clamp(46px, calc(2.875rem + ((1vw - 7.68px) * 3.4364)), 66px);
			height: clamp(46px, calc(2.875rem + ((1vw - 7.68px) * 3.4364)), 66px);
			object-fit: contain;

			@include bp.max(md) {
				height: 56px;
				width: 56px;
			}
		}
	}

	&__content {
		max-width: 645px;

		@include bp.max(lg) {
			max-width: 100%;
		}
	}

	&__heading {
		max-width: 545px;

		@include bp.max(lg) {
			max-width: 100%;
		}
	}

	.ai-hero__heading {
		line-height: 1.1667;
	}

	&__counters {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: space-between;
		text-align: center;

		@include bp.max(xl) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}

		@include bp.max(lg) {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
		}

		@include bp.max(md) {
			grid-template-columns: repeat(2, 1fr);
			gap: 18px;
		}

		.ai-hero__counters--counter-number {
			letter-spacing: -0.2px;
		}

		&--counter-item {
			padding: 9px 0;
			display: flex;
			flex-direction: column;
			gap: 8px;

			@include bp.max(lg) {
				text-align: center;
				justify-content: center;
			}
		}
	}
}
