@use "../../css/partials/variables/breakpoints" as bp;
@use "../../css/partials/variables/fluid_mixins" as *;

.ai-hero {
	margin: 0;

	&__grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: fluid(24, 50);
		align-items: center;
	}

	&__col {

		&--images {
			grid-column: span 6;

			@include bp.max(lg) {
				grid-column: span 12;
			}
		}

		&--content {
			grid-column: span 6;

			@include bp.max(lg) {
				grid-column: span 12;
				order: 1;
			}
		}
	}

	&__images {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: fluid(12, 24);
	}

	&__image-wrapper {
		grid-column: span 6;
		display: flex;

		&--full {
			grid-column: span 12;
		}
	}

	&__image {
		display: flex;
		height: fluid(158, 310);
		overflow: hidden;
		width: 100%;

		@include bp.max(lg) {
			height: inherit;
			aspect-ratio: 2 / 1;
		}

		@include bp.max(md) {
			height: inherit;
			aspect-ratio: 1.5 / 1;
		}

		&--bottom {
			width: 100%;
		}

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			border-radius: fluid(12, 16);
		}
	}

	&__image-container {
		width: 100%;
	}

	&__image-img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		border-radius: fluid(12, 16);
	}

	&__logo {
		height: fluid(158, 310);
		background: var(--theme_color_primary);
		border-radius: fluid(12, 16);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		background-image: url(../../images/dot-lines.png);
		background-repeat: repeat;
		background-size: cover;

		@include bp.max(lg) {
			height: inherit;
			aspect-ratio: 1.5 / 1;
		}

		@include bp.max(md) {
			height: inherit;
			aspect-ratio: 1 / 1;
		}
	}

	&__logo-inner {
		background: var(--White, #FFF);
		filter: drop-shadow(0 30.745px 40px rgba(0, 62, 105, 0.25));
		width: fluid(70, 100);
		height: fluid(70, 100);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: fluid(18, 23);

		@include bp.max(md) {
			height: 80px;
			width: 80px;
		}

		img {
			width: fluid(46, 66);
			height: fluid(46, 66);
			object-fit: contain;

			@include bp.max(md) {
				height: 56px;
				width: 56px;
			}
		}
	}

	&__content {
		max-width: 645px;

		@include bp.max(lg) {
			max-width: 100%;
		}
	}

	&__heading {
		max-width: 545px;

		@include bp.max(lg) {
			max-width: 100%;
		}
	}

	&__counters {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: space-between;
		text-align: center;

		@include bp.max(lg) {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
		}

		@include bp.max(md) {
			grid-template-columns: repeat(2, 1fr);
			gap: 18px;
		}

		.ai-hero__counters--counter-number {
			letter-spacing: -0.2px;
		}

		&--counter-item {
			padding: 9px 0;
			display: flex;
			flex-direction: column;
			gap: 8px;

			@include bp.max(lg) {
				text-align: center;
				justify-content: center;
			}
		}
	}
}
