@use "../../css/partials/variables/breakpoints" as bp;
// Swiper Styles
@use "swiper/css";
@use "swiper/css/navigation";
@use "swiper/css/pagination";
@use "swiper/css/effect-fade";

.hero-section {
	background-color: var(--theme_white);
	overflow: hidden;
	position: relative;
	width: 100%;

	.wrapper {
		display: flex;
	}

	&__slide {
		height: auto;
		min-height: clamp(400px, calc(25rem + ((1vw - 7.68px) * 24.3056)), 680px);
		padding: 62px 0 0 0;
		position: relative;
		width: 100%;

		@include bp.max(lg) {
			min-height: inherit;
			padding: 0 0 0 0;
		}
	}

	&__background {
		height: 100%;
		left: 0;
		min-height: clamp(400px, calc(25rem + ((1vw - 7.68px) * 24.3056)), 680px);
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;

		@include bp.max(lg) {
			position: relative;
			min-height: clamp(260px, calc(16.25rem + ((1vw - 3.75px) * 22.7273)), 400px);
			max-height: clamp(260px, calc(16.25rem + ((1vw - 3.75px) * 22.7273)), 400px);
			min-height: clamp(260px, calc(16.25rem + ((1vw - 3.75px) * 22.7273)), 400px);
			overflow: hidden;
			position: relative;
		}
	}

	&__image {
		border-bottom-left-radius: clamp(120px, calc(7.5rem + ((1vw - 7.68px) * 18.0412)), 225px);
		height: 100%;
		object-fit: cover;
		width: 100%;
	}

	&__overlay {
		pointer-events: none;
		position: absolute;
		z-index: 1;

		&--top {
			height: 254px;
			left: 58px;
			top: -108px;
			width: 225px;

			@include bp.max(xxxl) {
				height: 184px;
				left: 24px;
				top: -58px;
				width: 155px;
			}

			@include bp.max(lg) {
				height: 88px;
				left: 20px;
				top: -30px;
				width: 80px;
			}

			@include bp.max(md) {
				height: 68px;
				left: 20px;
				top: -20px;
				width: 60px;
			}
		}

		&--bottom {
			bottom: 45px;
			height: 134px;
			left: 0;
			margin: 0 auto;
			right: 75px;
			width: 161px;

			@include bp.max(xxxl) {
				height: 94px;
				left: auto;
				right: calc(100% - 50%);
				width: 121px;
			}

			@include bp.max(lg) {
				bottom: -10px;
				height: 95px;
				right: 20px;
				width: 110px;
			}

			@include bp.max(md) {
				bottom: -5px;
				height: 75px;
				right: 20px;
				width: 90px;
			}
		}

		img {
			height: auto;
			object-fit: contain;
			width: 100%;
		}
	}

	&__content {
		background: var(--theme_white_gradient);
		border-radius: 32px 32px 0 0;
		margin-left: auto;
		max-width: clamp(500px, calc(31.25rem + ((1vw - 9.92px) * 40.5028)), 645px);
		min-height: 618px;
		padding: 41px 50px 50px 50px;
		position: relative;
		width: 100%;
		z-index: 1;

		@include bp.max(lg) {
			margin: 0;
			max-width: 100%;
			min-height: inherit;
			padding: 24px 0;
		}
	}

	&__heading {
		color: var(--theme_color_secondary);
		margin-bottom: 0;
	}

	&__description {
		color: var(--theme_gray_600);
		font-family: var(--font__main);
		font-size: var(--theme_font_size_9);
		font-weight: 400;
		letter-spacing: -0.36px;
		line-height: 1.5;
		margin-top: 18px;

		@include bp.max(lg) {
			letter-spacing: -0.27px;
		}
	}

	&__tagline {
		font-family: var(--font__main);
		font-size: var(--theme_font_size_9);
		font-style: normal;
		font-weight: 600;
		letter-spacing: -0.36px;
		line-height: 1.5;
		margin-top: 18px;

		@include bp.max(lg) {
			letter-spacing: -0.27px;
		}
	}

	&__actions {
		display: flex;
		gap: 24px;
		margin-top: 25px;

		@media (max-width: 374px) {
			flex-wrap: wrap;
			gap: 12px;
		}

		.site-btn {
			@media (max-width: 374px) {
				justify-content: center;
				text-align: centere;

				width: 100%
			}
		}
	}

	&__slider {
		.swiper-button-next {
			right: 20px;
		}

		.swiper-button-prev {
			left: 20px;
		}
	}
}