@use "../../css/partials/variables/breakpoints" as bp;
@use "../../css/partials/variables/fluid_mixins" as *;

section:has( .icon-grid-block ) {
	position: relative;
	overflow: hidden;
}

.block-layout {

	&:has( .icon-grid-block ) {

		.block-bg-image {
			position: absolute;
			left: 0;
			top: 0;
			width: 100vw;
			height: 100%;
			margin-left: calc( -50vw + 50% );
			opacity: 0.2;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				display: block;
			}
		}
	}
}

.icon-grid-block {
	position: relative;
}

.features-tabs {

	&__no-post {
		display: block;
		text-align: center;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat( 4, 1fr );
		gap: 24px;
		align-items: stretch;

		@include bp.max( xl-large ) {
			grid-template-columns: repeat( 3, 1fr );
			gap: 20px;
		}

		@include bp.max( md ) {
			grid-template-columns: repeat( 2, 1fr );
			gap: 16px;
		}

		@include bp.max( sm ) {
			grid-template-columns: repeat( 1, 1fr );
		}

		&.variation-two-column {
			grid-template-columns: repeat( 2, 1fr );

			@include bp.max( sm ) {
				grid-template-columns: repeat( 1, 1fr );
			}
		}
	}

	&__card {
		background: var( --theme_white );
		border: 1px solid var( --theme_gray_200 );
		border-radius: 16px;
		padding: 24px 24px 28px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 48px;
		height: 100%;
		transition:
			transform 0.3s ease,
			box-shadow 0.3s ease;

		@include bp.max( md ) {
			gap: 36px;
		}

		&:hover {
			box-shadow:
				0 12px 16px -4px rgba( 16, 24, 40, 0.08 ),
				0 4px 6px -2px rgba( 16, 24, 40, 0.03 );
		}
	}

	&__card.is-view-all-hidden,
	&__footer.is-view-all-hidden,
	&__view-all.is-view-all-hidden {
		display: none !important;
	}

	&__content-head {
		flex: 1 1 auto;
		width: 100%;
	}

	&__category {
		color: var( --theme_cg_blue );
		margin: 0 0 4px 0;
	}

	&__card-title {
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
		font-weight: 600;
		line-height: 28px;
		letter-spacing: -0.27px;
		margin-bottom: 0;
		color: var( --theme_gray_900 );
	}

	.badge {
		vertical-align: middle;
		margin-left: 8px;
	}

	&__view-link {
		margin-top: auto;
	}

	.tabs-content {
		padding: var( --theme_space_11 );
		border-radius: 32px;

		@include bp.max( md ) {
			border-radius: 24px;
			padding: 24px;
		}
	}

	&__footer {
		display: flex;
		justify-content: center;
		margin-top: 32px;
	}
}
