.wp-block-ambrygen-hero {
	background-color: #f00;
	color: #fff;
	padding: 2rem;
	text-align: center;

	.hero-heading {
		color: var(--gb_white);
		margin-bottom: 1rem;
	}

	.hero-content {
		color: #fff;
		font-size: 1.1rem;
		line-height: 1.6;
		margin: 0;
	}
}