@use "../../css/partials/variables/breakpoints" as bp;

.our-team {

	.block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		/* dynamic layout tokens */
		--cols: 4;
		--gap: clamp(22px, calc(1.375rem + ((1vw - 7.68px) * 1.7182)), 32px);

		gap: var(--gap);

		@include bp.max(xl-large) {
			--cols: 3;
		}

		@include bp.max(lg) {
			--cols: 3;
		}

		@include bp.max(md) {
			--cols: 2;
		}

		@include bp.max(sm) {
			row-gap: 32px;
		}
	}
}

.our-leadership {

	&__card {
		display: flex;
		flex-direction: column;
		text-decoration: none;
		border-radius: 0;
		border: none;
		padding: 0;

		/* defaults */
		--cols: 3;
		--gap: 24px;

		flex: 0 0 calc((100% / var(--cols)) - var(--gap));

		@include bp.max(xl-large) {
			--cols: 3;
			--gap: 20px;
		}

		@include bp.max(lg) {
			--cols: 3;
			--gap: 16px;
		}

		@include bp.max(md) {
			--cols: 2;
			--gap: 18px;
		}
	}
}
