@use "../../css/partials/variables/breakpoints" as bp;
@use "../../css/partials/variables/fluid_mixins" as *;

.iot-block {
	display: flex;
	align-items: center;
	gap: var(--theme_space_11);

	@include bp.max(lg) {
		flex-direction: column;
		align-items: inherit;
	}

	&__rtl {

		.iot-block__image {
			order: 2;
		}
	}

	&__content {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	&__text {
		display: flex;
		flex-direction: column;
	}

	&__icon--wrapper {
		border-radius: 28px;
		border: 8px solid var(--theme_clear_skies);
		background: var(--theme_lightblue);
		display: inline-flex;
		width: 48px;
		height: 48px;
		align-items: center;
		justify-content: center;

		img {
			width: 20px;
			height: 20px;
			object-fit: contain;
		}
	}

	&.iot-block--border {

		.iot-block__image {
			border: 6px solid var(--theme_gray_900);
			border-radius: 24px;

			@include bp.max(lg) {
				border-width: 4px;
				border-radius: 16px;
			}
		}
	}

	&__image {
		flex-shrink: 0;
		width: fluid(300, 578);
		height: fluid(292, 564);
		border-radius: 24px;
		overflow: hidden;
		position: relative;

		@include bp.max(lg) {
			width: 100%;
			height: auto;
			order: 2;
		}


		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 24px;
		}
	}

	&__variation-with-icon {
		gap: var(--theme_space_13);

		.iot-block__image {
			width: 100%;
			flex: 1 0 0;
			background: var(--theme_gray_100);
			padding: fluid(20, 40);
			border-radius: 0;
			height: auto;
			display: flex;

			@include bp.max(lg) {
				flex: 100% 0 0;
			}

			img {
				border-radius: 12px;
				background-color: var(--theme_gray_900);
				padding: 4px;
			}
		}

		.iot-block__icon--wrapper {
			border-radius: 28px;
			border: 8px solid var(--theme_clear_skies);
			background: var(--theme_lightblue);
			display: inline-flex;
			width: 48px;
			height: 48px;
			align-items: center;
			justify-content: center;

			img {
				width: 20px;
				height: 20px;
				object-fit: contain;
			}
		}
	}
}
