/* -------------------------------------------------
>> Base Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4,
h5,
.heading-5,
h6,
.heading-6 {

	@include font(axi, bold);
	margin: 0 0 20px;
	color: var(--gb_heading_color);
	line-height: var(--line_height_medium);
	text-transform: initial;

	a {
		color: var(--gb_heading_link_color);
		border-bottom: none;

		&:hover {
			color: var(--gb_heading_link_color_hover);
		}
	}
}

h1,
.heading-1 {
	font-size: var(--gb_font_size_1);
}

h2,
.heading-2 {
	font-size: var(--gb_font_size_2);
}

h3,
.heading-3 {
	font-size: var(--gb_font_size_3);
}

h4,
.heading-4 {
	font-size: var(--gb_font_size_4);
}

h5,
.heading-5 {
	font-size: var(--gb_font_size_5);
}

h6,
.heading-6 {
	font-size: var(--gb_font_size_6);
}


.body-small {
	font-size: var(--gb_font_size_6);
	color: var(--gb_blue);
}