/* -------------------------------------------------
>> Styles for headings
------------------------------------------------- */
@use "typo-mixin";
@use "headings";

/* -------------------------------------------------
>> Styles for content tags
------------------------------------------------- */
@use "formatting";
