@use "../../css/partials/variables/breakpoints" as bp;

// Our Testing Menu Section
.our-testing-menu__grid {
	display: block;
	background-color: var(--theme_primary_25);
	border-radius: 32px;
	padding: var(--theme_space_11);

	.block-editor-block-list__layout {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
        gap: var(--theme_space_8);

		@include bp.max(xl) {
			border-radius: 20px;
			grid-template-columns: repeat(2, 1fr);
		}

		@include bp.max(sm) {
			grid-template-columns: repeat(1, 1fr);
		}

		@include bp.max(xs) {
			padding: 20px;
		}
	}
}
