/* -------------------------------------------------
>> Project Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

input[type="image"] {
	margin: 0 10px 0 0;
}

input[type="submit"],
button,
input[type="button"],
input[type="reset"] {
	background-color: var(--theme_cg_blue);
	border: 1px solid transparent;
	box-sizing: border-box;
	color: var(--theme_white);
	cursor: pointer;
	display: inline-block;
	font-family: var(--font__main);
	font-size: var(--theme_font_size_7);
	font-weight: 400;
	height: 50px;
	line-height: 1;
	margin: 0 10px 10px 0;
	outline: none;
	padding: 0 30px;
	transition: all 0.4s ease-in-out;
}

input[type="submit"]:hover,
button:hover,
input[type="button"]:hover {
	background-color: var(--theme_primary_800);
	color: var(--theme_white);
}

input[type="reset"] {
	background-color: var(--theme_cg_blue);
	color: var(--theme_white);

	&:hover {
		background-color: var(--theme_primary_800);
		color: var(--theme_white);
	}
}
