/* -------------------------------------------------
>> Project Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

input[type="image"] {
	margin: 0 10px 0 0;
}

input[type="submit"],
button,
input[type="button"],
input[type="reset"] {
	padding: 0 30px;
	display: inline-block;
	line-height: 1;
	box-sizing: border-box;
	transition: all 0.4s ease-in-out;
	background-color: var(--theme_button_bgcolor);
	border: 1px solid var(--theme_button_bgcolor);
	color: var(--theme_button_color);
	font-family: var(--font__main);
	font-weight: 400;
	font-size: var(--theme_font_size_3);
	height: 50px;
	outline: none;
	cursor: pointer;
	margin: 0 10px 10px 0;
}

input[type="submit"]:hover,
button:hover,
input[type="button"]:hover {
	color: var(--theme_button_color_hover);
	background-color: var(--theme_button_bgcolor_hover);
}

input[type="reset"] {
	background-color: var(--theme_theme_btn_bgcolor);
	color: var(--theme_theme_btn_color);

	&:hover {
		color: var(--theme_theme_btn_color);
		background-color: var(--theme_theme_btn_bgcolor_hover);
	}
}
