/* -------------------------------------------------
>> Base Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */
form {
	margin: 0;
}

label {
	display: inline-block;
	line-height: 1.2;
	margin: 0 0 6px;
}

fieldset {
	display: block;
	margin: 0 0 24px;

	@media (width <= 767px) {
		margin-bottom: 24px;
	}
}

legend {
	display: block;
	margin: 0 0 10px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="password"],
input[type="time"],
input[type="date"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="file"],
input[type="range"],
input[list],
input[type="string"],
select,
textarea {
	transition: all 0.2s ease-in-out;
	background: var(--theme_white);
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
	box-sizing: border-box;
	color: var(--theme_input_color);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	height: 50px;
	line-height: 1.2;
	margin: 0;
	max-width: 100%;
	outline: none;
	padding: 14px 16px;
	width: 100%;

	&:focus {
		background-color: var(--theme_white);
		border-color: var(--theme_Secondary_Dark_Beige);
		box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
	}

	@media (width <= 640px) {
		font-size: 16px;
		height: 44px;
		padding: 12px 12px 13px;
	}
}

// Placeholder Style
::placeholder {
	color: var(--theme_placeholder_color);
	opacity: 0.5;
}

input:focus::placeholder {
	opacity: 1;
}

input[type="text"]:disabled {
	background-color: var(--theme_disabled_input_bgcolor);
	border: 1px solid var(--theme_disabled_input_border_color);
}

input[type="hidden"],
datalist {
	display: none;
}

input[type="file"] {
	padding: 9px;
}

// Search Field Style
input[type="search"] {
	background-position: center right 10px;
	background-repeat: no-repeat;
	padding-right: 45px;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
	display: none;
	height: 0;
	width: 0;
}

input[type="search"]::-ms-reveal {
	display: none;
	height: 0;
	width: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

input[type="color"] {
	appearance: none;
	background-color: var(--theme_color_field_bgcolor);
	border: 1px solid var(--theme_color_field_border_color);
	box-sizing: border-box;
	cursor: pointer;
	height: 25px;
	margin: 0 0 20px;
	padding: 3px;
	width: 50px;
}

::-webkit-color-swatch-wrapper {
	padding: 0;
}

::-webkit-color-swatch {
	border: 0;
	border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
	border: 0;
}

::-moz-focus-inner {
	padding: 0;
}

select {
	appearance: none;
	background-image: url(../images/arrow-down.svg);
	background-position: center right 16px;
	background-repeat: no-repeat;
	background-size: 16px;
	cursor: pointer;
	padding-bottom: 5px;
	padding-top: 5px;

	@media (width <= 640px) {
		background-position: center right 12px;
		background-size: 14px;
	}
}

textarea {
	height: 200px;
	overflow: auto;
	padding: 14px 16px;
	resize: none;

	@media (width <= 640px) {
		padding: 8px 14px 12px;
	}
}
