@use "../../css/partials/variables/breakpoints" as bp;
@use "../../css/partials/variables/fluid_mixins" as *;

.info-list {

	&__row {
		background: var(--theme_primary_25);
		border-radius: 32px;
		padding: fluid(20, 50);
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: 100%;
		gap: fluid(18, 24);

		@include bp.between(1025px, 1200px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include bp.max(md) {
			grid-template-columns: 1fr;
			border-radius: 16px;
		}
	}

	&__card {
		background: var(--theme_primary_white);
		border: 1px solid #E4E7EC;
		border-radius: 16px;
		display: flex;
		flex-wrap: wrap;
		gap: fluid(10, 18);
		padding: fluid(16, 24);
		height: 100%;
	}

	&__image {
		align-self: center;
		display: flex;
		flex: fluid(60, 120) 0 0;
		justify-content: center;

		@include bp.max(xl-large) {
			justify-content: inherit;
		}

		img {
			width: fluid(60, 100);
			height: fluid(60, 100);
			object-fit: contain;
		}
	}

	&__content {
		flex: 1 0 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include bp.max(xl-large) {
			flex: 100% 0 0;
		}

	}

	&__title {
		color: var(--theme_gray_900);
		overflow-wrap: anywhere;
	}

	&__links {
		/* display: flex; */
	}

	&__link-col {
		margin-bottom: 8px;
		color: var(--theme_link_color);

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link {
		text-decoration: none;
		padding: 0;
		border: 0;
		overflow-wrap: anywhere;
	}
}


//provider icon grid styles

.icon-grid {
	$gap-x: clamp(64px, calc(4rem + ((1vw - 7.67px) * 6.175)), 100px);
	$gap-y: clamp(48px, calc(3rem + ((1vw - 7.67px) * 2.7444)), 64px);

	&__header {
		align-items: center;
		display: flex;
		flex-direction: column;
		text-align: center;
		max-width: 768px;
		margin: 0 auto;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: $gap-y $gap-x;
		justify-content: center;

	}

	&__item {
		$cols: 3;
		align-items: center;
		display: flex;
		flex: 0 1 calc((100% / #{$cols}) - (#{$gap-x} * (#{$cols} - 1) / #{$cols}));
		flex-direction: column;
		max-width: 380px;
		text-align: center;

		@include bp.max(lg) {
			$cols-lg: 2;
			flex: 0 1 calc((100% / #{$cols-lg}) - (#{$gap-x} * (#{$cols-lg} - 1) / #{$cols-lg}));
		}

		@include bp.max(md) {
			flex: 0 1 100%;
		}
	}

	&__icon {
		align-items: center;
		background: var(--theme_white);
		border: 1px solid var(--theme_gray_200);
		border-radius: 10px;
		box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
		display: flex;
		height: 48px;
		justify-content: center;
		margin-bottom: clamp(16px, calc(1rem + ((1vw - 7.67px) * 0.6861)), 20px);
		width: 48px;

		img {
			height: 24px;
			width: 24px;
		}
	}

	p {
		color: var(--theme_gray_600);
		margin: 0;
	}

	.site-btn {
		margin-top: auto;
	}
}









.features-tabs {

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 24px;

		@include bp.max(xl-large) {
			grid-template-columns: repeat(3, 1fr);
			gap: 20px;
		}

		@include bp.max(md) {
			grid-template-columns: repeat(2, 1fr);
			gap: 16px;
		}

		@include bp.max(sm) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__card {
		background: #fff;
		border: 1px solid var(--theme_gray_200);
		border-radius: 16px;
		padding: 24px 24px 28px;
		display: flex;
		flex-wrap: wrap;
		gap: 48px;
		transition: transform 0.3s ease, box-shadow 0.3s ease;

		@include bp.max(md) {
			gap: 36px;
		}

		&:hover {
			box-shadow: 0 12px 16px -4px rgba(16, 24, 40, 0.08), 0 4px 6px -2px rgba(16, 24, 40, 0.03);
		}
	}

	&__category {
		color: var(--theme_cg_blue);
		margin: 0 0 4px 0;
	}

	&__card-title {
		// display: flex;
		// align-items: center;
		// flex-wrap: wrap;
		// gap: 8px;
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
		font-weight: 600;
		line-height: 28px;
		letter-spacing: -0.27px;
		margin-bottom: 0;
		color: var(--theme_gray_900);
	}

	.badge {
		vertical-align: middle;
		margin-left: 8px;
	}

	&__footer {
		display: flex;
		justify-content: center;
	}

	&__view-link {
		margin-top: auto;
	}

	.tabs-content {
		padding: var(--theme_space_11);
		border-radius: 32px;

		@include bp.max(md) {
			border-radius: 24px;
			padding: 24px;
		}
	}
}
