@use "partials/mixins/mixins";
@use "partials/fonts/fonts";
@use "partials/variables/variables";
@use "partials/site/layout/button";
@use "partials/site/layout/spacers";
@use "vendors/daterangepicker.css";
@use "partials/site/layout/containers";
@use "partials/typography/typography";
@use "partials/elements/lists";
@use "partials/elements/quotes";
@use "partials/elements/tables";
@use "partials/media/media";
@use "partials/core/core";
@use "partials/wp-blocks/wp-blocks";
@use "editor-static";
@use "partials/site/layout/header-top-bar";
@use "partials/site/layout/header";
@use "partials/site/layout/footer";
@use "partials/site/layout/video-block";
@use "partials/site/layout/vertical_tabs";
@use "partials/site/layout/horizontal_tabs";
@use "partials/site/layout/badges";


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	outline: none;
	text-rendering: optimizelegibility;
}

.wp-block-spacer .components-resizable-box__handle {
	display: none !important;
}

.your-spacer-class .block-editor-block-inspector {
	display: none !important;
}

.center-align {
	text-align: center;
}

.daterangepicker {

	.btn-sm {
		align-items: center;
		appearance: none;
		border: 0;
		border-radius: 2px;
		box-sizing: border-box;
		cursor: pointer;
		display: inline-flex;
		font-family: inherit;
		font-size: 13px;
		font-weight: 400;
		height: 36px;
		margin: 0;
		padding: 6px 12px;
		transition: box-shadow 0.1s linear;
		background: var(--wp-components-color-accent);
		color: #fff;
		outline: 1px solid transparent;
		text-decoration: none;
		text-shadow: none;
		white-space: nowrap;
	}

	.applyBtn {
		--wp-components-color-accent: var(--theme_blue);
	}

	.cancelBtn {
		--wp-components-color-accent: var(--theme_red);
	}
}

.interface-interface-skeleton__sidebar {

	.description {
		padding: 6px 20px 16px !important;
		margin-top: 0 !important;
		border-top: 1px solid var(--theme_gray_2);
	}
}

html :where(.editor-styles-wrapper) {
	padding: 8px;
}

html {

	body {

		.editor-styles-wrapper {

			:where(.wp-block) {
				margin-bottom: 28px;
			}
		}
	}
}

.interface-interface-skeleton__content {
	overflow-x: hidden;
}

.editor-styles-wrapper {
	font-family: var(--font__main);
	font-weight: 400;
	font-size: var(--theme_font_size_7);
	color: var(--theme_body_color);
	line-height: 1.5;

	ol li,
	ul li {
		margin: 0;
	}

	.block-editor-block-list__layout {

		@include lists.custom-list-styles;
	}

	.site-footer {

		.footer-menu {

			&__item {
				padding-left: 0;
			}
		}
	}

	.block-editor-block-list__block {

		.block-editor-block-list__layout {

			>.block-editor-block-list__block {

				figcaption {
					display: block;
					width: 100%;
				}
			}
		}
	}

	table {
		table-layout: auto;
	}

	thead {

		tr {

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	tr {
		border-bottom: 0;
	}

	tbody {

		tr {
			border-bottom: 0;
		}
	}

	.wp-block-spacer {
		border: 1px solid var(--theme_gray_3);
	}

}

.components-panel__body {

	.block-editor-line-height-control {
		margin-top: 10px;
	}
}


.editor-sidebar {
	.block-editor-link-control {
		min-width: inherit;
		width: 100%;

		.block-editor-url-input {
			width: 100%;
			min-width: inherit;
		}

		.block-editor-link-control__field {
			margin: 0;
		}

		.block-editor-link-control__search-item {
			padding: 0;
			margin-top: 15px;
		}

		.block-editor-link-control__search-item .block-editor-link-control__search-item-title span {
			line-height: normal;
		}
	}

	.layout-variant-selector {
		margin: 20px 0;
		.variant-button {
			margin-top: 15px;
			border-radius: 0;
			border: 2px solid var(--theme_gray_400);

			&:first-child {
				margin-top: 0;
			}

			&.is-selected {
				border-color: var(--theme_cg_blue);

				span {
					color: var(--theme_cg_blue);
				}
			}

			img {
				display: block;
			}

			span {
				font-size: 14px;
				font-weight: 500;
				line-height: normal;
				display: block;
				padding: 5px 0;
			}
		}
	}
}



.actions-button {
	display: flex;
	gap: 15px;

	.components-button.is-secondary {
		color: #004085;
		background-color: #cce5ff;
		border-color: #b8daff;

		&:hover {
			color: #012b58;
			background-color: #cce5ff;
		}
	}

	.components-button.is-destructive {
		color: #721c24;
		background-color: #f8d7da;
		border-color: #f5c6cb;
		height: inherit;
		line-height: normal;
		padding: 6px 12px;
	}
}
