@use "partials/mixins/mixins";
@use "partials/fonts/fonts";
@use "partials/variables/variables";
@use "partials/site/layout/button";
@use "partials/site/layout/spacers";
@use "vendors/daterangepicker.css";
@use "partials/site/layout/containers";
@use "partials/typography/typography";
@use "partials/elements/lists";
@use "partials/elements/quotes";
@use "partials/elements/tables";
@use "partials/media/media";
@use "partials/core/core";
@use "partials/wp-blocks/wp-blocks";
@use "editor-static";
// @use "partials/site/layout/header";
// @use "partials/site/layout/menu-desktop";

@use "partials/site/layout/header-top-bar";
@use "partials/site/layout/header";
@use "partials/site/layout/footer";

// @use "partials/variables/breakpoints" as bp;


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	outline: none;
	text-rendering: optimizelegibility;
}

.wp-block-spacer .components-resizable-box__handle {
	display: none !important;
}

.your-spacer-class .block-editor-block-inspector {
	display: none !important;
}

.daterangepicker {

	.btn-sm {
		align-items: center;
		appearance: none;
		border: 0;
		border-radius: 2px;
		box-sizing: border-box;
		cursor: pointer;
		display: inline-flex;
		font-family: inherit;
		font-size: 13px;
		font-weight: 400;
		height: 36px;
		margin: 0;
		padding: 6px 12px;
		transition: box-shadow 0.1s linear;
		background: var(--wp-components-color-accent);
		color: #fff;
		outline: 1px solid transparent;
		text-decoration: none;
		text-shadow: none;
		white-space: nowrap;
	}

	.applyBtn {
		--wp-components-color-accent: var(--theme_blue);
	}

	.cancelBtn {
		--wp-components-color-accent: var(--theme_red);
	}
}

.interface-interface-skeleton__sidebar {

	.description {
		padding: 6px 20px 16px !important;
		margin-top: 0 !important;
		border-top: 1px solid var(--theme_gray_2);
	}
}

html :where(.editor-styles-wrapper) {
	padding: 8px;
}

html {

	body {

		.editor-styles-wrapper {

			:where(.wp-block) {
				margin-bottom: 28px;
			}
		}
	}
}

.interface-interface-skeleton__content {
	overflow-x: hidden;
}

.editor-styles-wrapper {
	font-family: var(--font__main);
	font-weight: 400;
	font-size: var(--theme_font_size_7);
	color: var(--theme_body_color);
	line-height: 1.5;

	ol li,
	ul li {
		margin: 0;
	}

	.block-editor-block-list__layout {

		@include lists.custom-list-styles;
	}

	// .top-bar__wrapper {
	// 	margin-bottom: 0;

	// 	.top-bar__row {
	// 		margin-bottom: 0;

	// 		p {
	// 			margin-bottom: 0;
	// 		}

	// 		.top-bar__close {
	// 			margin-bottom: 0;

	// 			.top-bar__close-icon {
	// 				margin-bottom: 0;

	// 				figure {
	// 					margin: 0;
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	// .header__inner {

	// 	.wp-block {

	// 		&.nav__menu {

	// 			.nav__list {

	// 				.nav__item {
	// 					padding: 16px;
	// 					background-color: var(--theme_gray_100);

	// 					&::before {
	// 						display: none;
	// 					}

	// 					.block-editor-block-list__block {
	// 						margin-bottom: 20px;
	// 					}

	// 					.nav__link {
	// 						text-decoration: none;
	// 						font-size: var(--theme_font_size_9);
	// 						font-weight: 600;
	// 						line-height: 1.5;
	// 						letter-spacing: -0.24px;
	// 						color: var(--theme_gray_800);
	// 					}
	// 				}

	// 				.nav__item--mega-menu {

	// 					.nav__item--mega-menu__submenu-inner--links {
	// 						margin: 20px 0 0 0;
	// 						padding: 0;

	// 						li,
	// 						.nav__item--mega-menu__submenu-inner--link-wrapper {
	// 							margin: 0 0 20px 0;
	// 							padding: 0;

	// 							&::before {
	// 								display: none;
	// 							}

	// 							.nav__item--mega-menu__submenu-inner--link {
	// 								display: flex;
	// 								align-items: center;
	// 								gap: 10px;
	// 								text-decoration: none;
	// 								color: inherit;
	// 							}

	// 							.remove-link-btn {
	// 								right: 0 !important;
	// 								top: -6px !important;
	// 							}
	// 						}
	// 					}

	// 					.nav__item--mega-menu__second-level {

	// 						.nav__item--mega-menu__grid {
	// 							grid-template-columns: 400px 1fr;

	// 							.nav__item--mega-menu__cl-left {

	// 								.nav__item--mega-menu__second-level--submenu-inner {
	// 									margin-top: 0;
	// 									border: none;
	// 									padding: 0;
	// 									border-radius: 0;
	// 								}
	// 							}

	// 							.nav__item--mega-menu__cl-right {

	// 								.nav__item--mega-menu__category-submenu-lists--image {
	// 									margin-bottom: 20px;

	// 									figure {
	// 										width: 100%;
	// 										margin: 0;
	// 										overflow: hidden;

	// 										img {
	// 											object-fit: contain;
	// 											border-radius: 8px;
	// 											display: block;
	// 											width: 100%;
	// 											max-width: 100%;
	// 											height: 480px;
	// 										}
	// 									}
	// 								}
	// 							}
	// 						}
	// 					}

	// 					.nav__item--mega-menu__grid {
	// 						display: grid;
	// 						grid-template-columns: 1fr 1fr 1fr;
	// 						gap: 24px;


	// 						.nav__item--mega-menu__item {
	// 							background: #FFF;
	// 							border-radius: 24px;
	// 							padding: 12px;

	// 							.nav__item--mega-menu__col {

	// 								.nav__item--mega-menu__image {
	// 									max-height: 360px;
	// 									width: 100%;
	// 									margin-bottom: 20px;
	// 									overflow: hidden;
	// 									border-radius: 12px;

	// 									img {
	// 										width: 100%;
	// 										height: 100%;
	// 										object-fit: cover;
	// 										display: block;
	// 									}
	// 								}

	// 								.nav__item--mega-menu__info {
	// 									margin-top: 10px;
	// 								}
	// 							}
	// 						}

	// 						.nav__item--mega-menu__submenu-inner {
	// 							margin-top: 40px;
	// 							border: 1px solid var(--theme_gray_300);
	// 							padding: 15px;
	// 							border-radius: 8px;

	// 							.nav__item--mega-menu__submenu-inner--col {

	// 								>div {

	// 									button {

	// 										&.components-button {
	// 											right: -10px;
	// 											top: -40px;
	// 											position: relative;
	// 										}
	// 									}
	// 								}
	// 							}


	// 						}

	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	.site-footer {

		.footer-menu {

			&__item {
				padding-left: 0;
			}
		}
	}

	.block-editor-block-list__block {

		.block-editor-block-list__layout {

			>.block-editor-block-list__block {

				figcaption {
					display: block;
					width: 100%;
				}
			}
		}
	}

	table {
		table-layout: auto;
	}

	thead {

		tr {

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	tr {
		border-bottom: 0;
	}

	tbody {

		tr {
			border-bottom: 0;
		}
	}

	.wp-block-spacer {
		border: 1px solid var(--theme_gray_3);
	}

}

.components-panel__body {

	.block-editor-line-height-control {
		margin-top: 10px;
	}
}
