@use "partials/mixins/mixins";
@use "partials/fonts/fonts";
@use "partials/variables/variables";
@use "partials/site/layout/button";
@use "partials/site/layout/spacers";
@use "vendors/daterangepicker.css";
@use "partials/site/layout/containers";
@use "editor-static";
@use "partials/typography/typography";
@use "partials/elements/lists";
@use "partials/elements/quotes";
@use "partials/elements/tables";
@use "partials/media/media";
@use "partials/core/core";
@use "partials/wp-blocks/wp-blocks";

.wp-block-spacer .components-resizable-box__handle {
	display: none !important;
}

.your-spacer-class .block-editor-block-inspector {
	display: none !important;
}

.block-editor-block-list__layout {
	margin-bottom: 30px;
}

.daterangepicker {

	.btn-sm {
		align-items: center;
		appearance: none;
		border: 0;
		border-radius: 2px;
		box-sizing: border-box;
		cursor: pointer;
		display: inline-flex;
		font-family: inherit;
		font-size: 13px;
		font-weight: 400;
		height: 36px;
		margin: 0;
		padding: 6px 12px;
		transition: box-shadow 0.1s linear;
		background: var(--wp-components-color-accent);
		color: #fff;
		outline: 1px solid transparent;
		text-decoration: none;
		text-shadow: none;
		white-space: nowrap;
	}

	.applyBtn {
		--wp-components-color-accent: #3858e9;
	}

	.cancelBtn {
		--wp-components-color-accent: #cc1818;
	}
}

.interface-interface-skeleton__sidebar {

	.description {
		padding: 6px 20px 16px !important;
		margin-top: 0 !important;
		border-top: 1px solid #eee;
	}
}

html :where(.editor-styles-wrapper) {
	padding: 8px;
}

html {

	body {

		.editor-styles-wrapper {

			:where(.wp-block) {
				margin-bottom: 28px;
			}
		}
	}
}

.interface-interface-skeleton__content {
	overflow-x: hidden;
}

.editor-styles-wrapper {
	font-family: var(--font__main);
	font-weight: 700;
	font-size: var(--theme_font_size_5);
	color: var(--theme_body_color);
	line-height: 1.5;

	ol li,
	ul li {
		margin: 0;
	}

	.block-editor-block-list__layout {

		@include lists.custom-list-styles;
	}

	.block-editor-block-list__block {
		margin-bottom: 35px !important;

		.block-editor-block-list__layout {

			>.block-editor-block-list__block {
				margin-bottom: 20px !important;

				figcaption {
					display: block;
					width: 100%;
				}
			}
		}
	}

	table {
		table-layout: auto;
	}

	thead {

		tr {

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	tr {
		border-bottom: 0;
	}

	tbody {

		tr {
			border-bottom: 0;
		}
	}

	.wp-block-spacer {
		border: 1px solid #adb2ad;
	}

}

.components-panel__body {

	.block-editor-line-height-control {
		margin-top: 10px;
	}
}
