@use "partials/site/layout/containers";
@use "partials/site/blocks-background";

.mb-0 {
	margin-bottom: 0 !important;
}

.theme-spacer {
	background-image: url(../images/spacer.jpg);
}

.wp-block-spacer {
	background: rgb(0 0 0 / 10%);
}

.editor-ctn {
	border: 3px dashed var(--theme_gray_3);
}

.editor-no-design {
	border: 3px dashed var(--theme_gray_4);
}

.description {
	border-top: 1px solid var(--theme_gray_2);
	margin-top: 0 !important;
	padding: 6px 20px 16px !important;
}

.wp-block {

	&.is-selected {
		outline: 1.5px solid var(--theme_color_primary);
		border-radius: 2px;
		box-shadow: none;
		outline-offset: -1.5px;
	}

	&.block-editor-block-list__block {
		margin-bottom: 40px;

		&.wp-block-spacer {
			margin-bottom: 20px;
			margin-top: 20px;
		}
	}

	.block-editor-inner-blocks {

		.block-editor-block-list__block {
			border: var(--theme_black_2) solid 1px;
		}
	}
}

// :root :where(.is-layout-flow) > * {
//     margin-block-start: 0 !important;
//     margin-block-end: 0;
// }
