@use "partials/site/layout/containers";

.theme-spacer {
	background-image: url("../images/spacer.jpg");
}

.wp-block-spacer {
	background: rgb(0 0 0 / 10%);
}

.editor-ctn {
	border: 3px dashed #575757;
}

.editor-no-design {
	border: 3px dashed #7b7b7b;
}

.description {
	border-top: 1px solid #eee;
	margin-top: 0 !important;
	padding: 6px 20px 16px !important;
}
