/**
 * Editor styles for block
 */

.alongside-faq__description {
	margin: 16px 0 0 0;
	color: var(--theme_gray_600);
}


.faq__answer-list {

	li {
		display: flex;
		gap: 10px;
		justify-content: space-between;

		.actions-button {
			flex: auto 0 0;
			padding-right: 10px;
		}
	}
}

.faq {

	.faq__item {

		.faq__icon {
			display: none;
		}
	}
}
