
@use "../../css/partials/variables/breakpoints" as bp;

.alongside-faq {

    &__row {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }

    &__title {
        font-weight: 600;
        line-height: 1.22;
    }

    &__col {

        &--left {
            flex: clamp(480px, calc(30rem + ((1vw - 7.68px) * 16.8385)), 578px) 0 0;

            @include bp.max(lg) {
                flex: 100% 0 0;
            }
        }

        &--right {
            flex: 1 0 0;

            @include bp.max(lg) {
                flex: 100% 0 0;
            }
        }
    }

    &__media {
        display: flex;
        height: clamp(270px, calc(16.875rem + ((1vw - 7.68px) * 25.0859)), 416px);
        overflow: hidden;
        border-radius: 16px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
