/* -------------------------------------------------
>> Accessibility styles for WordPress Gallery Block
------------------------------------------------- */
@use "wp-gallery";

/* -------------------------------------------------
>> Accessibility styles for WordPress Cover Block
------------------------------------------------- */
@use "wp-cover";

/* -------------------------------------------------
>> Accessibility styles for WordPress Calender Block
------------------------------------------------- */
@use "wp-calendar";

/* -------------------------------------------------
>> Accessibility styles for WordPress Categories Block
------------------------------------------------- */
@use "wp-categories";

/* -------------------------------------------------
>> Accessibility styles for WordPress Image Block
------------------------------------------------- */
@use "wp-image";

/* -------------------------------------------------
>> Accessibility styles for WordPress Latest Comments Block
------------------------------------------------- */
@use "wp-latest-comments";

/* -------------------------------------------------
>> Accessibility styles for WordPress Latest Posts Block
------------------------------------------------- */
@use "wp-latest-posts";

/* -------------------------------------------------
>> Accessibility styles for WordPress Quote Block
------------------------------------------------- */
@use "wp-quote";

/* -------------------------------------------------
>> Accessibility styles for WordPress PullQuote Block
------------------------------------------------- */
@use "wp-pullquote";

/* -------------------------------------------------
>> Accessibility styles for WordPress RSS Feed Block
------------------------------------------------- */
@use "wp-rss-feed";

/* -------------------------------------------------
>> Accessibility styles for WordPress Search Block
------------------------------------------------- */
@use "wp-search";

/* -------------------------------------------------
>> Accessibility styles for WordPress Social-links Block
------------------------------------------------- */
@use "wp-social-links";

/* -------------------------------------------------
>> Accessibility styles for WordPress Tag Cloud Block
------------------------------------------------- */
@use "wp-tag-cloud";
