@use "sass:map";
@use "sass:meta";
@use "sass:math";

$media: (
	xs: 375px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl-large: 1024px,
	xl: 1199px,
	xxl: 1280px,
	xxxl: 1350px
);

@function bp($value) {

	// Raw value like 768px
	@if meta.type-of($value) == number and not math.is-unitless($value) {

		@return $value;
	}

	// Map key like md / lg
	@if map.has-key($media, $value) {

		@return map.get($media, $value);
	}

	@error "Invalid breakpoint `#{$value}`. Use a map key (md) or a value with units (768px).";
}

@mixin min($value) {

	@media (min-width: bp($value)) {
		@content;
	}
}

@mixin max($value) {

	@media (max-width: (bp($value) - 1px)) {
		@content;
	}
}

@mixin between($min, $max) {

	@media (min-width: bp($min)) and (max-width: (bp($max) - 1px)) {
		@content;
	}
}
