:root {

	/* Theme Primary */
	--theme_color_primary: #009BD2;
	--theme_color_on-primary: #fff;
	--theme_primary_white: #fff;
	--theme_primary_pale_blue: #B9DCFC;
	--theme_white_gradient: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.80) 100%);
	--primary-500: #00AAE7;
	--theme_blue_gradient: linear-gradient(0deg, #0079A4 0%, #0079A4 100%), #FFF;

	/* Theme Secondary */
	--theme_color_secondary: #003E69;

	/* Theme Dark */
	--theme_black: #000;
	--theme_black_1: #14191f;
	--theme_black_2: #606364;
	--theme_black_30: rgba(0, 0, 0, 0.30);

	/* Theme Light */
	--theme_white: #fff;
	--theme_white_1: #f1f1f1;
	--theme_white_2: #f1e9e9;
	--theme_white_30: rgba(255, 255, 255, 0.30);
	--theme_white_80: rgba(255, 255, 255, 0.80);

	/* Theme Colors */
	--theme_gray: #e0e0e0;
	--theme_gray_1: #e6e6e6;
	--theme_gray_2: #eee;
	--theme_gray_3: #575757;
	--theme_gray_4: #7b7b7b;
	--theme_gray_201: #E4E7EC;

	--theme_blue: #0013ff;
	--theme_blue_1: #00a4eb;
	--theme_blue_2: #2ca8dd;
	--theme_blue_50: #EFF8FF;
	--theme_blue_200: #B2DDFF;
	--theme_blue_500: #2E90FA;
	--theme_blue_700: #175CD3;

	--theme_navy: #091a17;
	--theme_navy_1: #15332e;
	--theme_navy_2: #2f655c;

	--theme_red: #f00;
	--theme_sea_green: #04c3b4;
	--theme_transparent: transparent;

	--theme_primary_25: #F1FAFE;
	--theme_lightblue: #B0E5F8;
	--theme_primary_800: #005E7F;

	--theme_gray_50: #F9FAFB;
	--theme_gray_100: #F2F4F7;
	--theme_gray_200: #EAECF0;
	--theme_gray_300: #D0D5DD;
	--theme_gray_400: #98A2B3;
	--theme_gray_500: #667085;
	--theme_gray_600: #475467;
	--theme_gray_700: #344054;
	--theme_gray_800: #1D2939;
	--theme_gray_900: #101828;

	--theme_primary_200: #8AD8F4;
	--theme_cg_blue: #0079A4;


	--theme_clear_skies: #E6F7FD;
	--theme_smith_apple: #004761;
	--theme_clean_pool: #54c6ef;
	--theme_lynx_screen_blue: #33bbec;

	/*linear-gradient*/
	--theme_lightblue_gradient: linear-gradient(0deg, #B0E5F8 0%, #B0E5F8 100%), linear-gradient(0deg, #F1FAFE 0%, #F1FAFE 100%), linear-gradient(0deg, #F2F4F7 0%, #F2F4F7 100%), #FFF;


	/* Text Variations */
	--theme_regular_text: #14191f;
	--theme_dark_text: #14191f;
	--theme_white_text: #f7f7f7;
	--theme_light_text: #606364;

	/* Fixed Status Colors */
	--theme_success: #198754;
	--theme_info: #0dcaf0;
	--theme_warning: #ffc107;
	--theme_danger: #dc3545;
	--theme_light: #f8f9fa;
	--theme_dark: #212529;

	--theme_signal: #d14b3c;
	--theme_signal_bg: #fbede9;

	--theme_color_background: #fff;
	--theme_color_on_background: #14191f;

	/* Borders */
	--theme_border: #30353c;
	--theme_border_1: #545454;
	--theme_border_2: #adadad;
	--theme_border_3: #e0e0e0;

	--theme_pure-black: #000;

	/* Form Fields */
	--theme_field_bg: #fff;
	--theme_light-field_bg: #fff;
	--theme_danger_bg: #f8d7da;
	--theme_success_bg: #d4edda;

	/* Semantic Colors */
	--theme_body_color: var(--theme_gray_600);
	--theme_body_bg: var(--theme_color_background);
	--theme_text_strong: var(--theme_black);
	--theme_highlight_color: var(--theme_color_on_primary);
	--theme_highlight_bg: var(--theme_color_primary);
	--theme_caption: var(--theme_black_2);

	/* Headings */
	--theme_heading_color: var(--theme_color_secondary);

	/* Links */
	--theme_link_color: var(--theme_color_primary);
	--theme_link_color_hover: var(--theme_smith_apple);
	--theme_link_border_color: var(--theme_color_primary);
	--theme_link_border_color_hover: var(--theme_smith_apple);

	/* Lists */
	--theme_list_ul_marker_color: var(--theme_color_primary);
	--theme_list_ol_marker_color: var(--theme_color_primary);

	/* Blockquote */
	--theme_blockquote_color: var(--theme_regular_text);
	--theme_blockquote_border_color: var(--theme_regular_text);
	--theme_quote_color: var(--theme_regular_text);
	--theme_blockquote_cite_color: var(--theme_light_text);
	--theme_blockqoute_cite_color: var(--theme_regular_text);

	/* Tables */
	--theme_table_border_color: var(--theme_border);
	--theme_caption_color: var(--theme_color_primary);
	--theme_table_foot_border_color: var(--theme_border);
	--theme_wp_table_block_stripe_bg_color: var(--theme_white_1);
	--theme_table_head_border_color: var(--theme_border);

	/* Table */

	/* Code */
	--theme_code_color: var(--theme_white_text);
	--theme_code_bgcolor: var(--theme_dark_text);
	--theme_pre_color: var(--theme_white_text);
	--theme_mark_bgcolor: var(--theme_dark_text);
	--theme_mark_color: var(--theme_white_text);

	/* Buttons */
	--theme_button_color: var(--theme_white_text);
	--theme_button_bgcolor: var(--theme_color_primary);
	--theme_button_color_hover: var(--theme_white_text);
	--theme_button_bgcolor_hover: var(--theme_clean_pool);

	--theme_secondary_button_color: var(--theme_clean_pool);
	--theme_secondary_button_bgcolor: var(--theme_lightblue);
	--theme_secondary_button_color_hover: var(--theme_clean_pool);
	--theme_secondary_button_bgcolor_hover: var(--theme_lynx_screen_blue);

	/* Header */
	--theme_header_bgcolor: var(--theme_transparent);
	--theme_header_color: var(--theme_black);
	--theme_header_color_hover: var(--theme_black);
	--theme_header_bgcolor_sticky: var(--theme_white);

	/* Footer */
	--theme_footer_bgcolor: var(--theme_dark_text);
	--theme_footer_color: var(--theme_white_text);
	--theme_footer_color_hover: var(--theme_white_text);


	--theme_comment_meta_color: var(--theme_body_color);
	--theme_comment_metadata_color: var(--theme_body_color);
	--theme_comments_list_border_color: var(--theme_body_color);
	--theme_comments_reply_btn_bgcolor: var(--theme_cg_blue);
	--theme_comments_reply_btn_bgcolor_hover: var(--theme_primary_800);

	/* CheckBox */
	--theme_radio_color: var(--theme_regular_text);
	--theme_radio_bgcolor: var(--theme_regular_text);
	--theme_radio_after_bgcolor: var(--theme_white);

	--theme_abbr_border_color: var(--theme_pure-black);
	--theme_underline_border_color: var(--theme_color_primary);
	--theme_delete_color: var(--theme_red);
	--theme_insert_color: var(--theme_cg_blue);
	--theme_insert_border_color: var(--theme_cg_blue);
	--theme_pre_bgcolor: var(--theme_color_primary);
	--theme_hr_color: var(--theme_pure-black);

}
