:root {

	/* Theme Primary */
	--theme_color_primary: #009BD2;
	--theme_color_on-primary: #fff;
	--theme_primary_white: #fff;
	--theme_primary_pale-blue: #B9DCFC;

	/* Theme Secondary */
	--theme_color_secondary: #003E69;

	/* Theme Dark */
	--theme_black: #000;
	--theme_black_1: #14191f;
	--theme_black_2: #606364;

	/* Theme Light */
	--theme_white: #fff;
	--theme_white_1: #f1f1f1;
	--theme_white_2: #f1e9e9;

	/* Theme Colors */
	--theme_gray: #e0e0e0;
	--theme_gray_1: #e6e6e6;
	--theme_gray_2: #eee;
	--theme_gray_3: #575757;
	--theme_gray_4: #7b7b7b;

	--theme_blue: #0013ff;
	--theme_blue_1: #00a4eb;
	--theme_blue_2: #2ca8dd;

	--theme_navy: #091a17;
	--theme_navy_1: #15332e;
	--theme_navy_2: #2f655c;

	--theme_red: #f00;
	--theme_sea_green: #04c3b4;
	--theme_transparent: transparent;

	--theme_aliceblue: #F1FAFE;
	--theme_lightblue: #B0E5F8;
	--theme_lightblue_text: #005E7F;

	--theme_gray_100: #F2F4F7;
	--theme_gray_300: #D0D5DD;
	--theme_gray_400: #98A2B3;
	--theme_gray_500: #667085;
	--theme_gray_600: #475467;
	--theme_gray_700: #344054;
	--theme_gray_800: #1D2939;
	--theme_gray_900: #101828;

	--theme_primary_200: #8AD8F4;
	--theme_cg_blue: #0079A4;

	/* Text Variations */
	--theme_regular_text: #14191f;
	--theme_dark_text: #14191f;
	--theme_white_text: #f7f7f7;
	--theme_light_text: #606364;

	/* Fixed Status Colors */
	--theme_success: #198754;
	--theme_info: #0dcaf0;
	--theme_warning: #ffc107;
	--theme_danger: #dc3545;
	--theme_light: #f8f9fa;
	--theme_dark: #212529;

	--theme_signal: #d14b3c;
	--theme_signal_bg: #fbede9;

	--theme_color_background: #fff;
	--theme_color_on_background: #14191f;

	/* Borders */
	--theme_border: #30353c;
	--theme_border_1: #545454;
	--theme_border_2: #adadad;
	--theme_border_3: #e0e0e0;

	--theme_pure-black: #000;

	/* Form Fields */
	--theme_field_bg: #fff;
	--theme_light-field_bg: #fff;
	--theme_danger_bg: #f8d7da;
	--theme_success_bg: #d4edda;

	/* Semantic Colors */
	--theme_body_color: var(--theme_gray_600);
	--theme_body_bg: var(--theme_color_background);
	--theme_text_strong: var(--theme_black);
	--theme_highlight_color: var(--theme_color_on_primary);
	--theme_highlight_bg: var(--theme_color_primary);
	--theme_caption: var(--theme_black_2);

	/* Headings */
	--theme_heading_color: var(--theme_color_secondary);
	--theme_heading_link_color: var(--theme_dark_text);
	--theme_heading_link_color_hover: var(--theme_dark_text);

	/* Links */
	--theme_link_color: var(--theme_color_primary);
	--theme_link_color_hover: var(--theme_color_primary);
	--theme_link_border_color: var(--theme_color_primary);
	--theme_link_border_color_hover: transparent;

	/* Lists */
	--theme_list_ul_marker_color: var(--theme_color_primary);
	--theme_list_ol_marker_color: var(--theme_color_primary);

	/* Blockquote */
	--theme_blockquote_color: var(--theme_regular_text);
	--theme_blockquote_border_color: var(--theme_regular_text);
	--theme_quote_color: var(--theme_regular_text);
	--theme_blockquote_cite_color: var(--theme_light_text);

	/* Tables */
	--theme_table_border_color: var(--theme_border);
	--theme_table_head_border_color: var(--theme_dark_text);
	--theme_table_foot_border_color: var(--theme_dark_text);

	/* Code */
	--theme_code_color: var(--theme_white_text);
	--theme_code_bgcolor: var(--theme_dark_text);
	--theme_pre_color: var(--theme_white_text);
	--theme_pre_bgcolor: var(--theme_dark_text);
	--theme_mark_bgcolor: var(--theme_dark_text);
	--theme_mark_color: var(--theme_white_text);

	/* HR */
	--theme_hr_color: var(--theme_border_2);

	/* Buttons */
	--theme_button_color: var(--theme_white_text);
	--theme_button_bgcolor: var(--theme_color_secondary);
	--theme_button_color_hover: var(--theme_black);
	--theme_button_bgcolor_hover: var(--theme_primary_pale_blue);
	--theme_button_border_color: var(--theme_color_secondary);
	--theme_button_border_color_hover: var(--theme_border);

	/* Header */
	--theme_header_bgcolor: var(--theme_transparent);
	--theme_header_color: var(--theme_black);
	--theme_header_color_hover: var(--theme_black);
	--theme_header_bgcolor_sticky: var(--theme_white);

	/* Footer */
	--theme_footer_bgcolor: var(--theme_dark_text);
	--theme_footer_color: var(--theme_white_text);
	--theme_footer_color_hover: var(--theme_white_text);
}
