/* -------------------------------------------------
>> Font Sizes (SCSS Variables)
------------------------------------------------- */

/* ------- [ D-64 to M-40 ] - [ Text-64 ] ------- */
$theme_font_size_1: clamp(40px, calc(2.5rem + ((1vw - 7.68px) * 4.1237)), 64px);

/* ------- [ D-48 to M-34 ] - [ Text-48 ] ------- */
$theme_font_size_2: clamp(34px, calc(2.125rem + ((1vw - 7.68px) * 2.4055)), 48px);

/* ------- [ D-40 to M-30 ] - [ Text-40 ] ------- */
$theme_font_size_3: clamp(30px, calc(1.875rem + ((1vw - 7.68px) * 1.7182)), 40px);

/* ------- [ D-34 to M-26 ] - [ Text-34 ] ------- */
$theme_font_size_4: clamp(26px, calc(1.625rem + ((1vw - 7.68px) * 1.3746)), 34px);

/* ------- [ D-28 to M-22 ] - [ Text-28 ] ------- */
$theme_font_size_5: clamp(22px, calc(1.375rem + ((1vw - 7.68px) * 1.0309)), 28px);

/* ------- [ D-18 to M-16 ] - [ Text-18 ] ------- */
$theme_font_size_6: clamp(16px, calc(1rem + ((1vw - 7.68px) * 0.3436)), 18px);

/* ------- [ D-16 to M-15 ] - [ Text-16 ] ------- */
$theme_font_size_7: clamp(15px, calc(0.9375rem + ((1vw - 7.68px) * 0.1718)), 16px);

/* ------- [ D-22 to M-20 ] - [ Text-22 ] ------- */
$theme_font_size_8: clamp(20px, calc(1.25rem + ((1vw - 7.68px) * 0.3436)), 22px);

/* ------- [ D-20 to M-18 ] - [ Text-20 ] ------- */
$theme_font_size_10: clamp(18px, calc(1.125rem + ((1vw - 7.68px) * 0.3436)), 20px);

/* ------- [ D-14 to M-13 ] - [ Text-14 ] ------- */
$theme_font_size_13: clamp(13px, calc(0.8125rem + ((1vw - 7.68px) * 0.1718)), 14px);
