@use "spacing" as spacing;
@use "fonts_size" as typography;
@use "colors" as colors;
@use "utilities" as utilities;


:root {
    // Global theme font.
    $font__main: "Axiforma-Regular", sans-serif;

    // Fallback font.
    $font__fallback: sans-serif;


    /* -------------------------------------------------
	>> Spacing Variables (from SCSS)
	------------------------------------------------- */
    --theme_space_1: #{spacing.$theme_space_1};
    --theme_space_2: #{spacing.$theme_space_2};
    --theme_space_3: #{spacing.$theme_space_3};
    --theme_space_4: #{spacing.$theme_space_4};
    --theme_space_5: #{spacing.$theme_space_5};
    --theme_space_6: #{spacing.$theme_space_6};
    --theme_space_7: #{spacing.$theme_space_7};
    --theme_space_8: #{spacing.$theme_space_8};
    --theme_space_9: #{spacing.$theme_space_9};
    --theme_space_10: #{spacing.$theme_space_10};
    --theme_space_11: #{spacing.$theme_space_11};
    --theme_space_12: #{spacing.$theme_space_12};
    --theme_space_13: #{spacing.$theme_space_13};
    --theme_space_14: #{spacing.$theme_space_14};
    --theme_space_15: #{spacing.$theme_space_15};
    --theme_space_16: #{spacing.$theme_space_16};
    --theme_space_17: #{spacing.$theme_space_17};

    /* -------------------------------------------------
	>> Font Sizes (from SCSS)
	------------------------------------------------- */
    --theme_font_size_1: #{typography.$theme_font_size_1};
    --theme_font_size_2: #{typography.$theme_font_size_2};
    --theme_font_size_3: #{typography.$theme_font_size_3};
    --theme_font_size_4: #{typography.$theme_font_size_4};
    --theme_font_size_5: #{typography.$theme_font_size_5};
    --theme_font_size_6: #{typography.$theme_font_size_6};
    --theme_font_size_7: #{typography.$theme_font_size_7};
    --theme_font_size_8: #{typography.$theme_font_size_8};
    --theme_font_size_10: #{typography.$theme_font_size_10};
    --theme_font_size_13: #{typography.$theme_font_size_13};


    /* -------------------------------------------------
	>> Line Height (from SCSS)
	------------------------------------------------- */
    --theme_line_height_xsmall: #{utilities.$theme_line_height_xsmall};
    --theme_line_height_small: #{utilities.$theme_line_height_small};
    --theme_line_height_medium: #{utilities.$theme_line_height_medium};
    --theme_line_height_large: #{utilities.$theme_line_height_large};
    --theme_line_height_xlarge: #{utilities.$theme_line_height_xlarge};
    --theme_line_height_105per: #{utilities.$theme_line_height_105per};
    --theme_line_height_110per: #{utilities.$theme_line_height_110per};
    --theme_line_height_115per: #{utilities.$theme_line_height_115per};
    --theme_line_height_120per: #{utilities.$theme_line_height_120per};
    --theme_line_height_125per: #{utilities.$theme_line_height_125per};
    --theme_line_height_130per: #{utilities.$theme_line_height_130per};
    --theme_line_height_140per: #{utilities.$theme_line_height_140per};
    --theme_line_height_160per: #{utilities.$theme_line_height_160per};

    /* -------------------------------------------------
	>> Letter Spacing (from SCSS)
	------------------------------------------------- */
    --theme_letter_spacing_xsmall: #{utilities.$theme_letter_spacing_xsmall};
    --theme_letter_spacing_small: #{utilities.$theme_letter_spacing_small};
    --theme_letter_spacing_medium: #{utilities.$theme_letter_spacing_medium};
    --theme_letter_spacing_large: #{utilities.$theme_letter_spacing_large};
    --theme_letter_spacing_xlarge: #{utilities.$theme_letter_spacing_xlarge};

    /* -------------------------------------------------
	>> Border Radius (from SCSS)
	------------------------------------------------- */
    --theme_border_radius_small: #{utilities.$theme_border_radius_small};
    --theme_border_radius_medium: #{utilities.$theme_border_radius_medium};
    --theme_border_radius_large: #{utilities.$theme_border_radius_large};

    /* -------------------------------------------------
	>> Color Variables (from SCSS)
	------------------------------------------------- */

    /* Base Colors */
    --theme_color_primary: #{colors.$theme_color_primary};
    --theme_color_on_primary: #{colors.$theme_color_on_primary};
    --theme_primary_white: #{colors.$theme_primary_white};
    --theme_primary_pale_blue: #{colors.$theme_primary_pale_blue};
    --theme_color_secondary: #{colors.$theme_color_secondary};
    --theme_black: #{colors.$theme_black};
    --theme_black_1: #{colors.$theme_black_1};
    --theme_black_2: #{colors.$theme_black_2};
    --theme_white: #{colors.$theme_white};
    --theme_white_1: #{colors.$theme_white_1};
    --theme_white_2: #{colors.$theme_white_2};
    --theme_gray: #{colors.$theme_gray};
    --theme_gray_1: #{colors.$theme_gray_1};
    --theme_gray_2: #{colors.$theme_gray_2};
    --theme_blue: #{colors.$theme_blue};
    --theme_blue_1: #{colors.$theme_blue_1};
    --theme_blue_2: #{colors.$theme_blue_2};
    --theme_navy: #{colors.$theme_navy};
    --theme_navy_1: #{colors.$theme_navy_1};
    --theme_navy_2: #{colors.$theme_navy_2};
    --theme_red: #{colors.$theme_red};
    --theme_sea_green: #{colors.$theme_sea_green};
    --theme_transparent: #{colors.$theme_transparent};
    --theme_regular_text: #{colors.$theme_regular_text};
    --theme_dark_text: #{colors.$theme_dark_text};
    --theme_white_text: #{colors.$theme_white_text};
    --theme_light_text: #{colors.$theme_light_text};
    --theme_success: #{colors.$theme_success};
    --theme_info: #{colors.$theme_info};
    --theme_warning: #{colors.$theme_warning};
    --theme_danger: #{colors.$theme_danger};
    --theme_light: #{colors.$theme_light};
    --theme_dark: #{colors.$theme_dark};
    --theme_signal: #{colors.$theme_signal};
    --theme_signal_bg: #{colors.$theme_signal_bg};
    --theme_color_background: #{colors.$theme_color_background};
    --theme_color_on_background: #{colors.$theme_color_on_background};
    --theme_border: #{colors.$theme_border};
    --theme_border_1: #{colors.$theme_border_1};
    --theme_border_2: #{colors.$theme_border_2};
    --theme_border_3: #{colors.$theme_border_3};
    --theme_pure_black: #{colors.$theme_pure_black};
    --theme_field_bg: #{colors.$theme_field_bg};
    --theme_light_field_bg: #{colors.$theme_light_field_bg};
    --theme_danger_bg: #{colors.$theme_danger_bg};
    --theme_success_bg: #{colors.$theme_success_bg};

    /* Semantic Colors */
    --theme_body_color: #{colors.$theme_body_color};
    --theme_body_bg: #{colors.$theme_body_bg};
    --theme_text_strong: #{colors.$theme_text_strong};
    --theme_highlight_color: #{colors.$theme_highlight_color};
    --theme_highlight_bg: #{colors.$theme_highlight_bg};
    --theme_caption: #{colors.$theme_caption};
    --theme_heading_color: #{colors.$theme_heading_color};
    --theme_heading_link_color: #{colors.$theme_heading_link_color};
    --theme_heading_link_color_hover: #{colors.$theme_heading_link_color_hover};
    --theme_link_color: #{colors.$theme_link_color};
    --theme_link_color_hover: #{colors.$theme_link_color_hover};
    --theme_link_border_color: #{colors.$theme_link_border_color};
    --theme_link_border_color_hover: #{colors.$theme_link_border_color_hover};
    --theme_list_ul_marker_color: #{colors.$theme_list_ul_marker_color};
    --theme_list_ol_marker_color: #{colors.$theme_list_ol_marker_color};
    --theme_blockquote_color: #{colors.$theme_blockquote_color};
    --theme_blockquote_border_color: #{colors.$theme_blockquote_border_color};
    --theme_quote_color: #{colors.$theme_quote_color};
    --theme_blockqoute_cite_color: #{colors.$theme_blockqoute_cite_color};
    --theme_table_border_color: #{colors.$theme_table_border_color};
    --theme_table_head_border_color: #{colors.$theme_table_head_border_color};
    --theme_table_foot_border_color: #{colors.$theme_table_foot_border_color};
    --theme_strong_color: #{colors.$theme_strong_color};
    --theme_underline_border_color: #{colors.$theme_underline_border_color};
    --theme_abbr_border_color: #{colors.$theme_abbr_border_color};
    --theme_delete_color: #{colors.$theme_delete_color};
    --theme_insert_color: #{colors.$theme_insert_color};
    --theme_insert_border_color: #{colors.$theme_insert_border_color};
    --theme_code_color: #{colors.$theme_code_color};
    --theme_code_bgcolor: #{colors.$theme_code_bgcolor};
    --theme_pre_color: #{colors.$theme_pre_color};
    --theme_pre_bgcolor: #{colors.$theme_pre_bgcolor};
    --theme_mark_bgcolor: #{colors.$theme_mark_bgcolor};
    --theme_mark_color: #{colors.$theme_mark_color};
    --theme_hr_color: #{colors.$theme_hr_color};
    --theme_input_color: #{colors.$theme_input_color};
    --theme_input_bg: #{colors.$theme_input_bg};
    --theme_input_border_color: #{colors.$theme_input_border_color};
    --theme_input_focus_color: #{colors.$theme_input_focus_color};
    --theme_input_focus_bgcolor: #{colors.$theme_input_focus_bgcolor};
    --theme_input_focus_border_color: #{colors.$theme_input_focus_border_color};
    --theme_disabled_input_bgcolor: #{colors.$theme_disabled_input_bgcolor};
    --theme_disabled_input_border_color: #{colors.$theme_disabled_input_border_color};
    --theme_placeholder_color: #{colors.$theme_placeholder_color};
    --theme_range_track_bgcolor: #{colors.$theme_range_track_bgcolor};
    --theme_range_thumb_bgcolor: #{colors.$theme_range_thumb_bgcolor};
    --theme_color_field_border_color: #{colors.$theme_color_field_border_color};
    --theme_color_field_bgcolor: #{colors.$theme_color_field_bgcolor};
    --theme_radio_color: #{colors.$theme_radio_color};
    --theme_radio_border_color: #{colors.$theme_radio_border_color};
    --theme_radio_bgcolor: #{colors.$theme_radio_bgcolor};
    --theme_radio_after_bgcolor: #{colors.$theme_radio_after_bgcolor};
    --theme_checkbox_color: #{colors.$theme_checkbox_color};
    --theme_checkbox_border_color: #{colors.$theme_checkbox_border_color};
    --theme_checkbox_bgcolor: #{colors.$theme_checkbox_bgcolor};
    --theme_checkbox_after_bgcolor: #{colors.$theme_checkbox_after_bgcolor};
    --theme_progress_bgcolor: #{colors.$theme_progress_bgcolor};
    --theme_progress_value_bgcolor: #{colors.$theme_progress_value_bgcolor};
    --theme_meter_bgcolor: #{colors.$theme_meter_bgcolor};
    --theme_meter_value_bgcolor: #{colors.$theme_meter_value_bgcolor};
    --theme_button_color: #{colors.$theme_button_color};
    --theme_button_bgcolor: #{colors.$theme_button_bgcolor};
    --theme_button_color_hover: #{colors.$theme_button_color_hover};
    --theme_button_bgcolor_hover: #{colors.$theme_button_bgcolor_hover};
    --theme_button_border_color: #{colors.$theme_button_border_color};
    --theme_button_border_color_hover: #{colors.$theme_button_border_color_hover};
    --theme_reset_button_bgcolor: #{colors.$theme_reset_button_bgcolor};
    --theme_reset_button_color: #{colors.$theme_reset_button_color};
    --theme_theme_btn_color: #{colors.$theme_theme_btn_color};
    --theme_theme_btn_bgcolor: #{colors.$theme_theme_btn_bgcolor};
    --theme_theme_btn_color_hover: #{colors.$theme_theme_btn_color_hover};
    --theme_theme_btn_bgcolor_hover: #{colors.$theme_theme_btn_bgcolor_hover};
    --theme_theme_btn_border_color: #{colors.$theme_theme_btn_border_color};
    --theme_theme_btn_border_color_hover: #{colors.$theme_theme_btn_border_color_hover};
    --theme_button_bg: #{colors.$theme_button_bg};
    --theme_button_bg_hover: #{colors.$theme_button_bg_hover};
    --theme_datepicker_bg_color: #{colors.$theme_datepicker_bg_color};
    --theme_datepicker_select_bgcolor: #{colors.$theme_datepicker_select_bgcolor};
    --theme_datepicker_link_color: #{colors.$theme_datepicker_link_color};
    --theme_datepicker_link_active_color: #{colors.$theme_datepicker_link_active_color};
    --theme_datepicker_calendar: #{colors.$theme_datepicker_calendar};
    --theme_datepicker_th_bgcolor: #{colors.$theme_datepicker_th_bgcolor};
    --theme_datepicker_even_tr_td_bgcolor: #{colors.$theme_datepicker_even_tr_td_bgcolor};
    --theme_datepicker_border_color: #{colors.$theme_datepicker_border_color};
    --theme_datepicker_date_color: #{colors.$theme_datepicker_date_color};
    --theme_valiation_error_bg_color: #{colors.$theme_valiation_error_bg_color};
    --theme_valiation_message_color: #{colors.$theme_valiation_message_color};
    --theme_error_field_border_color: #{colors.$theme_error_field_border_color};
    --theme_valiation_error_color: #{colors.$theme_valiation_error_color};
    --theme_confirmation_message_bgcolor: #{colors.$theme_confirmation_message_bgcolor};
    --theme_confirmation_message_color: #{colors.$theme_confirmation_message_color};
    --theme_confirmation_message_border_color: #{colors.$theme_confirmation_message_border_color};
    --theme_required_text_color: #{colors.$theme_required_text_color};
    --theme_invalid_error_border_color: #{colors.$theme_invalid_error_border_color};
    --theme_hubspot_error_label_color: #{colors.$theme_hubspot_error_label_color};
    --theme_hubspot_required_color: #{colors.$theme_hubspot_required_color};
    --theme_fileupload_rule_color: #{colors.$theme_fileupload_rule_color};
    --theme_error_menu_color: #{colors.$theme_error_menu_color};
    --theme_acc_btn_color: #{colors.$theme_acc_btn_color};
    --theme_acc_btn_bgcolor: #{colors.$theme_acc_btn_bgcolor};
    --theme_acc_btn_shadow: #{colors.$theme_acc_btn_shadow};
    --theme_comments_reply_btn_bgcolor: #{colors.$theme_comments_reply_btn_bgcolor};
    --theme_comments_reply_btn_color: #{colors.$theme_comments_reply_btn_color};
    --theme_comments_reply_btn_bgcolor_hover: #{colors.$theme_comments_reply_btn_bgcolor_hover};
    --theme_comments_reply_btn_color_hover: #{colors.$theme_comments_reply_btn_color_hover};
    --theme_comment_meta_color: #{colors.$theme_comment_meta_color};
    --theme_comment_metadata_color: #{colors.$theme_comment_metadata_color};
    --theme_comments_list_border_color: #{colors.$theme_comments_list_border_color};
    --theme_widget_comments_meta_color: #{colors.$theme_widget_comments_meta_color};
    --theme_pagination_bgcolor: #{colors.$theme_pagination_bgcolor};
    --theme_pagination_color: #{colors.$theme_pagination_color};
    --theme_pagination_color_hover: #{colors.$theme_pagination_color_hover};
    --theme_pagination_bgcolor_hover: #{colors.$theme_pagination_bgcolor_hover};
    --theme_pagination_bgcolor_current: #{colors.$theme_pagination_bgcolor_current};
    --theme_pagination_color_current: #{colors.$theme_pagination_color_current};
    --theme_pagination_first_bgcolor: #{colors.$theme_pagination_first_bgcolor};
    --theme_pagination_first_color: #{colors.$theme_pagination_first_color};
    --theme_pagination_border: #{colors.$theme_pagination_border};
    --theme_widget_latest_post_meta_color: #{colors.$theme_widget_latest_post_meta_color};
    --theme_widget_rss_feed_meta_color: #{colors.$theme_widget_rss_feed_meta_color};
    --theme_widget_search_button_color: #{colors.$theme_widget_search_button_color};
    --theme_wp_table_block_stripe_bg_color: #{colors.$theme_wp_table_block_stripe_bg_color};
    --theme_breadcrumb_color: #{colors.$theme_breadcrumb_color};
    --theme_breadcrumb_link_color: #{colors.$theme_breadcrumb_link_color};
    --theme_breadcrumb_border_color: #{colors.$theme_breadcrumb_border_color};
    --theme_breadcrumb_border_color_hover: #{colors.$theme_breadcrumb_border_color_hover};
    --theme_breadcrumb_span_color: #{colors.$theme_breadcrumb_span_color};
    --theme_header_bgcolor: #{colors.$theme_header_bgcolor};
    --theme_header_color: #{colors.$theme_header_color};
    --theme_header_color_hover: #{colors.$theme_header_color_hover};
    --theme_header_bgcolor_sticky: #{colors.$theme_header_bgcolor_sticky};
    --theme_header_nav_border_color: #{colors.$theme_header_nav_border_color};
    --theme_header_submenu_bgcolor: #{colors.$theme_header_submenu_bgcolor};
    --theme_header_submenu_color: #{colors.$theme_header_submenu_color};
    --theme_header_submenu_color_hover: #{colors.$theme_header_submenu_color_hover};
    --theme_header_mobile_color: #{colors.$theme_header_mobile_color};
    --theme_header_mobile_submenu_color: #{colors.$theme_header_mobile_submenu_color};
    --theme_nav_overlay_bgcolor: #{colors.$theme_nav_overlay_bgcolor};
    --theme_mobile_nav_icon_bgcolor: #{colors.$theme_mobile_nav_icon_bgcolor};
    --theme_abbr_border: #{colors.$theme_abbr_border};
    --theme_topbar_bgcolor: #{colors.$theme_topbar_bgcolor};
    --theme_topbar_color: #{colors.$theme_topbar_color};
    --theme_topbar_link_color: #{colors.$theme_topbar_link_color};
    --theme_footer_bgcolor: #{colors.$theme_footer_bgcolor};
    --theme_footer_color: #{colors.$theme_footer_color};
    --theme_footer_color_hover: #{colors.$theme_footer_color_hover};
    --theme_f_nav_color: #{colors.$theme_f_nav_color};
    --theme_f_nav_color_hover: #{colors.$theme_f_nav_color_hover};
    --theme_f_nav_border_color: #{colors.$theme_f_nav_border_color};
    --theme_f_nav_border_color_hover: #{colors.$theme_f_nav_border_color_hover};
    --theme_copyright_color: #{colors.$theme_copyright_color};
    --theme_legal_nav_color: #{colors.$theme_legal_nav_color};
    --theme_legal_nav_border_color: #{colors.$theme_legal_nav_border_color};
    --theme_legal_nav_border_color_hover: #{colors.$theme_legal_nav_border_color_hover};
    --theme_legal_text_color: #{colors.$theme_legal_text_color};


}
