@use "../../css/partials/variables/breakpoints" as bp;

.tabs-table-content {
	position: relative;
	width: 100%;
	display: block;

	@include bp.max(lg) {
		background-color: var(--theme_primary_25);
		border-radius: 8px;
	}

	@include bp.min(lg) {
		display: grid;
		gap: 0 clamp(24px, 1.5rem + (1vw - 9.92px) * 10.0559, 60px);
		grid-template-columns: 380px 1fr;
	}

	&__item {
		position: relative;
		border-bottom: 1px solid var(--theme_gray_200);

		@include bp.max(lg) {
			padding: 0 16px;
		}

		@include bp.min(lg) {
			display: contents;
			border-bottom: none;
		}

		&.is-active {

			.tabs-table-content__header {
				background-color: transparent;

				@include bp.max(lg) {
					color: var(--theme_cg_blue);
				}

				&::after {
					background-image: url(../../images/minus-circle.svg);
				}

				@include bp.min(lg) {

					&::before {
						background-color: var(--theme_link_color);
					}
				}
			}

			@include bp.min(lg) {

				.tabs-table-content__title {
					color: var(--theme_cg_blue);
				}
			}

			.tabs-table-content__content {
				display: block;
				animation: fadeIn 0.5s ease-in-out;
			}
		}

		&:not(.is-active) {

			@include bp.min(lg) {

				.tabs-table-content__title {
					color: var(--theme_gray_500);
				}
			}
		}
	}

	&__header {
		position: relative;
		cursor: pointer;
		padding: 16px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:focus-visible {
			outline: 2px solid var(--theme_cg_blue);
			outline-offset: 2px;
			border-radius: 4px;
		}

		@include bp.min(lg) {
			padding: 24px 0;
			padding-left: 24px;
			grid-column: 1;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 4px;
				background-color: var(--theme_gray_200);
			}
		}

		&::after {
			content: '';
			display: block;
			width: 24px;
			height: 24px;
			background-image: url(../../images/plus-circle.svg);
			background-size: contain;
			background-repeat: no-repeat;
			transition: background-image 0.3s ease, filter 0.3s ease;
			margin-right: 0;
			filter: brightness(0) saturate(100%) invert(28%) sepia(83%) saturate(1491%) hue-rotate(169deg) brightness(98%) contrast(104%);

			@include bp.min(lg) {
				display: none;
			}
		}
	}

	&__title {
		margin-bottom: 0;
		color: var(--theme_gray_900);
		transition: color 0.3s ease;
	}

	&__desc {
		color: var(--theme_gray_600);
		margin-bottom: 0;
	}

	&__content {
		display: none;
		width: 100%;
		margin-bottom: 24px;

		@include bp.min(lg) {
			grid-column: 2;
			grid-row: 1 / 20;
			display: none;
			top: 0;
			right: 0;
			margin-bottom: 0;
		}
	}
}

@keyframes fadeIn {

	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
