/* SCSS will be placed Here */
@use "../../css/partials/variables/breakpoints" as bp;

.features-media {

	.features-media__video-wrapper,
	.features-media__video-wrapper--iframe {

		iframe,
		video {
			pointer-events: none;
		}
	}

	.play-icon-video {
		pointer-events: none;
	}

	&.has-image {

		img {
			max-width: 100%;
			height: auto;
		}
	}

}
