@use "../../css/partials/variables/breakpoints" as bp;

.features-media {


	&.has-image {
		margin: 0 auto;
		text-align: center;
		display: block;
		width: 100%;
		border-radius: 16px;
		border: 1px solid var(--theme_gray_200);

		img {
			height: auto;
		}
	}

}
