/* -------------------------------------------------
>> Base Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	outline: none;
	text-rendering: optimizelegibility;
}

html {
	box-sizing: border-box;
}

body {
	font-family: var(--font__main);
	font-weight: 400;
	position: relative;
	font-size: var(--theme_font_size_6);
	color: var(--theme_body_color);
	background-color: var(--theme_body_bg);
	line-height: 1.5;
}

body,
html {
	overflow-x: hidden;
}

p {
	margin: 0 0 30px;

	&:last-child {
		margin: 0;
	}
}

::selection {
	color: var(--theme_highlight_color);
	background-color: var(--theme_highlight_bg);
}


strong {
	color: var(--theme_text_strong) !important;
}
