/* -------------------------------------------------
>> Styles for tables
------------------------------------------------- */
@use "body";

/* -------------------------------------------------
>> Styles for links
------------------------------------------------- */
@use "links";

/* -------------------------------------------------
>> Styles for images and figures
------------------------------------------------- */
@use "images";

/* -------------------------------------------------
>> Styles for lists
------------------------------------------------- */
@use "lists";

/* -------------------------------------------------
>> Styles for quotes
------------------------------------------------- */
@use "quotes";

/* -------------------------------------------------
>> Styles for tables
------------------------------------------------- */
@use "tables";

/* -------------------------------------------------
>> Styles for frames and embeds
------------------------------------------------- */
@use "embeds";
