/* Base Styles */

img {
	height: auto;
	max-width: 100%;
}

a {

	img {
		border: none;
		outline: none;
		margin-bottom: 0;
	}
}

figure {

	figcaption {
		background-color: var(--theme_white);
		border: 1px solid var(--theme_border_3);
		border-radius: 6px;
		font-size: 16px;
		margin: -45px 16px 0;
		padding: 16px 20px;
		position: relative;

		@media (width <=767px) {
			margin: -20px 12px 0;
			padding: 12px 13px 12px 16px;
		}
	}
}

picture {
	display: flex;
	margin: 0;
	width: 100%;
	height: 100%;
}

.gallery .gallery-item a {
	border-bottom: none;
}
