/* -------------------------------------------------
>> Base Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

blockquote,
q {
	quotes: none;
}

blockquote {
	font-size: var(--theme_font_size_8);
	font-weight: 400;
	letter-spacing: -0.21px;
	line-height: 1.42;
	position: relative;
	color: var(--theme_gray_900);
	margin-bottom: 20px;
	padding: 0;

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}


cite {
	font-style: normal;
	font-size: var(--theme_font_size_8);
	font-weight: 500;
	letter-spacing: -0.21px;
	line-height: 1.42;
	color: var(--theme_gray_700);
}