@use "../variables/breakpoints" as bp;
@use "../variables/fluid_mixins" as *;

/* -------------------------------------------------
>> Base Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

blockquote,
q {
	quotes: none;
}

blockquote:not(.ambry-testimonials__grid__item__quote) {

	border-radius: fluid(20, 36);
	background: var(--theme_primary_25);
	padding: fluid(24, 50);
	font-size: var(--theme_font_size_6);
	line-height: 1.33;
	letter-spacing: 0.45px;
	margin: fluid(24, 36) 0;

	&.wp-block-quote {
		// border-left: 4px solid var(--theme_color_primary);
		// padding-left: 20px;
	}

	p {

		&:last-child {
			margin-bottom: 0;
		}
	}
}


cite {
	font-style: normal;
	font-size: var(--theme_font_size_8);
	font-weight: 500;
	letter-spacing: -0.21px;
	line-height: 1.42;
	color: var(--theme_gray_700);
}
