<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:ambrygen/hero-section /-->

<!-- wp:group {"tagName":"main","className":"wp-block-group","htmlId":"main-content"} -->
<main id="main-content" class="wp-block-group">

	<!-- wp:group {"tagName":"section","className":"container-1136 poster-archive-section listing-archive-section"} -->
	<section class="wp-block-group container-1280 poster-archive-section listing-archive-section">

		<!-- wp:group {"className":"wrapper"} -->
		<div class="wp-block-group wrapper">

			<!-- wp:spacer {"height":"32px","className":"is-style-gl-s32"} -->
			<div style="height:32px" aria-hidden="true" class="wp-block-spacer is-style-gl-s32"></div>
			<!-- /wp:spacer -->

			<!-- wp:group {"className":"poster-archive__layout"} -->
			<div class="wp-block-group poster-archive__layout cs-wp-archive_layout listing-archive-layout">

				<!-- wp:group {"className":"poster-archive__filters"} -->
				<div class="wp-block-group poster-archive__filters cs-wp-archive__filter listing-archive-filter">
					<!-- wp:template-part {"slug":"publication-filters","theme":"ambrygen","area":"uncategorized"} /-->
				</div>
				<!-- /wp:group -->

				<!-- wp:spacer {"height":"32px","className":"is-style-gl-s32"} -->
				<div style="height:32px" aria-hidden="true" class="wp-block-spacer is-style-gl-s32"></div>
				<!-- /wp:spacer -->

				<!-- wp:group {"className":"poster-archive__content"} -->
				<div class="wp-block-group poster-archive__content cs-wp-archive_content listing-archive-content">

					<!-- wp:ambrygen/publication-result-count {"className":"poster-archive__result-count"} /-->

					<!-- wp:spacer {"height":"20px","className":"is-style-gl-s20"} -->
					<div style="height:20px" aria-hidden="true" class="wp-block-spacer is-style-gl-s20"></div>
					<!-- /wp:spacer -->

					<!-- wp:query {"queryId":41,"query":{"perPage":10,"pages":0,"offset":0,"postType":"publication","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
					<div class="wp-block-query poster-archive__query cs-wp-archive__query listing-archive__query">

						<!-- wp:post-template -->
						<!-- wp:group {"className":"poster-archive__item"} -->
						<div class="wp-block-group poster-archive__item cs-wp-archive__item listing-archive__item">

							<!-- wp:ambrygen/poster-category-list /-->

							<!-- wp:post-title {"isLink":true,"level":3,"className":"heading-5 mb-0 poster-archive__item-title listing-archive__item-title"} /-->

							<!-- wp:ambrygen/publication-meta {"className":"poster-archive__item-meta listing-archive__item-meta"} /-->

							<!-- wp:post-terms {"term":"post_tag","prefix":"Topics: ","separator":", ","className":"listing__item-topics items-listing-bullet card_item-topics has-separator"} /-->
							<!-- wp:post-terms {"term":"collaborator","prefix":"Collaborators: ","separator":", ","className":"listing__item-collaborator items-listing-bullet card_item-topics has-separator"} /-->

						</div>
						<!-- /wp:group -->
						<!-- /wp:post-template -->

						<!-- wp:query-no-results -->
						<!-- wp:group {"className":"poster-archive__empty"} -->
						<div class="wp-block-group poster-archive__empty listing-archive__empty">
							<!-- wp:paragraph {"className":"text-md-regular mb-0"} -->
							<div class="block-content mb-0">No publications found matching your filters. Try adjusting
								or clearing your search criteria.</p>
								<!-- /wp:paragraph -->
							</div>
							<!-- /wp:group -->
							<!-- /wp:query-no-results -->

							<!-- wp:spacer {"height":"32px","className":"is-style-gl-s32"} -->
							<div style="height:32px" aria-hidden="true" class="wp-block-spacer is-style-gl-s32"></div>
							<!-- /wp:spacer -->

							<!-- wp:group {"className":"pagination-buttons-row","layout":{"type":"default"}} -->
							<div class="wp-block-group pagination-buttons-row">
								<!-- wp:group {"className":"pagination-container","layout":{"type":"default"}} -->
								<div class="wp-block-group pagination-container">
									<!-- wp:group {"className":"desktop-pages","layout":{"type":"flex","flexWrap":"nowrap"}} -->
									<div class="wp-block-group desktop-pages">
										<!-- wp:query-pagination-previous {"label":"","className":"arrow-btn pagination__nav pagination__nav--prev"} /-->
										<!-- wp:query-pagination-numbers {"className":"pagination-list"} /-->
										<!-- wp:query-pagination-next {"label":"","className":"arrow-btn pagination__nav pagination__nav--next"} /-->
									</div>
									<!-- /wp:group -->
								</div>
								<!-- /wp:group -->
							</div>
							<!-- /wp:group -->

						</div>
						<!-- /wp:query -->

					</div>
					<!-- /wp:group -->

				</div>
				<!-- /wp:group -->

				<!-- wp:spacer {"height":"50px","className":"is-style-gl-s50"} -->
				<div style="height:50px" aria-hidden="true" class="wp-block-spacer is-style-gl-s50"></div>
				<!-- /wp:spacer -->

			</div>
			<!-- /wp:group -->

	</section>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->
 
<!-- wp:ambrygen/section-container -->
<!-- wp:ambrygen/contact-info-form /-->
<!-- /wp:ambrygen/section-container -->

<!-- wp:template-part {"slug":"footer"} /-->
