<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:ambrygen/hero-section /-->

<!-- wp:group {"tagName":"main","htmlId":"main-content"} -->
<main id="main-content" class="wp-block-group container-1280">
        <!-- wp:group {"className":"wrapper"} -->
        <div class="wp-block-group wrapper">


        <!-- wp:spacer {"height":"72px","className":"is-style-gl-s72"} -->
        <div style="height:72px" class="wp-block-spacer is-style-gl-s72" aria-hidden="true"></div>
        <!-- /wp:spacer -->

        <!-- Main Content -->
        <!-- wp:ambrygen/genetic-testing-details /-->

        <!-- wp:spacer {"height":"48px","className":"is-style-gl-s48"} -->
        <div style="height:48px" class="wp-block-spacer is-style-gl-s48" aria-hidden="true"></div>
        <!-- /wp:spacer -->

        <!-- wp:ambrygen/genetic-testing-genes /-->

        <!-- wp:spacer {"height":"48px","className":"is-style-gl-s48"} -->
        <div style="height:48px" class="wp-block-spacer is-style-gl-s48" aria-hidden="true"></div>
        <!-- /wp:spacer -->

        <!-- wp:ambrygen/genetic-testing-quick-reference /-->

        <!-- wp:spacer {"height":"48px","className":"is-style-gl-s48"} -->
        <div style="height:48px" class="wp-block-spacer is-style-gl-s48" aria-hidden="true"></div>
        <!-- /wp:spacer -->

        <!-- wp:ambrygen/genetic-testing-description /-->

        <!-- wp:spacer {"height":"48px","className":"is-style-gl-s48"} -->
        <div class="is-style-gl-s48" aria-hidden="true"></div>
        <!-- /wp:spacer -->

        <!-- wp:ambrygen/genetic-testing-downloads /-->

        <!-- wp:spacer {"height":"72px","className":"is-style-gl-s72"} -->
        <div style="height:72px" class="wp-block-spacer is-style-gl-s72" aria-hidden="true"></div>
        <!-- /wp:spacer -->
</div>
		<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
