<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:ambrygen/genetic-testing-hero /-->

<!-- wp:group {"tagName":"div","className":"cardio-info cardiology-detail-info"} -->
<div class="wp-block-group cardio-info cardiology-detail-info">
    <!-- wp:spacer {"height":"100px","className":"is-style-gl-s50"} -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer is-style-gl-s50"></div>
    <!-- /wp:spacer -->

    <!-- wp:group {"className":"container-1280"} -->
    <div class="wp-block-group container-1280">
        <!-- wp:group {"className":"wrapper"} -->
        <div class="wp-block-group wrapper">
            <!-- wp:group {"className":"cardio-info__layout"} -->
            <div class="wp-block-group cardio-info__layout">
                
                <!-- wp:group {"tagName":"main","className":"cardio-info__content"} -->
                <main class="wp-block-group cardio-info__content">
                    
                    <!-- wp:ambrygen/genetic-testing-details /-->

                    <!-- wp:ambrygen/genetic-testing-product-stats /-->

                    <!-- wp:spacer {"height":"64px","className":"is-style-gl-s32"} -->
                    <div style="height:64px" aria-hidden="true" class="wp-block-spacer is-style-gl-s32"></div>
                    <!-- /wp:spacer -->
                    
                    <!-- wp:separator {"className":"is-style-default has-gray-400-color has-gray-300-background-color"} -->
                    <hr class="wp-block-separator has-text-color has-gray-400-color has-alpha-channel-opacity has-gray-300-background-color has-background is-style-default" />
                    <!-- /wp:separator -->

                    <!-- wp:spacer {"height":"64px","className":"is-style-gl-s32"} -->
                    <div style="height:64px" aria-hidden="true" class="wp-block-spacer is-style-gl-s32"></div>
                    <!-- /wp:spacer -->

                </main>
                <!-- /wp:group -->

                <!-- wp:template-part {"slug":"genetic-testing-sidebar"} /-->

            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
    <!-- wp:spacer {"height":"144px","className":"is-style-gl-s72"} -->
    <div style="height:144px" aria-hidden="true" class="wp-block-spacer is-style-gl-s72"></div>
    <!-- /wp:spacer -->
</div>
<!-- /wp:group -->

<!-- wp:ambrygen/section-container -->
<!-- wp:ambrygen/contact-info-form /-->
<!-- /wp:ambrygen/section-container -->

<!-- wp:template-part {"slug":"footer"} /-->
