<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"wp-block-group","htmlId":"main-content"} -->
<main id="main-content" class="wp-block-group">
	<!-- wp:group {"tagName":"section","className":"container-1136"} -->
	<section class="wp-block-group container-1280">
		<!-- wp:group {"className":"wrapper"} -->
		<div class="wp-block-group wrapper">
			<!-- wp:spacer {"height":"64px","className":"is-style-gl-s64"} -->
			<div class="is-style-gl-s50" aria-hidden="true"></div>
			<!-- /wp:spacer -->

			<!-- wp:paragraph {"className":"text-md-Semibold text-uppercase"} -->
			<p class="text-md-Semibold text-uppercase"><a href="/company/press-releases/">Back to Press Releases</a></p>
			<!-- /wp:paragraph -->

			<!-- wp:spacer {"height":"24px","className":"is-style-gl-s24"} -->
			<div class="is-style-gl-s24" aria-hidden="true"></div>
			<!-- /wp:spacer -->

			<!-- wp:post-title {"level":1,"className":"heading-3"} /-->

			<!-- wp:separator {"className":"is-style-wide"} -->
			<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide" />
			<!-- /wp:separator -->

			<!-- wp:post-date {"format":"F j, Y","className":"heading-5"} /-->

			<!-- wp:post-content {"layout":{"type":"default"}} /-->

			<!-- wp:spacer {"height":"64px","className":"is-style-gl-s64"} -->
			<div class="is-style-gl-s50" aria-hidden="true"></div>
			<!-- /wp:spacer -->

			<!-- wp:group {"layout":{"type":"flex","justifyContent":"space-between"}} -->
			<div class="wp-block-group">
				<!-- wp:post-navigation-link {"type":"previous","label":"Previous Post","textAlign":"left"} /-->
				<!-- wp:post-navigation-link {"type":"next","label":"Next Post","textAlign":"right"} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</section>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
