<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"wp-block-group","htmlId":"main-content"} -->
<main id="main-content" class="wp-block-group">
	<!-- wp:group {"tagName":"section","className":"container-1280 bg-primary_25 variation-hero-single"} -->
	<section class="wp-block-group container-1280 bg-primary_25 variation-hero-single">
		<!-- wp:group {"className":"wrapper"} -->
		<div class="wp-block-group wrapper">
			<!-- wp:spacer {"height":"64px","className":"is-style-gl-s64"} -->
			<div style="height:64px" aria-hidden="true" class="wp-block-spacer is-style-gl-s64"></div>
			<!-- /wp:spacer -->

			<!-- wp:group {"className":"back-link"} -->
			<div class="wp-block-group back-link">
				<!-- wp:paragraph -->
				<p><a class="back-button" href="#">Back to Press Releases</a></p>
				<!-- /wp:paragraph -->
			</div>
			<!-- /wp:group -->

			<!-- wp:spacer {"height":"24px","className":"is-style-gl-s24"} -->
			<div style="height:24px" aria-hidden="true" class="wp-block-spacer is-style-gl-s24"></div>
			<!-- /wp:spacer -->

			<!-- wp:post-title {"level":1,"className":"heading-2"} /-->

			<!-- wp:spacer {"height":"24px","className":"is-style-gl-s24"} -->
			<div style="height:24px" aria-hidden="true" class="wp-block-spacer is-style-gl-s24"></div>
			<!-- /wp:spacer -->

			<!-- wp:group {"className":"flag-details flag-time-format"} -->
			<div class="wp-block-group flag-details flag-time-format">
				<!-- wp:ambrygen/dynamic-post-date {"format":"F j, Y","className":"flag-info flag-date-info"} /-->
			</div>
			<!-- /wp:group -->

			<!-- wp:spacer {"height":"64px","className":"is-style-gl-s64"} -->
			<div style="height:64px" aria-hidden="true" class="wp-block-spacer is-style-gl-s64"></div>
			<!-- /wp:spacer -->
		</div>
		<!-- /wp:group -->
	</section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","className":"container-1280 single-main-content"} -->
	<section class="wp-block-group container-1280 single-main-content">
		<!-- wp:group {"className":"wrapper"} -->
		<div class="wp-block-group wrapper">
			<!-- wp:spacer {"height":"72px","className":"is-style-gl-s72"} -->
			<div style="height:72px" aria-hidden="true" class="wp-block-spacer is-style-gl-s72"></div>
			<!-- /wp:spacer -->

			<!-- wp:post-content {"layout":{"type":"default"}} /-->

			<!-- wp:ambrygen/social-share /-->

			<!-- wp:spacer {"height":"72px","className":"is-style-gl-s72"} -->
			<div style="height:72px" aria-hidden="true" class="wp-block-spacer is-style-gl-s72"></div>
			<!-- /wp:spacer -->
		</div>
		<!-- /wp:group -->
	</section>
	<!-- /wp:group -->
	<!-- wp:ambrygen/section-container -->
	<!-- wp:ambrygen/contact-info-form /-->
	<!-- /wp:ambrygen/section-container -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
