<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"wp-block-group","htmlId":"main-content"} -->
<main id="main-content" class="wp-block-group">
	<!-- wp:group {"tagName":"section","className":"container-1280 bg-primary_25 variation-hero-single"} -->
	<section class="wp-block-group container-1280 bg-primary_25 variation-hero-single">
		<!-- wp:group {"className":"wrapper"} -->
		<div class="wp-block-group wrapper">
			<!-- wp:spacer {"height":"64px","className":"is-style-gl-s64"} -->
			<div style="height:64px" aria-hidden="true" class="wp-block-spacer is-style-gl-s64"></div>
			<!-- /wp:spacer -->

			<!-- wp:group {"className":"back-link"} -->
			<div class="wp-block-group back-link">
				<!-- wp:paragraph -->
				<p><a class="back-button" href="#">Back to Presentations</a></p>
				<!-- /wp:paragraph -->
			</div>
			<!-- /wp:group -->

			<!-- wp:spacer {"height":"24px","className":"is-style-gl-s24"} -->
			<div style="height:24px" aria-hidden="true" class="wp-block-spacer is-style-gl-s24"></div>
			<!-- /wp:spacer -->

			<!-- wp:post-title {"level":1,"className":"heading-2 mb-0 block-title"} /-->

			<!-- wp:spacer {"height":"64px","className":"is-style-gl-s64"} -->
			<div style="height:64px" aria-hidden="true" class="wp-block-spacer is-style-gl-s64"></div>
			<!-- /wp:spacer -->
		</div>
		<!-- /wp:group -->
	</section>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","className":"container-1136"} -->
	<section class="wp-block-group container-980 single-main-content">
		<!-- wp:spacer {"height":"72px","className":"is-style-gl-s72"} -->
		<div style="height:72px" aria-hidden="true" class="wp-block-spacer is-style-gl-s72"></div>
		<!-- /wp:spacer -->

		<!-- wp:group {"className":"wrapper"} -->
		<div class="wp-block-group wrapper">
			<!-- wp:group {"className":"terms-info-details"} -->
			<div class="wp-block-group terms-info-details">
				
				<!-- wp:ambrygen/poster-category-list /-->

				<!-- wp:spacer {"height":"24px","className":"is-style-gl-s24"} -->
				<div style="height:24px" aria-hidden="true" class="wp-block-spacer is-style-gl-s24"></div>
				<!-- /wp:spacer -->

				<!-- wp:ambrygen/presentation-meta {"className":"listing-archive__item-meta flag-details"} /-->

				<!-- wp:spacer {"height":"24px","className":"is-style-gl-s24"} -->
				<div style="height:24px" aria-hidden="true" class="wp-block-spacer is-style-gl-s24"></div>
				<!-- /wp:spacer -->

				<!-- wp:post-terms {"term":"collaborator","prefix":"Collaborators: ","separator":", ","className":"text-md-regular mb-0 items-listing-bullet"} /-->

				<!-- wp:spacer {"height":"24px","className":"is-style-gl-s24"} -->
				<div style="height:24px" aria-hidden="true" class="wp-block-spacer is-style-gl-s24"></div>
				<!-- /wp:spacer -->

			</div>
			<!-- /wp:group -->

		</div>
		<!-- /wp:group -->

		<!-- wp:spacer {"height":"72px","className":"is-style-gl-s72"} -->
		<div style="height:72px" aria-hidden="true" class="wp-block-spacer is-style-gl-s72"></div>
		<!-- /wp:spacer -->
	</section>
	<!-- /wp:group -->
	<!-- wp:ambrygen/section-container -->
	<!-- wp:ambrygen/contact-info-form /-->
	<!-- /wp:ambrygen/section-container -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->