<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"wp-block-group","htmlId":"main-content"} -->
<main id="main-content" class="wp-block-group">
	<!-- wp:ambrygen/blog-hero /-->

	<!-- wp:spacer {"height":"72px","className":"is-style-gl-s72"} -->
	<div class="is-style-gl-s72" aria-hidden="true"></div>
	<!-- /wp:spacer -->

	<!-- wp:group {"tagName":"section","className":"container-1280"} -->
	<section class="wp-block-group container-1280">
		<!-- wp:group {"className":"wrapper"} -->
		<div class="wp-block-group wrapper">
			<!-- wp:group {"className":"blog-detail-content primary-with-sidebar"} -->
			<div class="wp-block-group blog-detail-content primary-with-sidebar">
				<!-- wp:group {"tagName":"main","className":"blog-detail-content__body primary-with-sidebar__content"} -->
				<main class="wp-block-group blog-detail-content__body primary-with-sidebar__content">
					<!-- wp:post-content {"layout":{"type":"default"}} /-->
				</main>
				<!-- /wp:group -->

				<!-- wp:group {"tagName":"aside","className":"blog-detail__sidebar primary-with-sidebar__sidebar"} -->
				<aside class="wp-block-group blog-detail__sidebar primary-with-sidebar__sidebar">
					<!-- wp:ambrygen/sidebar-related-posts /-->

					<!-- wp:ambrygen/sidebar-related-tags /-->

					<!-- wp:ambrygen/sidebar-subscribe-cta /-->

					<!-- wp:ambrygen/sidebar-post-author /-->

					<!-- wp:ambrygen/sidebar-disclaimer /-->
				</aside>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</section>

	<!-- wp:spacer {"height":"72px","className":"is-style-gl-s72"} -->
	<div class="is-style-gl-s72" aria-hidden="true"></div>
	<!-- /wp:spacer -->

	<!-- wp:ambrygen/section-container -->
	<!-- wp:ambrygen/contact-info-form /-->
	<!-- /wp:ambrygen/section-container -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->