<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"wp-block-group","htmlId":"main-content"} -->
<main id="main-content" class="wp-block-group">
	<!-- wp:group {"className":"hero-section"} -->
	<div class="wp-block-group hero-section">
		<!-- wp:group {"className":"hero-section__slider container-1340"} -->
		<div class="wp-block-group hero-section__slider container-1340">
			<!-- wp:group {"className":"hero-section__slide"} -->
			<div class="wp-block-group hero-section__slide">
				<!-- wp:group {"className":"hero-section__background"} -->
				<div class="wp-block-group hero-section__background">
					<!-- wp:post-featured-image {"className":"hero-section__image","sizeSlug":"full"} /-->
				</div>
				<!-- /wp:group -->

				<!-- wp:group {"className":"wrapper"} -->
				<div class="wp-block-group wrapper">
					<!-- wp:group {"className":"hero-section__content"} -->
					<div class="wp-block-group hero-section__content">
						<!-- wp:post-title {"level":1,"className":"hero-section__heading heading-2 mb-0"} /-->
					</div>
					<!-- /wp:group -->
				</div>
				<!-- /wp:group -->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","className":"container-1136"} -->
	<section class="wp-block-group container-1136">
		<!-- wp:spacer {"height":"50px","className":"is-style-gl-s50"} -->
		<div style="height:50px" aria-hidden="true" class="wp-block-spacer is-style-gl-s50"></div>
		<!-- /wp:spacer -->

		<!-- wp:group {"className":"wrapper"} -->
		<div class="wp-block-group wrapper">
			<!-- wp:group {"className":"single-trade-show"} -->
			<div class="wp-block-group single-trade-show">
				<!-- wp:html -->
				<div class="body1 single-trade-show__eyebrow">EVENT</div>
				<!-- /wp:html -->

				<!-- wp:spacer {"height":"8px","className":"is-style-gl-s8"} -->
				<div style="height:8px" aria-hidden="true" class="wp-block-spacer is-style-gl-s8"></div>
				<!-- /wp:spacer -->

				<!-- wp:post-title {"level":1,"className":"heading-2 block-title mb-0"} /-->

				<!-- wp:spacer {"height":"16px","className":"is-style-gl-s16"} -->
				<div style="height:16px" aria-hidden="true" class="wp-block-spacer is-style-gl-s16"></div>
				<!-- /wp:spacer -->

				<!-- wp:ambrygen/post-meta-list /-->

				<!-- wp:spacer {"height":"16px","className":"is-style-gl-s16"} -->
				<div style="height:16px" aria-hidden="true" class="wp-block-spacer is-style-gl-s16"></div>
				<!-- /wp:spacer -->

				<!-- wp:post-featured-image {"className":"single-trade-show__image"} /-->

				<!-- wp:spacer {"height":"32px","className":"is-style-gl-s32"} -->
				<div style="height:32px" aria-hidden="true" class="wp-block-spacer is-style-gl-s32"></div>
				<!-- /wp:spacer -->

				<!-- wp:post-content {"className":"single-trade-show__content","layout":{"type":"constrained"}} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->

		<!-- wp:spacer {"height":"50px","className":"is-style-gl-s50"} -->
		<div style="height:50px" aria-hidden="true" class="wp-block-spacer is-style-gl-s50"></div>
		<!-- /wp:spacer -->
	</section>
	<!-- /wp:group -->

	<!-- wp:ambrygen/section-container -->
		<!-- wp:ambrygen/newsletter-form /-->
	<!-- /wp:ambrygen/section-container -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
