<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"wp-block-group","htmlId":"main-content"} -->
<main id="main-content" class="wp-block-group">
	<!-- wp:group {"tagName":"section","className":"container-1136"} -->
	<section class="wp-block-group container-1280">
		<!-- wp:group {"className":"wrapper"} -->
		<div class="wp-block-group wrapper">
			<!-- wp:spacer {"height":"64px","className":"is-style-gl-s64"} -->
			<div class="is-style-gl-s50" aria-hidden="true"></div>
			<!-- /wp:spacer -->

			<!-- wp:post-title {"level":1,"className":"heading-2 mb-3"} /-->

			<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"},"className":"post-meta-details mb-4"} -->
			<div class="wp-block-group post-meta-details mb-4">
				<!-- wp:paragraph {"className":"body1 italic text-gray-400"} -->
				<p class="body1 italic text-gray-400">Frankie Fann, MS, CGC | </p>
				<!-- /wp:paragraph -->
				<!-- wp:post-date {"format":"F j, Y","className":"body1 italic text-gray-400"} /-->
			</div>
			<!-- /wp:group -->

			<!-- wp:post-content {"layout":{"type":"default"}} /-->

			<!-- wp:spacer {"height":"64px","className":"is-style-gl-s64"} -->
			<div class="is-style-gl-s50" aria-hidden="true"></div>
			<!-- /wp:spacer -->

		</div>
		<!-- /wp:group -->
	</section>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
