<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"wp-block-group","htmlId":"main-content"} -->
<main id="main-content" class="wp-block-group">
	<section class="wp-block-group container-1280 bg-primary_25 variation-hero-single">
		<!-- wp:group {"className":"wrapper"} -->
		<div class="wp-block-group wrapper">
			<!-- wp:spacer {"height":"72px","className":"is-style-gl-s72"} -->
			<div class="is-style-gl-s72" aria-hidden="true"></div>
			<!-- /wp:spacer -->

			<!-- wp:group {"className":"back-link"} -->
			<div class="wp-block-group back-link">
				<a class="site-btn is-style-site-text-btn has-icon prev-icon" href="#">Back to</a>
			</div>
			<!-- /wp:group -->

			<!-- wp:spacer {"height":"24px","className":"is-style-gl-s24"} -->
			<div class="is-style-gl-s24" aria-hidden="true"></div>
			<!-- /wp:spacer -->

			<!-- wp:post-title {"level":1,"className":"heading-2"} /-->

			<!-- wp:spacer {"height":"72px","className":"is-style-gl-s72"} -->
			<div class="is-style-gl-s72" aria-hidden="true"></div>
			<!-- /wp:spacer -->
		</div>
		<!-- /wp:group -->
	</section>

	<!-- wp:group {"tagName":"section","className":"container-1136"} -->
	<section class="wp-block-group container-980 single-main-content">
		<!-- wp:group {"className":"wrapper"} -->
		<div class="wp-block-group wrapper">
			<!-- wp:spacer {"height":"72px","className":"is-style-gl-s72"} -->
			<div class="is-style-gl-s72" aria-hidden="true"></div>
			<!-- /wp:spacer -->

			<div class="terms-info-details">
				<!-- wp:post-type-archive-link {"postType":"publication","label":"Back to Publications","className":"text-md-Semibold text-uppercase"} /-->

				<!-- wp:post-terms {"term":"poster_category","prefix":"Specialty Areas: ","separator":", ","className":"lists-item-category"} /-->

				<!-- wp:spacer {"height":"24px","className":"is-style-gl-s24"} -->
				<div class="is-style-gl-s24" aria-hidden="true"></div>
				<!-- /wp:spacer -->

				<!-- wp:ambrygen/publication-meta /-->
				<!-- wp:post-terms {"term":"post_tag","prefix":"Topics: ","separator":", ","className":"single-item-topics items-listing-bullet card_item-topics"} /-->

				<!-- wp:spacer {"height":"16px","className":"is-style-gl-s16"} -->
				<div class="is-style-gl-s16" aria-hidden="true"></div>
				<!-- /wp:spacer -->

				<!-- wp:post-terms {"term":"collaborator","prefix":"Collaborators: ","separator":"; ","className":"listing-archive__item-collaborators"} /-->

				<!-- wp:spacer {"height":"24px","className":"is-style-gl-s24"} -->
				<div class="is-style-gl-s24" aria-hidden="true"></div>
				<!-- /wp:spacer -->
			</div>

			<div class="single-details-content">
				<!-- wp:post-content {"layout":{"type":"default"}} /-->
			</div>

			<!-- wp:spacer {"height":"72px","className":"is-style-gl-s72"} -->
			<div class="is-style-gl-s72" aria-hidden="true"></div>
			<!-- /wp:spacer -->
		</div>
		<!-- /wp:group -->
	</section>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->