/* -------------------------------------------------
>> Base Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

.screen-reader-text {
	margin: 0;
	overflow: hidden;
	width: 1px;
	position: absolute !important;
	overflow-wrap: normal !important;
	color: var(--theme_acc_btn_color);
	background-color: var(--theme_acc_btn_bgcolor);
	clip: auto !important;
	border: unset !important;
	border-radius: 0;
	left: -100%;
	font-size: var(--theme_font_size_13);
	clip-path: none;
	font-weight: 700;
	height: auto;
	line-height: normal;
	padding: 8px 12px;
	text-decoration: none;
	top: 8px;

	&:hover,
	&:active,
	&:focus {
		display: block;
		width: auto;
		z-index: 100000;
		left: 8px;

	}
}

#page-section[tabindex="-1"]:focus {
	outline: 0;
}


a,
button,
input[type="submit"] {
	outline: 2px dotted transparent;
	outline-offset: 5px;

	&:focus-visible {
		outline-color: var(--wp--preset--color--black) !important;
	}
}

.contact-details {

	a {
		outline-offset: 0;
	}
}


.header-logo,
.red-ctn,
.black-ctn,
.hero-ctn,
.topbar,
.header-nav ul li {

	a:focus-visible {
		outline-color: var(--wp--preset--color--black);
	}
}
