/* -------------------------------------------------
>> Accessibility styles for WordPress
------------------------------------------------- */
@use "accessibility";

/* -------------------------------------------------
>> Default WordPress alignments
------------------------------------------------- */
@use "alignments";

/* -------------------------------------------------
>> Styles for posts and pages
------------------------------------------------- */
@use "posts-and-pages";

/* -------------------------------------------------
>> Styles for WordPress comments
------------------------------------------------- */
@use "comments";

/* -------------------------------------------------
>> Styles for default WordPress widgets
------------------------------------------------- */
@use "widgets";
