@use "sass:list";
@use "../../css/partials/variables/breakpoints" as bp;

$layout-pattern: 6, 6, 4, 4, 4, 6, 6, 4, 4, 4;
$pattern-length: list.length($layout-pattern);

.additional-link {

	&__cards {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: var(--theme_space_8);
		margin-top: clamp(32px, calc(2.25rem + ((1vw - 7.67px) * 2.4014)), 46px);


		@include bp.max(sm) {
			column-gap: 0;
		}

		>a {
			color: inherit;
			padding-bottom: 0;
			border: none;

			&:hover {

				.additional-link__card-content {
					background: rgba(255, 255, 255, 0.7);

					.additional-link__card-link {
						color: var(--theme_color_secondary);

						&::after {
							filter: brightness(0) saturate(100%) invert(18%) sepia(15%) saturate(7499%) hue-rotate(182deg) brightness(95%) contrast(102%);
						}
					}
				}
			}
		}
	}


	&__card {
		overflow: hidden;
		position: relative;

		@for $i from 1 through $pattern-length {
			&:nth-child(#{$pattern-length}n + #{$i}) {
				grid-column: span list.nth($layout-pattern, $i);
			}
		}

		@include bp.max(xl-large) {
			grid-column: span 6 !important;
		}

		@include bp.max(sm) {
			grid-column: span 12 !important;
		}
	}

	&__card-image {
		overflow: hidden;
		min-height: 100%;
		height: 223px;
		display: flex;

		img {
			border-radius: clamp(12px, calc(0.75rem + ((1vw - 7.68px) * 0.6873)), 16px);
			width: 100%;
			object-fit: cover;
		}
	}

	&__card-content {
		display: inline-flex;
		flex-direction: column;
		padding: var(--theme_space_8);
		border-radius: 8px;
		border: 1px solid var(--theme_white_30);
		background: var(--theme_black_30);
		backdrop-filter: blur(20px);
		position: absolute;
		bottom: clamp(20px, calc(1.25rem + ((1vw - 7.68px) * 1.7182)), 30px);
		right: clamp(20px, calc(1.25rem + ((1vw - 7.68px) * 1.7182)), 30px);
		margin-left: clamp(20px, calc(1.25rem + ((1vw - 7.68px) * 1.7182)), 30px);
		transition: all 0.3s ease;
	}

	&__card-link {
		color: var(--theme_white);
		font-size: var(--theme_font_size_9);
		font-weight: 600;
		line-height: 1.50;
		letter-spacing: -0.3px;
		display: flex;
		align-items: flex-start;
		gap: 10px;

		&::after {
			content: '';
			background-image: url(../../images/right-arrow.svg);
			background-repeat: no-repeat;
			background-size: 20px;
			width: 20px;
			height: 20px;
			transform: rotate(-45deg);
			position: relative;
			top: -6px;
			right: -10px;
		}
	}

	&__card-description {
		padding-top: 10px;
		color: var(--theme_white);
	}
}
