@use "../../css/partials/variables/breakpoints" as bp;
@use "../../css/partials/variables/fluid_mixins" as *;


.timeline-block .timeline-block__text-title {
	color: var(--theme_gray_900);
}

.timeline-block {

	&__header {
		max-width: 960px;
		margin: 0 auto;
		text-align: center;
	}

	&__items {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 1040px;
		margin: 0 auto;
		counter-reset: timeline-step;

		@include bp.max(md) {
			gap: 48px;
		}
	}

	&__item {
		display: flex;
		gap: 24px;
		width: 100%;
		align-items: flex-start;
		counter-increment: timeline-step;

		@include bp.max(md) {
			flex-direction: column;
			gap: 16px;
		}

		&:first-child {

			.timeline-block__badge-col::before {
				top: 76px;

				@include bp.max(md) {
					display: none;
				}
			}
		}

		&:last-child {
			padding-bottom: 0;

			.timeline-block__content-card {
				padding-bottom: 24px;

				@include bp.max(md) {
					padding-bottom: 0;
				}
			}

			.timeline-block__badge-col::before {
				bottom: calc(100% - 76px - 16px);

				@include bp.max(md) {
					display: none;
				}
			}
		}
	}

	&__badge-col {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-shrink: 0;
		width: 48px;
		align-self: stretch;
		position: relative;

		@include bp.max(md) {
			display: none;
		}

		&::before {
			content: '';
			position: absolute;
			width: 1.5px;
			background-color: var(--theme_cg_blue);
			left: 50%;
			transform: translateX(-50%);
			top: 0;
			bottom: 0;
			z-index: 1;

			@include bp.max(md) {
				display: none;
			}
		}
	}

	&__badge {
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background-color: var(--theme_cg_blue);
		color: var(--theme_cg_blue);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		position: relative;
		z-index: 2;
		font-size: var(--theme_font_size_6);
		line-height: 1.33;
		letter-spacing: 0.45px;
		margin-top: 76px;

		@include bp.max(md) {
			margin-top: 0;
		}
	}

	&__content-card {
		display: flex;
		gap: 36px;
		flex-grow: 1;
		align-items: flex-start;
		padding: 0 0 48px 0;

		@include bp.max(lg) {
			flex-direction: column;
			gap: 24px;
		}

		@include bp.max(md) {
			padding-bottom: 0;
		}
	}

	&__image {
		width: 400px;
		flex-shrink: 0;
		border-radius: 16px;
		overflow: hidden;
		aspect-ratio: 2 / 1;
		display: flex;
		align-items: center;
		background: var(--theme_white);

		@include bp.max(lg) {
			width: 320px;
		}

		@include bp.max(md) {
			width: 100%;
			order: 2;
		}

		img {
			width: 100%;
			height: auto;
			display: block;
			object-fit: contain;
		}
	}

	&__text-title {
		color: var(--theme_gray_900);

		&::before {

			@include bp.max(md) {
				content: counter(timeline-step) ". ";
				color: var(--theme_gray_900);
			}
		}
	}

	&__text-content {
		flex-grow: 1;
		font-size: var(--theme_font_size_7);
		font-weight: 400;
		letter-spacing: -0.08px;
		line-height: 1.5;

		ul {
			padding-left: 20px;
			margin: 0;

			li {
				margin-bottom: 8px;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					padding:0;
					border: none;
				}
			}
		}
	}
}
