@use "../../css/partials/variables/breakpoints" as bp;

.our-approach {

	&__content {
		display: block;

		.block-editor-block-list__layout {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: var(--theme_space_8);
			justify-content: space-between;

			@include bp.max(lg) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include bp.max(md) {
				grid-template-columns: repeat(1, 1fr);
			}
		}
	}
}
