.wp-block-ambrygen-generic-result-cards {
	.principles-steps__grid {
		display: block;

		.block-list-appender {
			margin-top: 16px;
		}
	}
}


.principles-steps {
    .block-editor-inner-blocks .block-editor-block-list__layout {
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	}
}
