@use "../../css/partials/variables/breakpoints" as bp;


.our-approach {
	margin: 0;

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--theme_space_8);
        justify-content: space-between;

        @include bp.max(lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include bp.max(md) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .approach-card {

        &__title {
            color: var(--theme_gray_900);

            a {
                color: var(--theme_gray_900);
                outline: none;
                padding: 0;
                border: none;

                &:hover {
                    color: var(--theme_cg_blue);
                }
            }
        }


    }
}
