@use "../variables/fluid_mixins" as *;

@mixin bg-scope($name, $css-var) {

	.bg-#{$name},
	.wp-block.bg-#{$name} {
		background: var(#{$css-var});
		@content;
	}
}

@include bg-scope("primary", --theme_color_primary) {

	/* Inside Classes SCSS will goes here */
}

@include bg-scope("secondary", --theme_color_secondary) {

	:is(h1,
		.heading-1,
		h2,
		.heading-2,
		h3,
		.heading-3,
		h4,
		.heading-4,
		h5,
		.heading-5,
		h6,
		.heading-6,
		.block-description,
		.text-medium):not(.block-inside-title):not(.block-inside-description) {
		color: var(--theme_white);
	}
}

@include bg-scope("primary_25", --theme_primary_25) {

	:is(h1,
		.heading-1,
		h2,
		.heading-2,
		h3,
		.heading-3,
		h4,
		.heading-4,
		h5,
		.heading-5,
		h6,
		.heading-6,
		.text-medium):not(.block-inside-title):not(.block-inside-description) {
		color: var(--theme_primary_800);
	}

	.ai-hero {

		&__counters {

			.ai-hero__counters--counter-title {
				color: var(--theme_primary_800);
			}
		}
	}

	.tabs__nav {
		background-color: var(--theme_white);
	}


	.wp-block-button.is-style-site-secondary-btn {

		.wp-block-button__link {
			background-color: var(--theme_white);
			color: var(--theme_primary_800);

			&:hover {
				background-color: var(--theme_lightblue);
				color: var(--theme_primary_800);
			}
		}
	}

	// Optional: also support frontend buttons
	.site-btn.is-style-site-secondary-btn {
		background-color: var(--theme_white);
		color: var(--theme_primary_800);

		&:hover {
			background-color: var(--theme_lightblue);
			color: var(--theme_primary_800);
		}
	}
}

@include bg-scope("paleblue", --theme_primary_pale_blue) {

	/* Inside Classes SCSS will goes here */
}


@include bg-scope("gray50", --theme_gray_50) {

	/* Inside Classes SCSS will goes here */
}


@include bg-scope("primary_700", --theme_cg_blue) {

	.editor-styles-wrapper & {

		a:not(.site-btn) {
			color: var(--theme_white);
		}
	}

	:is(h1,
		.heading-1,
		h2,
		.heading-2,
		h3,
		.heading-3,
		h4,
		.heading-4,
		h5,
		.heading-5,
		h6,
		.heading-6,
		.text-medium):not(.block-inside-title):not(.block-inside-description) {
		color: var(--theme_white);
	}

	.block-description {
		color: var(--theme_white);
	}

	.hero-kicker {
		color: var(--theme_primary_200);
	}

	.wp-block-button.is-style-site-btn-style {

		.wp-block-button__link {
			background-color: var(--theme_primary_600);
			color: var(--theme_white);

			&:hover {
				background-color: var(--theme_primary_800);
				color: var(--theme_white);
			}
		}
	}

	// Optional: also support frontend buttons
	.site-btn:not([class*="is-style-"]) {
		background-color: var(--theme_primary_600);
		color: var(--theme_white);

		&:hover:not([class*="is-style-"]) {
			background-color: var(--theme_primary_800);
			color: var(--theme_white);
		}
	}

	.wp-block-button.is-style-site-text-btn {

		.wp-block-button__link {
			color: var(--theme_primary_100);

			&:hover {
				color: var(--theme_white);
			}
		}

		&.has-right-arrow {

			.wp-block-button__link {

				&::after {
					background-image: url(../images/primary100-icons/right-icon.svg);
				}

				&:hover {

					&::after {
						background-image: url(../images/white-icons/right-icon.svg);
					}
				}
			}
		}

		&.has-download-arrow {

			.wp-block-button__link {

				&::after {
					background-image: url(../images/primary100-icons/download-arrow.svg);
				}

				&:hover {

					&::after {
						background-image: url(../images/white-icons/download-arrow.svg);
					}
				}
			}
		}

		&.has-video-arrow {

			.wp-block-button__link {

				&::after {
					background-image: url(../images/primary100-icons/play-circle-arrow.svg);
				}

				&:hover {

					&::after {
						background-image: url(../images/white-icons/play-circle-arrow.svg);
					}
				}
			}
		}
	}

	.site-btn.is-style-site-text-btn {
		color: var(--theme_primary_100);

		&:hover {
			color: var(--theme_white);
		}

		&.has-right-arrow {

			&::after {
				background-image: url(../images/primary100-icons/right-icon.svg);
			}

			&:hover {

				&::after {
					background-image: url(../images/white-icons/right-icon.svg);
				}
			}
		}

		&.has-download-arrow {

			&::after {
				background-image: url(../images/primary100-icons/download-arrow.svg);
			}

			&:hover {

				&::after {
					background-image: url(../images/white-icons/download-arrow.svg);
				}
			}
		}

		&.has-video-arrow {

			&::after {
				background-image: url(../images/primary100-icons/play-circle-arrow.svg);
			}

			&:hover {

				&::after {
					background-image: url(../images/white-icons/play-circle-arrow.svg);
				}
			}
		}
	}


	p:not(.block-editor-warning__message) {
		color: var(--theme_white);
	}

	.block-editor-button-block-appender {
		box-shadow: inset 0 0 0 1px #FFF;
		color: #FFF;

		&:hover {
			box-shadow: inset 0 0 0 1px #FFF;
			color: #FFF;
		}
	}

	ul:not(.ordering-options *),
	.block-editor-block-list__layout ul:not(.ordering-options *) {

		>li {

			&::before {
				background-color: var(--theme_white);
			}

			color: var(--theme_white);
		}
	}

	ol:not(.ordering-options *),
	.editor-styles-wrapper .block-editor-block-list__layout ul:not(.ordering-options *) {

		>li {

			&::before {
				color: var(--theme_white);
			}

			color: var(--theme_white);
		}

		ul {

			>li {

				&::before {
					background-color: var(--theme_white);
				}
			}
		}
	}
}

@include bg-scope("primary_800", --theme_primary_800) {

	.eyebrow,
	.hero-kicker {
		color: var(--theme_primary_200);
	}

	.block-description {
		color: var(--theme_gray_200);
	}

	.block-sub-heading {
		color: var(--theme_gray_200);
	}

	a {
		border-color: var(--theme_primary_200);
		color: var(--theme_primary_200);

		&:hover {
			color: var(--theme_white);
			border-color: var(--theme_white);
		}
	}

	p,
	.foot-content {
		color: var(--theme_gray_200);

		a {
			border-color: var(--theme_primary_200);
			color: var(--theme_primary_200);

			&:hover {
				color: var(--theme_white);
				border-color: var(--theme_white);
			}
		}
	}

	:is(h1,
		.heading-1,
		h2,
		.heading-2,
		h3,
		.heading-3,
		h4,
		.heading-4,
		h5,
		.heading-5,
		h6,
		.heading-6,
		.text-medium):not(.block-inside-title):not(.block-inside-description) {
		color: var(--theme_white);
	}


	ul:not(.ordering-options *),
	.block-editor-block-list__layout ul:not(.ordering-options *) {

		>li {

			&::before {
				background-color: var(--theme_white);
			}

			color: var(--theme_white);
		}
	}

	ol:not(.ordering-options *),
	.editor-styles-wrapper .block-editor-block-list__layout ul:not(.ordering-options *) {

		>li {

			&::before {
				color: var(--theme_white);
			}

			color: var(--theme_white);
		}

		ul {

			>li {

				&::before {
					background-color: var(--theme_white);
				}
			}
		}
	}


	.wp-block-button.is-style-site-btn-style {

		.wp-block-button__link {
			background-color: var(--theme_primary_100);
			color: var(--theme_primary_800);

			&:hover {
				background-color: var(--theme_primary_600);
				color: var(--theme_white);
			}
		}

		&.has-right-arrow {

			.wp-block-button__link {

				&::after {
					background-image: url(../images/primary800-icons/right-icon.svg);
				}

				&:hover {

					&::after {
						background-image: url(../images/white-icons/right-icon.svg);
					}
				}
			}
		}

		&.has-download-arrow {

			.wp-block-button__link {

				&::after {
					background-image: url(../images/primary800-icons/download-arrow.svg);
				}

				&:hover {

					&::after {
						background-image: url(../images/white-icons/download-arrow.svg);
					}
				}
			}
		}

		&.has-video-arrow {

			.wp-block-button__link {

				&::after {
					background-image: url(../images/primary800-icons/play-circle-arrow.svg);
				}

				&:hover {

					&::after {
						background-image: url(../images/white-icons/play-circle-arrow.svg);
					}
				}
			}
		}
	}

	// Optional: also support frontend buttons
	.site-btn:not([class*="is-style-"]) {
		background-color: var(--theme_primary_100);
		color: var(--theme_primary_800);

		&:hover:not([class*="is-style-"]) {
			background-color: var(--theme_primary_600);
			color: var(--theme_white);
		}

		&.has-right-arrow {

			&::after {
				background-image: url(../images/primary800-icons/right-icon.svg);
			}

			&:hover {

				&::after {
					background-image: url(../images/white-icons/right-icon.svg);
				}
			}
		}

		&.has-download-arrow {

			&::after {
				background-image: url(../images/primary800-icons/download-arrow.svg);
			}

			&:hover {

				&::after {
					background-image: url(../images/white-icons/download-arrow.svg);
				}
			}
		}

		&.has-video-arrow {

			&::after {
				background-image: url(../images/primary800-icons/play-circle-arrow.svg);
			}

			&:hover {

				&::after {
					background-image: url(../images/white-icons/play-circle-arrow.svg);
				}
			}
		}
	}


	.wp-block-button.is-style-site-text-btn {

		.wp-block-button__link {
			color: var(--theme_primary_100);

			&:hover {
				color: var(--theme_white);
			}
		}

		&.has-right-arrow {

			.wp-block-button__link {

				&::after {
					background-image: url(../images/primary100-icons/right-icon.svg);
				}

				&:hover {

					&::after {
						background-image: url(../images/white-icons/right-icon.svg);
					}
				}
			}
		}

		&.has-download-arrow {

			.wp-block-button__link {

				&::after {
					background-image: url(../images/primary100-icons/download-arrow.svg);
				}

				&:hover {

					&::after {
						background-image: url(../images/white-icons/download-arrow.svg);
					}
				}
			}
		}

		&.has-video-arrow {

			.wp-block-button__link {

				&::after {
					background-image: url(../images/primary100-icons/play-circle-arrow.svg);
				}

				&:hover {

					&::after {
						background-image: url(../images/white-icons/play-circle-arrow.svg);
					}
				}
			}
		}
	}

	.site-btn.is-style-site-text-btn:not(.info-list__link) {
		color: var(--theme_primary_100);

		&:hover {
			color: var(--theme_white);
		}

		&.has-right-arrow {

			&::after {
				background-image: url(../images/primary100-icons/right-icon.svg);
			}

			&:hover {

				&::after {
					background-image: url(../images/white-icons/right-icon.svg);
				}
			}
		}

		&.has-download-arrow {

			&::after {
				background-image: url(../images/primary100-icons/download-arrow.svg);
			}

			&:hover {

				&::after {
					background-image: url(../images/white-icons/download-arrow.svg);
				}
			}
		}

		&.has-video-arrow {

			&::after {
				background-image: url(../images/primary100-icons/play-circle-arrow.svg);
			}

			&:hover {

				&::after {
					background-image: url(../images/white-icons/play-circle-arrow.svg);
				}
			}
		}
	}

	.block-editor-button-block-appender:not(.ordering-options *) {
		box-shadow: inset 0 0 0 1px var(--theme_white);
		color: var(--theme_white);

		&:hover {
			box-shadow: inset 0 0 0 1px var(--theme_white);
			color: var(--theme_white);
		}
	}

}

@include bg-scope("lightblue-gradient", --theme_lightblue_gradient) {

	.wp-block-button.is-style-site-secondary-btn {

		.wp-block-button__link {

			&:hover {
				background-color: var(--theme_lynx_screen_blue);
				color: var(--theme_white);
			}
		}

		&.has-right-arrow {

			.wp-block-button__link {

				&:hover {

					&::after {
						background-image: url(../images/white-icons/right-icon.svg);
					}
				}
			}
		}

		&.has-download-arrow {

			.wp-block-button__link {

				&:hover {

					&::after {
						background-image: url(../images/white-icons/download-arrow.svg);
					}
				}
			}
		}

		&.has-video-arrow {

			.wp-block-button__link {

				&:hover {

					&::after {
						background-image: url(../images/white-icons/play-circle-arrow.svg);
					}
				}
			}
		}
	}

	.site-btn.is-style-site-secondary-btn {

		&:hover {
			background-color: var(--theme_lynx_screen_blue);
			color: var(--theme_white);
		}

		&.has-right-arrow {

			&:hover {

				&::after {
					background-image: url(../images/white-icons/right-icon.svg);
				}
			}
		}

		&.has-download-arrow {

			&:hover {

				&::after {
					background-image: url(../images/white-icons/download-arrow.svg);
				}
			}
		}

		&.has-video-arrow {

			&:hover {

				&::after {
					background-image: url(../images/white-icons/play-circle-arrow.svg);
				}
			}
		}
	}
}

@include bg-scope("gradient1", --theme_gradient1) {

	.wp-block-button.is-style-site-secondary-btn {

		.wp-block-button__link {
			background-color: var(--theme_gray_200);

			&:hover {
				background-color: var(--theme_lightblue);
				color: var(--theme_primary_800);
			}
		}
	}

	.site-btn.is-style-site-secondary-btn {
		background-color: var(--theme_gray_200);

		&:hover {
			background-color: var(--theme_lightblue);
			color: var(--theme_primary_800);
		}
	}
}

@include bg-scope("blue-gradient", --theme_blue_gradient) {

	.wp-block-button.is-style-site-btn-style {

		.wp-block-button__link {
			background-color: var(--theme_primary_100);
			color: var(--theme_primary_800);
			border-color: transparent;

			&:hover {
				background-color: var(--theme_primary_600);
				color: var(--theme_white);
				border-color: transparent;
			}
		}

		&.has-right-arrow {

			.wp-block-button__link {

				&::after {
					background-image: url(../images/primary800-icons/right-icon.svg);
				}

				&:hover {

					&::after {
						background-image: url(../images/white-icons/right-icon.svg);
					}
				}
			}
		}

		&.has-download-arrow {

			.wp-block-button__link {

				&::after {
					background-image: url(../images/primary800-icons/download-arrow.svg);
				}

				&:hover {

					&::after {
						background-image: url(../images/white-icons/download-arrow.svg);
					}
				}
			}
		}

		&.has-video-arrow {

			.wp-block-button__link {

				&::after {
					background-image: url(../images/primary800-icons/play-circle-arrow.svg);
				}

				&:hover {

					&::after {
						background-image: url(../images/white-icons/play-circle-arrow.svg);
					}
				}
			}
		}
	}

	// Optional: also support frontend buttons
	.site-btn:not([class*="is-style-"]) {
		background-color: var(--theme_primary_100);
		color: var(--theme_primary_800);
		border-color: transparent;

		&:hover:not([class*="is-style-"]) {
			background-color: var(--theme_primary_600);
			color: var(--theme_white);
			border-color: transparent;
		}

		&.has-right-arrow {

			&::after {
				background-image: url(../images/primary800-icons/right-icon.svg);
			}

			&:hover {

				&::after {
					background-image: url(../images/white-icons/right-icon.svg);
				}
			}
		}

		&.has-download-arrow {

			&::after {
				background-image: url(../images/primary800-icons/download-arrow.svg);
			}

			&:hover {

				&::after {
					background-image: url(../images/white-icons/download-arrow.svg);
				}
			}
		}

		&.has-video-arrow {

			&::after {
				background-image: url(../images/primary800-icons/play-circle-arrow.svg);
			}

			&:hover {

				&::after {
					background-image: url(../images/white-icons/play-circle-arrow.svg);
				}
			}
		}
	}


	.wp-block-button.is-style-site-text-btn {

		.wp-block-button__link {
			color: var(--theme_primary_100);
			border-color: transparent;

			&:hover {
				color: var(--theme_white);
				border-color: transparent;
			}
		}

		&.has-right-arrow {

			.wp-block-button__link {

				&::after {
					background-image: url(../images/primary100-icons/right-icon.svg);
				}

				&:hover {

					&::after {
						background-image: url(../images/white-icons/right-icon.svg);
					}
				}
			}
		}

		&.has-download-arrow {

			.wp-block-button__link {

				&::after {
					background-image: url(../images/primary100-icons/download-arrow.svg);
				}

				&:hover {

					&::after {
						background-image: url(../images/white-icons/download-arrow.svg);
					}
				}
			}
		}

		&.has-video-arrow {

			.wp-block-button__link {

				&::after {
					background-image: url(../images/primary100-icons/play-circle-arrow.svg);
				}

				&:hover {

					&::after {
						background-image: url(../images/white-icons/play-circle-arrow.svg);
					}
				}
			}
		}
	}

	.site-btn.is-style-site-text-btn {
		color: var(--theme_primary_100);

		&:hover {
			color: var(--theme_white);
		}

		&.has-right-arrow {

			&::after {
				background-image: url(../images/primary100-icons/right-icon.svg);
			}

			&:hover {

				&::after {
					background-image: url(../images/white-icons/right-icon.svg);
				}
			}
		}

		&.has-download-arrow {

			&::after {
				background-image: url(../images/primary100-icons/download-arrow.svg);
			}

			&:hover {

				&::after {
					background-image: url(../images/white-icons/download-arrow.svg);
				}
			}
		}

		&.has-video-arrow {

			&::after {
				background-image: url(../images/primary100-icons/play-circle-arrow.svg);
			}

			&:hover {

				&::after {
					background-image: url(../images/white-icons/play-circle-arrow.svg);
				}
			}
		}
	}

	.block-editor-button-block-appender {
		box-shadow: inset 0 0 0 1px #FFF;
		color: #FFF;

		&:hover {
			box-shadow: inset 0 0 0 1px #FFF;
			color: #FFF;
		}
	}

	a:not(.site-btn):not(.wp-block-button__link):not(.event-carousel__content a) {
		color: var(--theme_white);
		border-color: var(--theme_white);

		&:hover {
			color: var(--theme_lightblue);
			border-color: var(--theme_lightblue);
		}
	}

	.components-button {

		&.is-secondary {
			background-color: var(--theme_gray_200);
			color: var(--theme_cg_blue);

			&:hover {
				background-color: var(--theme_white);
				color: var(--theme_cg_blue);
			}
		}
	}

	.block-description,
	.block-sub-heading,
	.faq__footnote {
		color: var(--theme_white);
	}

	.alongside-faq {

		&__title {
			color: var(--theme_primary_white);
		}
	}

	.components-button {

		&.is-primary {
			background-color: var(--theme_white);
			color: var(--theme_black);
			font-weight: 600;
		}
	}

	:is(h1,
		.heading-1,
		h2,
		.heading-2,
		h3,
		.heading-3,
		h4,
		.heading-4,
		h5,
		.heading-5,
		h6,
		.heading-6,
		.text-medium):not(.block-inside-title):not(.block-inside-description) {
		color: var(--theme_white);
	}

	.block-description {
		color: var(--theme_white);
	}

	.hero-kicker {
		color: var(--theme_white);
	}

	p {
		color: var(--theme_white);
	}

	ul:not(.ordering-options *) {

		li {
			color: var(--theme_primary_white);

			&::before {
				background-color: var(--theme_primary_white);
			}
		}
	}


	.faq {

		&__item {
			border-color: rgba(255, 255, 255, 0.50);

			a {
				color: var(--theme_primary_white);
				padding-bottom: 0;
				border-color: var(--theme_primary_white);

				&:hover {
					border-color: transparent;
				}
			}
		}

		&__question {
			color: var(--theme_primary_white);
		}

		&__answer {
			color: var(--theme_primary_white);

		}

		&__icon::after {
			filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(145deg) brightness(103%) contrast(102%);
		}
	}

}




.block-bg {

	.block-layout {
		padding: fluid(16, 50);
		border-radius: fluid(24, 32);
	}

	&.bg-primary {
		background-color: transparent;

		.block-layout {
			background-color: var(--theme_color_primary);
		}
	}
}

.block-bg {

	&.bg-secondary {
		background-color: transparent;

		.block-layout {
			background-color: var(--theme_color_secondary);
		}
	}
}

.block-bg {

	&.bg-primary_25 {
		background-color: transparent;

		.block-layout {
			background-color: var(--theme_primary_25);
		}
	}
}

.block-bg {

	&.bg-paleblue {
		background-color: transparent;

		.block-layout {
			background-color: var(--theme_primary_pale_blue);
		}
	}
}

.block-bg {

	&.bg-primary_700 {
		background-color: transparent;

		.block-layout {
			background-color: var(--theme_cg_blue);
		}
	}
}

.block-bg {

	&.bg-primary_800 {
		background-color: transparent;

		.block-layout {
			background-color: var(--theme_primary_800);
		}
	}
}

.block-bg {

	&.bg-lightblue-gradient {
		background: transparent;

		.block-layout {
			background: var(--theme_lightblue_gradient);
		}
	}
}

.block-bg {

	&.bg-gradient1 {
		background: transparent;

		.block-layout {
			background: var(--theme_gradient1);
		}
	}
}

.block-bg {

	&.bg-blue-gradient {
		background: transparent;

		.block-layout {
			background: var(--theme_blue_gradient);
		}
	}
}
