/* -------------------------------------------------
>> Styles for header and footer of website
------------------------------------------------- */
@use "layout/layout";

/* -------------------------------------------------
>> Basic styles for theme
------------------------------------------------- */
@use "theme";
@use "blocks-background";
