/****
 *
 * helper classes
 *
****/

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.center-align {
	text-align: center;
}

.right-align {
	text-align: right;
}

.left-align {
	text-align: left;
}

.text-uppercase {
	text-transform: uppercase;
}

// Text-decuration none
.text-decuration-none {
	text-decoration: none;
}

// flex

.d-flex {
	display: flex;
}

.d-inline-flex {
	display: inline-flex;
}

.flex-row {
	flex-direction: row;
}

.flex-column {
	flex-direction: column;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

.flex-column-reverse {
	flex-direction: column-reverse;
}

.justify-content-start {
	justify-content: flex-start;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-around {
	justify-content: space-around;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-end {
	align-items: flex-end;
}

.align-items-center {
	align-items: center;
}

.align-items-baseline {
	align-items: baseline;
}

.align-items-stretch {
	align-items: stretch;
}

.align-content-start {
	align-content: flex-start;
}

.align-content-end {
	align-content: flex-end;
}

.align-content-center {
	align-content: center;
}

.align-content-between {
	align-content: space-between;
}

.align-content-around {
	align-content: space-around;
}

.align-content-stretch {
	align-content: stretch;
}

// flex items
.align-self-auto {
	align-self: auto;
}

.align-self-start {
	align-self: flex-start;
}

.align-self-end {
	align-self: flex-end;
}

.align-self-center {
	align-self: center;
}

.align-self-baseline {
	align-self: baseline;
}

.align-self-stretch {
	align-self: stretch;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-no-wrap {
	flex-wrap: nowrap;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.bg-cover {
	background-size: cover;
}

.bg-contain {
	background-size: contain;
}

.bg-position-center {
	background-position: center;
}

.bg-norepeat {
	background-repeat: no-repeat;
}

.bg-repeat {
	background-repeat: repeat;
}

.reset-bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-visible {
	visibility: hidden;
}

.mb-0 {
	margin-bottom: 0 !important;
}

picture {

	img.loaded {
		opacity: 1;
	}
}

.mx-none {

	@media (width <=767px) {
		display: none;
	}
}

.sm-none {

	@media (width <=640px) {
		display: none;
	}
}

.md-none {

	@media (width <=991px) {
		display: none;
	}
}

.desktop-none {
	display: none;

	@media (width <=767px) {
		display: block;
	}
}

:focus {
	outline: none;
}
