.hero {

    &--alongside {

        .hero__row {
            display: flex;
            flex-wrap: wrap;
            gap: clamp(20px,
                    calc(1.25rem + ((1vw - 9.92px) * 8.3799)),
                    50px);
        }

        .hero__content {
            align-self: center;
            flex: clamp(380px,
                    calc(23.75rem + ((1vw - 9.92px) * 29.6089)),
                    486px) 0 0;

            @media (max-width: 991px) {
                flex: 100% 0 0;
            }
        }


        .hero__media {
            flex: 1 0 0;

            @media (max-width: 991px) {
                flex: 100% 0 0;
            }
        }

        .hero__image {
            position: relative;
            display: flex;
            height: clamp(270px, calc(16.875rem + ((1vw - 7.68px) * 25.6014)), 419px);

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 16px;
            }
        }

        .hero__shape {
            position: absolute;
            bottom: 12px;
            left: clamp(-23px,
                    calc(-0.75rem + ((1vw - 7.68px) * -1.89)),
                    -12px);
            display: flex;

            img {
                max-height: clamp(100px,
                        calc(6.25rem + ((1vw - 7.68px) * 7.732)),
                        145px);
                object-fit: contain;
            }
        }
    }
}
