.genetic-testing-accordion-admin {
	border: 2px dashed var(--theme_border_3);
	padding: 20px;
	background: var(--theme_white);

	.genetic-testing-accordion__admin-header {
		margin-bottom: 20px;
		color: var(--theme_amb_blue_006494);
	}

	.genetic-testing-selection__item {
		margin-bottom: 15px;
		padding: 10px;
		background: var(--theme_white);
		border: 1px solid var(--theme_gray_2);
		border-radius: 4px;
	}

	.genetic-testing-selection__selected {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.genetic-testing-selection__actions {
		display: flex;
		gap: 8px;
	}
}
