.order-testing-block .vertical-tabs {
	display: block;

	.block-editor-block-list__layout {
		display: grid;
		gap: 0 clamp(24px, 1.5rem + (1vw - 9.92px) * 10.0559, 60px);
		grid-template-columns: clamp(420px, 26.25rem + (1vw - 9.93px) * 39.2157, 560px) 1fr;
		padding: 2px;

		.block-editor-block-list__block {
			display: contents;
			width: 100%;
			transition: all 0.3s ease;
			margin-bottom: 0;
		}
	}
}
