@use "../../css/partials/variables/breakpoints" as bp;
@use "../../css/partials/variables/fluid_mixins" as *;

body {
    .block-layout {
        .risk-checklist {
            &__card-title {
                color: var(--theme_white);
            }
        }
    }
}


.risk-checklist {
    &__header {
        text-align: center;
    }

    &__card {
        border-radius: 16px;
        overflow: hidden;
        border: 1px solid var(--theme_gray_200);
    }

    &__card-header {
        background-color: var(--theme_cg_blue);
        padding: fluid(18, 24) fluid(24, 48);
    }

    &__card-title {
        color: var(--theme_white);
    }

    &__card-subtitle {
        color: var(--theme_primary_100);
    }

    &__card-body {
        background-color: var(--theme_white);
        padding: fluid(18, 24) fluid(24, 48);
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__item-label {
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
        width: 100%;
        line-height: 24px;
        margin: 0;

        @include bp.max(md) {
            align-items: flex-start;
        }
    }

    &__checkbox-custom {
        flex-shrink: 0;
        margin: 0 !important;
    }

    &__item-text {
        flex: 1;

        strong {
            font-weight: 600;
        }
    }

    &__result {

        &--hidden {
            display: none;
        }
    }


    &__cta {
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;
    }
}