.logo-section {

	.logo-section__downloads-link {
		cursor: default;
	}

	&__bottom {
		// display: flex;
	}

	&__left {
		// flex: 50% 0 0;
	}

	&__right {
		// flex: 50% 0 0;
	}
}


.logo-section__right * {
	white-space: inherit !important;
	word-break: break-all !important;
	overflow-wrap: break-word !important;
}
