.logo-section {

	.logo-section__downloads-link {
		cursor: default;
	}
}


.logo-section__right * {
	white-space: inherit !important;
	word-break: break-all !important;
	overflow-wrap: break-word !important;
}
