.alongside-image-block {

    &__row {
        display: flex;
        flex-wrap: wrap;
        gap: clamp(20px,
                calc(1.25rem + ((1vw - 9.92px) * 8.3799)),
                50px);
    }

    &__media {
        flex: 1 0 0;

        @media (max-width: 991px) {
            flex: 100% 0 0;
        }
    }

    &__content {
        align-self: center;
        flex: clamp(380px,
                calc(23.75rem + ((1vw - 9.92px) * 29.6089)),
                486px) 0 0;

        @media (max-width: 991px) {
            flex: 100% 0 0;
        }
    }

    &__image {
        position: relative;
        display: flex;
        height: clamp(270px, calc(16.875rem + ((1vw - 7.68px) * 25.6014)), 419px);

        img,
        iframe {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 16px;
        }
    }

    &__title {
        //color: var(--theme_gray_900);
    }

    &__text {
        color: var(--theme_gray_700);

        .location-list {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}