@use "../../variables/breakpoints" as bp;

@mixin site-btn-style {
	// Default arrow icons
	--btn-arrow-right-url: url(../images/white-icons/right-icon.svg);
	--btn-arrow-download-url: url(../images/white-icons/download-arrow.svg);
	--btn-arrow-video-url: url(../images/white-icons/play-circle-arrow.svg);


	// Secondary arrow icons
	--secondary-btn-arrow-right-url: url(../images/primary800-icons/right-icon.svg);
	--secondary-btn-arrow-download-url: url(../images/primary800-icons/download-arrow.svg);
	--secondary-btn-arrow-video-url: url(../images/primary800-icons/play-circle-arrow.svg);


	// Tertiary arrow icons
	--tertiary-btn-arrow-right-url: url(../images/gray700-icons/right-icon.svg);
	--tertiary-btn-arrow-download-url: url(../images/gray700-icons/download-arrow.svg);
	--tertiary-btn-arrow-video-url: url(../images/gray700-icons/play-circle-arrow.svg);

	--tertiary-hover-btn-arrow-right-url: url(../images/primary600-icons/right-icon.svg);
	--tertiary-hover-btn-arrow-download-url: url(../images/primary600-icons/download-arrow.svg);
	--tertiary-hover-btn-arrow-video-url: url(../images/primary600-icons/play-circle-arrow.svg);

	// Text arrow icons
	--text-btn-arrow-right-url: url(../images/primary600-icons/right-icon.svg);
	--text-btn-arrow-download-url: url(../images/primary600-icons/download-arrow.svg);
	--text-btn-arrow-video-url: url(../images/primary600-icons/play-circle-arrow.svg);

	--text-hover-btn-arrow-right-url: url(../images/primary700-icons/right-icon.svg);
	--text-hover-btn-arrow-download-url: url(../images/primary700-icons/download-arrow.svg);
	--text-hover-btn-arrow-video-url: url(../images/primary700-icons/play-circle-arrow.svg);


	background-color: var(--theme_cg_blue);
	border: 1px solid transparent;
	border-radius: 8px;
	box-shadow: 0 1px 2px 0 rgba(16, 24, 40, .05);
	color: var(--theme_button_color);
	display: inline-flex;
	font-size: var(--theme_font_size_7);
	font-weight: 600;
	letter-spacing: -.24px;
	line-height: 1.5;
	outline: none;
	overflow: hidden;
	padding: 12px 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	transition: .35s;
	align-items: center;
	height: auto;
	margin: 0;

	&:hover {
		background-color: var(--theme_color_primary);
		color: #fff;
		border-color: transparent;
	}

	&:focus {
		box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px var(--theme_lightblue);
	}

	&.btn-medium {
		font-size: var(--theme_font_size_8);
		letter-spacing: -0.21px;
		line-height: 1.42;
		padding: 10px 16px;

		@include bp.max(md) {
			letter-spacing: -0.18px;
		}
	}

	&.btn-small {
		font-size: var(--theme_font_size_8);
		letter-spacing: -0.21px;
		line-height: 1.42;
		padding: 8px 16px;

		@include bp.max(md) {
			letter-spacing: -0.18px;
		}
	}

	&.has-right-arrow {
		&::after {
			background-image: var(--btn-arrow-right-url);
			background-repeat: no-repeat;
			background-size: contain;
			content: "";
			flex: 12px 0 0;
			height: 12px;
			margin-left: 17px;
			position: relative;
			top: -1px;
			transition: all 0.2s ease-in-out;
			width: 12px;

			@include bp.max(md) {
				margin-left: 10px;
			}
		}
	}

	&.has-download-arrow {
		&::after {
			background-image: var(--btn-arrow-download-url);
			background-repeat: no-repeat;
			background-size: contain;
			content: "";
			flex: 20px 0 0;
			height: 20px;
			margin-left: 17px;
			position: relative;
			top: -1px;
			transition: all 0.2s ease-in-out;
			width: 20px;

			@include bp.max(md) {
				margin-left: 10px;
			}
		}
	}

	&.has-video-arrow {
		&::after {
			background-image: var(--btn-arrow-video-url);
			background-repeat: no-repeat;
			background-size: contain;
			content: "";
			flex: 20px 0 0;
			height: 20px;
			margin-left: 17px;
			position: relative;
			top: -1px;
			transition: all 0.2s ease-in-out;
			width: 20px;

			@include bp.max(md) {
				margin-left: 10px;
			}
		}
	}
}

@mixin site-secondary-btn {
	background-color: #e6f7fd;
	color: #005e7f;

	&:hover {
		background-color: #b0e5f8;
		color: #005e7f;
	}

	&:focus {
		background-color: var(--theme_lynx_screen_blue);
		box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px var(--theme_lightblue);
		color: #FFF;
	}

	&.has-right-arrow {
		&::after {
			background-image: var(--secondary-btn-arrow-right-url);
		}
	}

	&.has-download-arrow {
		&::after {
			background-image: var(--secondary-btn-arrow-download-url);
		}
	}

	&.has-video-arrow {
		&::after {
			background-image: var(--secondary-btn-arrow-video-url);
		}
	}
}

@mixin site-tertiary-btn-style {
	background-color: var(--theme_white);
	border: 1px solid var(--theme_gray_300);
	box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
	color: var(--theme_gray_700);

	&:hover {
		border-color: var(--theme_color_primary);
		color: var(--theme_color_primary);
	}

	&:focus {
		border: 1px solid var(--theme_color_primary);
		box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px var(--theme_gray_100);
	}

	&.has-right-arrow {
		&::after {
			background-image: var(--tertiary-btn-arrow-right-url);
		}

		&:hover {
			&::after {
				background-image: var(--tertiary-hover-btn-arrow-right-url);
			}
		}
	}

	&.has-download-arrow {
		&::after {
			background-image: var(--tertiary-btn-arrow-download-url);
		}

		&:hover {
			&::after {
				background-image: var(--tertiary-hover-btn-arrow-download-url);
			}
		}
	}

	&.has-video-arrow {
		&::after {
			background-image: var(--tertiary-btn-arrow-video-url);
		}

		&:hover {
			&::after {
				background-image: var(--tertiary-hover-btn-arrow-video-url);
			}
		}
	}
}

@mixin site-text-btn {
	align-items: center;
	border: none;
	background-color: transparent;
	box-shadow: none;
	color: var(--theme_color_primary);
	letter-spacing: normal;
	line-height: 1.5;
	padding: 0;

	&:hover {
		color: var(--theme_cg_blue);

		&.has-icon {

			&::after {
				background-image: url(../images/btn-arrow-right-icon-cg_blue.svg);
				transition: 0.35s;
			}
		}
	}

	&.has-right-arrow {
		&::after {
			background-image: var(--text-btn-arrow-right-url);
		}

		&:hover {
			&::after {
				background-image: var(--text-hover-btn-arrow-right-url);
			}
		}
	}

	&.has-download-arrow {
		&::after {
			background-image: var(--text-btn-arrow-download-url);
		}

		&:hover {
			&::after {
				background-image: var(--text-hover-btn-arrow-download-url);
			}
		}
	}

	&.has-video-arrow {
		&::after {
			background-image: var(--text-btn-arrow-video-url);
		}

		&:hover {
			&::after {
				background-image: var(--text-hover-btn-arrow-video-url);
			}
		}
	}
}


%site-btn-base {
	@include site-btn-style;

	&.is-style-site-tertiary-btn {
		@include site-tertiary-btn-style;
	}

	&.is-style-site-secondary-btn {
		@include site-secondary-btn;
	}

	&.is-style-site-text-btn {
		@include site-text-btn;
	}
}

.site-btn {
	@extend %site-btn-base;
}

.wp-block-button {

	.wp-block-button__link {
		@extend %site-btn-base;
	}

	// Right Arrow
	&.has-right-arrow .wp-block-button__link {
		&::after {
			background-image: var(--btn-arrow-right-url);
			background-repeat: no-repeat;
			background-size: contain;
			content: "";
			flex: 12px 0 0;
			height: 12px;
			margin-left: 17px;
			position: relative;
			top: -1px;
			width: 12px;
		}
	}

	// Download Arrow
	&.has-download-arrow .wp-block-button__link {
		&::after {
			background-image: var(--btn-arrow-download-url);
			background-repeat: no-repeat;
			background-size: contain;
			content: "";
			flex: 20px 0 0;
			height: 20px;
			margin-left: 17px;
			position: relative;
			top: -1px;
			width: 20px;
		}
	}

	// Video Arrow
	&.has-video-arrow .wp-block-button__link {
		&::after {
			background-image: var(--btn-arrow-video-url);
			background-repeat: no-repeat;
			background-size: contain;
			content: "";
			flex: 20px 0 0;
			height: 20px;
			margin-left: 17px;
			position: relative;
			top: -1px;
			width: 20px;
		}
	}


	&.is-style-site-secondary-btn {

		.wp-block-button__link {
			@include site-secondary-btn;
		}

		&.has-right-arrow .wp-block-button__link::after {
			background-image: var(--secondary-btn-arrow-right-url);
		}

		&.has-download-arrow .wp-block-button__link::after {
			background-image: var(--secondary-btn-arrow-download-url);
		}

		&.has-video-arrow .wp-block-button__link::after {
			background-image: var(--secondary-btn-arrow-video-url);
		}
	}

	&.is-style-site-tertiary-btn {

		.wp-block-button__link {
			@include site-tertiary-btn-style;
		}

		&.has-right-arrow .wp-block-button__link::after {
			background-image: var(--tertiary-btn-arrow-right-url);
		}

		&.has-right-arrow .wp-block-button__link:hover::after {
			background-image: var(--tertiary-hover-btn-arrow-right-url);
		}

		&.has-download-arrow .wp-block-button__link::after {
			background-image: var(--tertiary-btn-arrow-download-url);
		}

		&.has-download-arrow .wp-block-button__link:hover::after {
			background-image: var(--tertiary-hover-btn-arrow-download-url);
		}

		&.has-video-arrow .wp-block-button__link::after {
			background-image: var(--tertiary-btn-arrow-video-url);
		}

		&.has-video-arrow .wp-block-button__link:hover::after {
			background-image: var(--tertiary-hover-btn-arrow-video-url);
		}
	}

	&.is-style-site-text-btn {

		.wp-block-button__link {
			@include site-text-btn;
		}

		&.has-right-arrow .wp-block-button__link::after {
			background-image: var(--text-btn-arrow-right-url);
		}

		&.has-right-arrow .wp-block-button__link:hover::after {
			background-image: var(--text-hover-btn-arrow-right-url);
		}

		&.has-download-arrow .wp-block-button__link::after {
			background-image: var(--text-btn-arrow-download-url);
		}

		&.has-download-arrow .wp-block-button__link:hover::after {
			background-image: var(--text-hover-btn-arrow-download-url);
		}

		&.has-video-arrow .wp-block-button__link::after {
			background-image: var(--text-btn-arrow-video-url);
		}

		&.has-video-arrow .wp-block-button__link:hover::after {
			background-image: var(--text-hover-btn-arrow-video-url);
		}
	}
}



/* Styles for the disabled button */
button[disabled] {
	background-color: var(--theme_gray_50);
	border: none;
	box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
	color: var(--theme_gray_400);
	cursor: not-allowed;
	opacity: 0.7;
}

.two-btn-row {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}


.wp-block-buttons {
	display: flex;
	gap: 20px;
	flex-direction: row;
	flex-wrap: wrap;

	@include bp.max(sm) {
		flex-direction: column;
	}

	.wp-block-button {
		.wp-element-button {
			@include bp.max(sm) {
				// justify-content: center;
			}
		}
	}
}
