@use "../../variables/breakpoints" as bp;

@mixin site-btn-style {
	background-color: var(--theme_color_primary);
	border: 1px solid transparent;
	border-radius: 8px;
	box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
	color: var(--theme_button_color);
	display: inline-flex;
	font-size: var(--theme_font_size_10);
	font-weight: 500;
	letter-spacing: -0.24px;
	line-height: 1.5;
	outline: none;
	overflow: hidden;
	padding: 12px 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	transition: 0.35s;

	@include bp.max(md) {
		font-size: 15px;
		letter-spacing: -0.22px;
	}


	&:hover {
		background-color: var(--theme_button_bgcolor_hover);
		color: var(--theme_button_color_hover);
	}

	&:focus {
		box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px var(--theme_lightblue);
	}

	&.btn-medium {
		font-size: var(--theme_font_size_8);
		letter-spacing: -0.21px;
		line-height: 1.42;
		padding: 10px 16px;

		@include bp.max(md) {
			letter-spacing: -0.18px;
		}
	}

	&.btn-small {
		font-size: var(--theme_font_size_8);
		letter-spacing: -0.21px;
		line-height: 1.42;
		padding: 8px 16px;

		@include bp.max(md) {
			letter-spacing: -0.18px;
		}
	}
}

@mixin site-secondary-btn {
	background-color: var(--theme_secondary_button_bgcolor);
	color: var(--theme_secondary_button_color);

	&:hover {
		background-color: var(--theme_lynx_screen_blue);
		color: var(--theme_clean_pool);
	}

	&:focus {
		background-color: var(--theme_lynx_screen_blue);
		box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px var(--theme_lightblue);
	}

	&.is-style-site-trailing-icon {

		&::after {
			filter: brightness(0) saturate(100%) invert(64%) sepia(95%) saturate(707%) hue-rotate(167deg) brightness(103%) contrast(87%);
		}
	}
}

@mixin site-tertiary-btn {
	background-color: var(--theme_white);
	border: 1px solid var(--theme_gray_300);
	box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
	color: var(--theme_gray_700);

	&:hover {
		border-color: var(--theme_cg_blue);
		color: var(--theme_cg_blue);
	}

	&:focus {
		border: 1px solid var(--theme_cg_blue);
		box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px var(--theme_gray_100);
	}

	&.is-style-site-trailing-icon {

		&::after {
			background-image: url(../images/chevron-right-icon.svg);
		}

		&:hover {

			&::after {
				background-image: url(../images/chevron-right-icon-hover.svg);
			}
		}
	}
}

@mixin site-text-btn {
	align-items: center;
	border: none;
	background-color: transparent;
	box-shadow: none;
	color: var(--theme_color_primary);
	letter-spacing: normal;
	line-height: 1.5;
	padding: 0;

	&:hover {
		color: var(--theme_cg_blue);

		&.has-icon {

			&::after {
				background-image: url(../images/btn-arrow-right-icon-cg_blue.svg);
				transition: 0.35s;
			}
		}
	}

	&.has-icon {
		gap: 8px;

		&::after {
			background-image: url(../images/btn-arrow-right-icon.svg);
			background-position: right center;
			background-repeat: no-repeat;
			background-size: 16px 16px;
			content: "";
			display: block;
			height: 20px;
			transition: 0.35s;
			width: 20px;
		}
	}
}

@mixin site-trailing-icon {
	align-items: center;

	@include bp.max(md) {
		text-align: left;
	}

	&::after {
		background-image: url(../images/right-icon.svg);
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		flex: 12px 0 0;
		height: 12px;
		margin-left: 17px;
		position: relative;
		top: 1px;
		transition: all 0.2s ease-in-out;
		width: 12px;

		@include bp.max(md) {
			margin-left: 10px;
		}
	}
}

body {

	.site-btn {

		@include site-btn-style;

		&.is-style-site-secondary-btn {

			@include site-secondary-btn;
		}

		&.is-style-site-tertiary-btn {

			@include site-tertiary-btn;
		}

		&.is-style-site-text-btn {

			@include site-text-btn;
		}

		&.is-style-site-trailing-icon {

			@include site-trailing-icon;
		}
	}

	// Backend Buttons - Use the Same Classname which used in Frontend
	.wp-block-button {

		.wp-block-button__link {

			@include site-btn-style;
		}

		&.is-style-site-secondary-btn {

			.wp-block-button__link {

				@include site-secondary-btn;
			}
		}

		&.is-style-site-text-btn {

			.wp-block-button__link {

				@include site-text-btn;
			}
		}

		&.is-style-site-trailing-icon {

			.wp-block-button__link {

				@include site-trailing-icon;
			}
		}
	}
}

/* Styles for the disabled button */
button[disabled] {
	background-color: var(--theme_gray_50);
	border: none;
	box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
	color: var(--theme_gray_400);
	cursor: not-allowed;
}

.two-btn-row {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}
