@use "../../variables/breakpoints" as bp;

@mixin site-btn-style {
	background-color: var(--theme_cg_blue);
	border: 1px solid transparent;
	border-radius: 8px;
	box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
	color: var(--theme_button_color);
	display: inline-flex;
	font-size: var(--theme_font_size_7);
	font-weight: 600;
	letter-spacing: -0.24px;
	line-height: 1.5;
	outline: none;
	overflow: hidden;
	padding: 12px 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	transition: 0.35s;

	@include bp.max(md) {
		font-size: 15px;
		letter-spacing: -0.22px;
	}

	&:hover {
		background-color: var(--theme_color_primary);
		color: #FFF;
	}

	&:focus {
		box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px var(--theme_lightblue);
	}

	&.btn-medium {
		font-size: var(--theme_font_size_8);
		letter-spacing: -0.21px;
		line-height: 1.42;
		padding: 10px 16px;

		@include bp.max(md) {
			letter-spacing: -0.18px;
		}
	}

	&.btn-small {
		font-size: var(--theme_font_size_8);
		letter-spacing: -0.21px;
		line-height: 1.42;
		padding: 8px 16px;

		@include bp.max(md) {
			letter-spacing: -0.18px;
		}
	}

	&.text-14 {
		font-size: var(--theme_font_size_8);
	}
}

@mixin site-secondary-btn {
	background-color: #E6F7FD;
	color: #005E7F;

	&:hover {
		background-color: #B0E5F8;
		color: #005E7F;
	}

	&:focus {
		background-color: var(--theme_lynx_screen_blue);
		box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px var(--theme_lightblue);
		color: #FFF;
	}

	&.is-style-site-trailing-icon {

		&::after {
			filter: brightness(0) saturate(100%) invert(64%) sepia(95%) saturate(707%) hue-rotate(167deg) brightness(103%) contrast(87%);
		}
	}
}

@mixin site-tertiary-btn {
	background-color: var(--theme_white);
	border: 1px solid var(--theme_gray_300);
	box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
	color: var(--theme_gray_700);

	&:hover {
		border-color: var(--theme_color_primary);
		color: var(--theme_color_primary);
	}

	&:focus {
		border: 1px solid var(--theme_color_primary);
		box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 0 0 4px var(--theme_gray_100);
	}

	&.is-style-site-trailing-icon {

		&::after {
			background-image: url(../images/chevron-right-icon.svg);
		}

		&:hover {

			&::after {
				background-image: url(../images/chevron-right-icon-hover.svg);
			}
		}
	}
}

@mixin site-text-btn {
	align-items: center;
	border: none;
	background-color: transparent;
	box-shadow: none;
	color: var(--theme_color_primary);
	letter-spacing: normal;
	line-height: 1.5;
	padding: 0;

	&:hover {
		color: var(--theme_cg_blue);

		&.has-icon {

			&::after {
				background-image: url(../images/btn-arrow-right-icon-cg_blue.svg);
				transition: 0.35s;
			}
		}
	}

	&.has-icon {
		gap: 8px;

		&::after {
			background-image: url(../images/btn-arrow-right-icon.svg);
			background-position: right center;
			background-repeat: no-repeat;
			background-size: 16px 16px;
			content: "";
			display: block;
			height: 20px;
			transition: 0.35s;
			width: 20px;
		}


		&.prev-icon {

			&::after {
				display: none;
			}

			&::before {
				background-image: url(../images/btn-arrow-right-icon.svg);
				background-position: left center;
				background-repeat: no-repeat;
				background-size: 16px 16px;
				content: "";
				display: block;
				height: 20px;
				transition: 0.35s;
				width: 20px;
				transform: rotate(180deg);
			}
		}

		&.icon-arrow-up {

			&::after {
				transform: rotate(-45deg);
				bottom: -1px;
				position: relative;
			}
		}
	}
}

@mixin site-trailing-icon {
	align-items: center;

	@include bp.max(md) {
		text-align: left;
	}

	&::after {
		background-image: url(../images/right-icon.svg);
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		flex: 12px 0 0;
		height: 12px;
		margin-left: 17px;
		position: relative;
		top: 0;
		transition: all 0.2s ease-in-out;
		width: 12px;

		@include bp.max(md) {
			margin-left: 10px;
		}
	}

	&.btn-small {

		&::after {
			flex: 8px 0 0;
			top: 0;
			margin-left: 12px;
		}
	}
}

body {

	.site-btn {

		@include site-btn-style;

		&.is-style-site-secondary-btn {

			@include site-secondary-btn;
		}

		&.is-style-site-tertiary-btn {

			@include site-tertiary-btn;
		}

		&.is-style-site-text-btn {

			@include site-text-btn;
		}

		&.is-style-site-trailing-icon {

			@include site-trailing-icon;
		}
	}

	// Backend Buttons - Use the Same Classname which used in Frontend
	.wp-block-button {

		&.has-right-arrow {
			.wp-block-button__link {
				align-items: center;

				&::after {
					background-image: url(../images/right-icon.svg);
					background-repeat: no-repeat;
					background-size: contain;
					content: "";
					flex: 12px 0 0;
					height: 12px;
					margin-left: 17px;
					position: relative;
					top: -1px;
					transition: all 0.2s ease-in-out;
					width: 12px;

					@include bp.max(md) {
						margin-left: 10px;
					}
				}
			}
		}

		&.has-download-arrow {
			.wp-block-button__link {
				align-items: center;

				&::after {
					background-image: url(../images/download-arrow.svg);
					background-repeat: no-repeat;
					background-size: 20px;
					content: "";
					flex: 20px 0 0;
					height: 20px;
					margin-left: 17px;
					position: relative;
					top: -1px;
					transition: all 0.2s ease-in-out;
					width: 20px;
					filter: brightness(0) saturate(100%) invert(100%) sepia(95%) saturate(0%) hue-rotate(150deg) brightness(106%) contrast(105%);

					@include bp.max(md) {
						margin-left: 10px;
					}
				}
			}
		}

		&.has-video-arrow {
			.wp-block-button__link {
				align-items: center;

				&::after {
					background-image: url(../images/play-circle-arrow.svg);
					background-repeat: no-repeat;
					background-size: 20px;
					content: "";
					flex: 20px 0 0;
					height: 20px;
					margin-left: 17px;
					position: relative;
					top: -1px;
					transition: all 0.2s ease-in-out;
					width: 20px;
					filter: brightness(0) saturate(100%) invert(100%) sepia(95%) saturate(0%) hue-rotate(150deg) brightness(106%) contrast(105%);

					@include bp.max(md) {
						margin-left: 10px;
					}
				}
			}
		}

		.wp-block-button__link {

			@include site-btn-style;

		}

		&.is-style-site-secondary-btn {

			&.has-right-arrow {
				.wp-block-button__link {
					&::after {
						filter: brightness(0) saturate(100%) invert(18%) sepia(45%) saturate(5227%) hue-rotate(178deg) brightness(97%) contrast(106%);
					}
				}
			}

			&.has-download-arrow {
				.wp-block-button__link {
					&::after {
						filter: brightness(0) saturate(100%) invert(18%) sepia(45%) saturate(5227%) hue-rotate(178deg) brightness(97%) contrast(106%);
					}
				}
			}

			&.has-video-arrow {
				.wp-block-button__link {
					&::after {
						filter: brightness(0) saturate(100%) invert(18%) sepia(45%) saturate(5227%) hue-rotate(178deg) brightness(97%) contrast(106%);
					}
				}
			}

			.wp-block-button__link {
				@include site-secondary-btn;
			}
		}

		&.is-style-site-tertiary-btn {

			&.has-right-arrow {
				.wp-block-button__link {
					&::after {
						filter: brightness(0) saturate(100%) invert(23%) sepia(16%) saturate(1003%) hue-rotate(178deg) brightness(93%) contrast(90%);
					}

					&:hover {
						&::after {
							filter: brightness(0) saturate(100%) invert(49%) sepia(80%) saturate(3385%) hue-rotate(166deg) brightness(93%) contrast(102%);
						}
					}
				}
			}

			&.has-download-arrow {
				.wp-block-button__link {
					&::after {
						filter: brightness(0) saturate(100%) invert(23%) sepia(16%) saturate(1003%) hue-rotate(178deg) brightness(93%) contrast(90%);
					}

					&:hover {
						&::after {
							filter: brightness(0) saturate(100%) invert(49%) sepia(80%) saturate(3385%) hue-rotate(166deg) brightness(93%) contrast(102%);
						}
					}
				}
			}

			&.has-video-arrow {
				.wp-block-button__link {
					&::after {
						filter: brightness(0) saturate(100%) invert(23%) sepia(16%) saturate(1003%) hue-rotate(178deg) brightness(93%) contrast(90%);
					}

					&:hover {
						&::after {
							filter: brightness(0) saturate(100%) invert(49%) sepia(80%) saturate(3385%) hue-rotate(166deg) brightness(93%) contrast(102%);
						}
					}
				}
			}

			.wp-block-button__link {

				@include site-tertiary-btn;
			}
		}


		&.is-style-site-text-btn {

			&.has-right-arrow {
				.wp-block-button__link {
					&::after {
						filter: brightness(0) saturate(100%) invert(29%) sepia(82%) saturate(1718%) hue-rotate(171deg) brightness(90%) contrast(104%);
					}

					&:hover {
						&::after {
							filter: brightness(0) saturate(100%) invert(25%) sepia(67%) saturate(2756%) hue-rotate(176deg) brightness(96%) contrast(101%);
						}
					}
				}
			}

			&.has-download-arrow {
				.wp-block-button__link {
					&::after {
						filter: brightness(0) saturate(100%) invert(23%) sepia(16%) saturate(1003%) hue-rotate(178deg) brightness(93%) contrast(90%);
					}

					&:hover {
						&::after {
							filter: brightness(0) saturate(100%) invert(49%) sepia(80%) saturate(3385%) hue-rotate(166deg) brightness(93%) contrast(102%);
						}
					}
				}
			}

			&.has-video-arrow {
				.wp-block-button__link {
					&::after {
						filter: brightness(0) saturate(100%) invert(23%) sepia(16%) saturate(1003%) hue-rotate(178deg) brightness(93%) contrast(90%);
					}

					&:hover {
						&::after {
							filter: brightness(0) saturate(100%) invert(49%) sepia(80%) saturate(3385%) hue-rotate(166deg) brightness(93%) contrast(102%);
						}
					}
				}
			}

			.wp-block-button__link {

				@include site-text-btn;
			}
		}
	}
}

/* Styles for the disabled button */
button[disabled] {
	background-color: var(--theme_gray_50);
	border: none;
	box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
	color: var(--theme_gray_400);
	cursor: not-allowed;
}

.two-btn-row {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}


.wp-block-buttons {
	display: flex;
	gap: 24px;
	flex-direction: row;

	@include bp.max(sm) {
		flex-direction: column;
	}

	.wp-block-button {
		.wp-element-button {
			@include bp.max(sm) {
				justify-content: center;
			}
		}
	}
}