

$containers: (
    1340: 1400px,
    // 720: 780px,
    full: 100%
);


@mixin container($max-width) {

    .wrapper {
        margin: 0 auto;
        width: 100%;
        position: relative;

        @if $max-width == 100% {
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
        } @else {
            max-width: $max-width;
            padding-left: 30px;
            padding-right: 30px;

            @media (width <= 1220px) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

@mixin editor-container($max-width) {

    .block-editor-inner-blocks {

        .wp-block {
            margin: 0 auto;
            max-width: $max-width !important;
        }
    }
}

@mixin editor-container-styles {
    padding: 50px 20px;
    max-width: 100% !important;
    border: 3px dashed #7b7b7b;
}

@each $name,
$width in $containers {
    .container-#{$name} {

        @include container($width);
    }

    .editor-container-#{$name} {
        .container-#{$name} {

            @include editor-container($width);
        }
    }
}

.editor-styles-wrapper {

    .wp-block-group {

        .block-editor-block-list__block {

            @each $name,
            $width in $containers {
                &.editor-container-#{$name} {

                    @include editor-container-styles;

                    width: 100% !important;
                }
            }
        }
    }

    .wp-block-post-content {

        >.block-editor-block-list__block {

            @each $name,
            $width in $containers {
                &.editor-container-#{$name} {

                    @include editor-container-styles;

                    width: auto !important;
                }
            }
        }
    }
}

@each $name,
$width in $containers {
    .editor-container-#{$name} {
        max-width: 100% !important;
        width: 100% !important;
    }
}

.editor-container-full {
    max-width: 100% !important;
    width: 100% !important;

    .block-editor-inner-blocks {
        max-width: 100% !important;

        .wp-block {
            max-width: 100% !important;
            width: 100% !important;
        }
    }
}

.editor-full-width-container,
.wp-block-acf-spacer,
.wp-block-acf-spacer .acf-input select {
    max-width: 100% !important;
    width: 100% !important;
}