@use "../../variables/breakpoints" as bp;

.top-bar {
	background-color: var(--theme_lightblue);
	color: var(--theme_primary_800);
	padding: 8px 0;
	transition: all .4s ease-in-out;

	/* Elements */
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__text {
		color: var(--theme_primary_800);
		display: inline-block;
		font-size: var(--theme_font_size_7);
		gap: 12px;
		display: flex;
		width: 100%;
		margin-bottom: 0;
		text-align: left;
		justify-content: space-between;

		.bg-primary_800 & {
			color: var(--theme_white);
		}

		.bg-primary_700 & {
			color: var(--theme_white);
		}

		@include bp.max(lg) {
			font-size: 14px;
		}
	}

	&__link {
		font-weight: 500;
		text-decoration: underline;
	}

	.top-bar__link {
		// margin-left: 12px;
	}

	&__close {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 24px 0 0;

		@include bp.min(ultra-large) {
			flex: 36px 0 0;
		}

		@include bp.max(lg) {
			flex: 22px 0 0;
		}
	}

	&__close-icon {
		display: inline-flex;

		@include bp.min(ultra-large) {
			width: 100%;
		}

		figure {
			margin: 0;
		}

		img {
			display: block;

			.bg-primary_800 & {
				filter: brightness(0) saturate(100%) invert(86%) sepia(2%) saturate(7322%) hue-rotate(175deg) brightness(106%) contrast(95%);

				&:hover {
					filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7490%) hue-rotate(86deg) brightness(98%) contrast(98%);
				}
			}

			.bg-primary_700 & {
				filter: brightness(0) saturate(100%) invert(86%) sepia(2%) saturate(7322%) hue-rotate(175deg) brightness(106%) contrast(95%);

				&:hover {
					filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7490%) hue-rotate(86deg) brightness(98%) contrast(98%);
				}
			}

			@include bp.min(ultra-large) {
				width: 100%;
			}
		}
	}
}
