@use "../../variables/breakpoints" as bp;

.top-bar {
	background-color: var(--theme_lightblue);
	color: var(--theme_primary_800);
	padding: 8px 0;
	transition: all .4s ease-in-out;

	/* Elements */
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__text {
		color: var(--theme_primary_800);
		display: flex;
		flex-wrap: wrap;
		font-size: 16px;
		gap: 12px;
		justify-content: center;
		margin-bottom: 0;

		@include bp.max(lg) {
			font-size: 13px;
			text-align: left;
		}

		a {
			margin-left: 8px;
		}
	}

	&__link {
		font-weight: 500;
		text-decoration: underline;
	}

	&__close {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;

		@include bp.max(lg) {
			flex: 22px 0 0;
		}
	}

	&__close-icon {
		display: inline-flex;

		figure {
			margin: 0;
		}

		img {
			display: block;
		}
	}
}
