.slide-thumb img,
.burger-single,
.post-tags,
.post-content-des p,
.post-meta,
.search-button,
.single-blog-post,
.wpcf7-submit,
a,
a:visited,
button,
input[type="submit"],
.home-hero,
header {
	@include transition(all, 0.3s, ease-in-out);
}

.top-bar {
	background-color: var(--gb_color_primary);
	color: var(--gb_topbar_color);
	padding: 8px 0;
	transition: all 0.4s ease-in-out;

	@media(max-width: 767px) {
		padding: 18px 0 27px;
	}
}

.header-section {
	.top-bar-text {
		display: flex;
		flex-wrap: wrap;
		gap: 12px;
		padding: 0 30px;
		justify-content: center;

		font-size: 16px;
		color: var(--gb_white);

		@media(max-width: 991px) {
			padding: 0 20px;
			justify-content: flex-start;
			text-align: left;
		}

		@media(max-width: 767px) {
			padding: 0 36px 0px 20px;
			gap: 10px;
		}

		p {
			margin: 0;
		}

		a {
			color: var(--gb_white);
			background-image: linear-gradient(transparent calc(100% - 1px), var(--gb_white) 1px);
			font-size: 16px;

			&:hover {
				color: var(--gb_white);
				background-image: inherit;
			}

			&.site-btn {
				color: var(--gb_white);
				background-image: linear-gradient(transparent calc(100% - 1px), var(--gb_white) 1px);
				font-size: 16px;

				&:hover {
					color: var(--gb_white);
					background-image: inherit;
				}
			}
		}

		a,
		a:visited {
			display: inline-block;
		}
	}
}


.top-bar-cross {
	cursor: pointer;
	line-height: 0.65;
	position: absolute;
	right: 8px;
	top: 8px;

	span {
		display: flex;
		width: 24px;
		height: 24px;
		justify-content: center;
		align-items: center;
	}

	img {
		width: 12px;
		filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(271deg) brightness(104%) contrast(112%);
	}
}

.hide-topbar {
	header {
		top: -44px;
	}
}

.nav-container {
	display: flex;
}

.header-logo a {
	display: inline-block;
}

.no-overflow {
	overflow: hidden;
}

.logo {
	align-self: center;
	display: flex;
	line-height: 0;
	position: relative;
	transition: all 0.2s ease-in-out;
	width: 184px;
	z-index: 9;

	img {
		height: 42px;
		max-width: 100%;

		&.logo-sticky {
			position: absolute;
			left: 0;
			opacity: 0;
			visibility: hidden;
			transition: all 0.2s ease-in-out;
		}

		.logo-default {
			transition: all 0.2s ease-in-out;
		}
	}

}

.header-inner {
	@include transition(all, 0.3s, ease-in-out);
	box-sizing: border-box;
	padding: 0 30px;
}

header {
	background-color: var(--gb_header_bgcolor);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;

	&.shrink {
		.header-inner:not(.header-active) {
			background-color: var(--gb_color_primary);
			box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);

			&.header-active {
				box-shadow: none;
			}

			.logo {
				.logo-sticky {
					visibility: visible;
					opacity: 1;
				}

				.logo-default {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
	}
}

.header-wrapper {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 100%;
	width: 100%;
}

.header-btns {
	align-items: center;
	display: flex;
	margin-top: 0;
	z-index: 1;
}

body.logged-in.admin-bar {
	header {
		top: 32px;
	}

	&.hide-topbar {
		header {
			top: -12px;
		}
	}
}

.desktop-hide {
	display: none;
}