@use "../../variables/breakpoints" as bp;

.top-bar {
	background-color: var(--theme_lightblue);
	color: var(--theme_primary_800);
	padding: 8px 0;
	transition: all .4s ease-in-out;

	/* Elements */
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__text {
		color: var(--theme_primary_800);
		display: inline-block;
		font-size: var(--theme_font_size_7);
		gap: 12px;
		justify-content: center;
		margin-bottom: 0;
		text-align: left;

		@include bp.max(lg) {
			font-size: 13px;
		}

		a {
			margin-left: 8px;
		}
	}

	&__link {
		font-weight: 500;
		text-decoration: underline;
	}

	&__close {
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 24px 0 0;

		@include bp.min(ultra-large) {
			flex: 36px 0 0;
		}

		@include bp.max(lg) {
			flex: 22px 0 0;
		}
	}

	&__close-icon {
		display: inline-flex;

		@include bp.min(ultra-large) {
			width: 100%;
		}

		figure {
			margin: 0;
		}

		img {
			display: block;

			@include bp.min(ultra-large) {
				width: 100%;
			}
		}
	}
}
