/* Desktop menu styles */
@use "../../variables/breakpoints" as bp;

@media(min-width: 1025px) {

	@for $i from 1 through 20 {
		.nav__item--mega-menu__submenu-inner--link-wrapper:nth-child(#{$i}) {
			transition-delay: #{$i * 0.07}s;
		}
	}

	.header__inner {

		.nav__menu-btn {
			display: none;
		}

		.header__right {

			.user-icon {
				display: none;
			}
		}

		.menu-drawer-close-button {
			display: none;
		}
	}

	.nav {
		height: 100%;

		&__menu {
			height: 100%;

			>ul {

				>li {

					a.nav__link:not(.mega-menu a),
					a.nav__link:visited:not(.mega-menu a) {
						align-self: center;
						border: 0;
						color: var(--theme_gray_800);
						display: flex;
						font-size: var(--theme_font_size_7);
						font-weight: 600;
						letter-spacing: -0.24px;
						line-height: 1.50;
						padding: 10px;
						position: relative;
						z-index: 9999;

						&:hover {
							color: var(--theme_color_primary);
						}
					}
				}
			}
		}

		&__list {
			display: flex;
			flex-wrap: wrap;
			height: 100%;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		&__item {
			display: flex;
			margin: 0 0 0 0;
			padding: 0 6px 0 6px;

			&--mega-menu,
			&--sub-menu {
				opacity: 0;
				overflow: hidden;
				transition: all 0.3s ease-in-out;
				visibility: hidden;
			}

			&--mega-menu {
				background-color: var(--theme_primary_white);
				border: 1px solid var(--theme_gray_200);
				border-radius: 12px;
				box-shadow: 0 233px 65px 0 rgba(179, 179, 179, 0.00), 0 149px 60px 0 rgba(179, 179, 179, 0.01), 0 84px 50px 0 rgba(179, 179, 179, 0.05), 0 37px 37px 0 rgba(179, 179, 179, 0.09), 0 9px 20px 0 rgba(179, 179, 179, 0.10);
				left: 240px;
				margin: 0 0 0;
				max-width: 915px;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				right: 0;
				top: 100%;
				visibility: hidden;
				width: 100%;
				transition: 0.4s;
				transform: translate(0, 30px);

				@include bp.between(1024px, 1200px) {
					left: clamp(60px, calc(3.75rem + ((1vw - 10.24px) * 68.1818)), 180px);
				}

				&__wrapper {

					.nav__item--mega-menu__grid {

						@media (min-height:540px) {
							// max-height: 438px;

							.nav__item--mega-menu__image {
								// height: 232px;
							}

							// overflow-y: auto;
						}

						@media (min-height:700px) {
							// max-height: 538px;

							// overflow-y: auto;
							.nav__item--mega-menu__image {
								// height: 302px;
							}
						}
					}
				}

				&__grid {
					display: grid;
					gap: 0;
					grid-template-columns: repeat(3, 1fr);
				}

				&__item {
					padding: 16px;
					position: relative;

					&::before {
						border-right: 1px solid var(--theme_gray_200);
						content: '';
						height: 100%;
						position: absolute;
						right: 0;
						top: 0;
						width: 1px;
					}

					&:last-child {

						&::before {
							display: none;
						}
					}

					.nav__item--mega-menu__submenu-inner {
						opacity: 0;
						visibility: hidden;
					}

					&:hover {

						.nav__item--mega-menu__col {

							.nav__item--mega-menu__image {

								img {
									transform: scale(1.1);
									transition: transform 0.4s ease;
								}
							}
						}

						>.nav__item--mega-menu__submenu-inner {
							opacity: 1;
							visibility: visible;
						}

						.nav__item--mega-menu__submenu-inner--link-wrapper {
							opacity: 1;
							transform: translateY(0);
						}
					}

					&__col {
						opacity: 0.3;

						&__image {
							opacity: 0.4;

							img {
								opacity: 0.5;
							}
						}
					}
				}

				&__image {
					height: 352px;
					margin-bottom: 18px;
					overflow: hidden;
					border-radius: 8px;

					img {
						border-radius: 8px;
						height: 100%;
						object-fit: cover;
						width: 100%;
						transition: transform 0.4s ease;
						object-position: center;
					}
				}

				&__link-title {
					color: var(--theme_gray_900);
					flex: 1 0 0;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
				}

				&__links {
					align-items: center;
					display: flex;
					gap: 10px;
					margin-bottom: 10px;

					>a {
						display: flex;
						justify-content: space-between;
						width: 100%;
					}

					&--icon {
						flex: 24px 0 0;
						height: 24px;
						width: 24px;

						&::before {
							background-image: url(../images/mega-menu-link-icon.svg);
							background-position: center center;
							background-repeat: no-repeat;
							background-size: 24px;
							content: '';
							display: block;
							height: 24px;
							width: 24px;
						}
					}
				}

				&__info {
					color: var(--theme_gray_500);
					margin-top: 8px;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
				}

				&__submenu-inner {
					inset: 0;
					// overflow: hidden;
					height: 100%;
					padding: 16px;
					position: absolute;
					transition: all 0.3s ease-in-out;

					&--title {
						margin-bottom: 0;
						padding-bottom: 16px;
					}

					&--links {
						display: flex;
						flex-direction: column;
						gap: 16px;
						overflow-y: auto;
						// height: calc(100% - 34px);
						height: 392px;
					}

					&--link-wrapper {
						opacity: 0;
						transform: translateY(20px);
						transition: transform 0.3s ease, opacity 0.3s ease;
					}


					&--link {
						align-items: center;
						border-radius: 8px;
						color: var(--theme_gray_900);
						display: flex;
						gap: 8px;
						letter-spacing: normal;
						line-height: normal;
						overflow: hidden;
						padding: 8px;

						&:hover {
							background-color: var(--theme_gray_100);
						}
					}

					&--link-title {
						color: var(--theme_gray_900);
					}

					&--icon {
						display: flex;
						height: 20px;
						width: 20px;
					}

					&--col {
						background-color: var(--theme_gray_50);
						border-radius: 8px;
						height: 100%;
						padding: 8px;
						overflow: hidden;
						// overflow-y: auto;
					}
				}

				&__category-submenu-row {
					height: 100%;
					padding: 16px;
				}

				&__category-submenu-lists {
					display: none;
					flex-wrap: wrap;

					.cat-submenu-link {
						display: flex;
						justify-content: space-between;
						margin: 0 0 10px 0;
						padding: 0;
						width: 100%;
					}

					&.submenu-active {
						display: flex;
					}

					&--image {
						display: flex;
						overflow: hidden;
						width: 100%;

						// height: 100%;
						figure {
							margin: 0;
							width: 100%;
						}

						>a {
							display: block;
							padding: 0;
							width: 100%;

							figure {
								margin: 0;
							}
						}

						img {
							border-radius: 8px;
							display: block;
							height: 313px;
							min-height: 100%;
							object-fit: cover;
							width: 100%;
						}
					}

					&--links {
						align-items: center;
						display: flex;
						padding-top: 16px;
						width: 100%;
					}
				}

				&__second-level {

					.nav__item--mega-menu__grid {
						grid-template-columns: 305px 1fr;
					}

					&--submenu-inner {
						// height: 100%;
						position: relative;
						// overflow-y: auto;

						&::after {
							border-right: 1px solid var(--theme_gray_200);
							content: "";
							height: 100%;
							position: absolute;
							right: 0;
							top: 0;
							width: 1px;
						}
					}

					.nav__item--mega-menu__submenu-inner--col {
						background-color: transparent;
						border-radius: inherit;
						padding: 0;
					}

					.nav__item--mega-menu__submenu-inner--title {
						color: var(--theme_gray_500);
					}

					.submenu-inner-link {

						&.hover-active {
							background-color: var(--theme_gray_100);
						}
					}
				}
			}

			&:hover {

				.nav__item--sub-menu {
					overflow: visible;
					visibility: visible;
				}
			}

			&:hover>.nav__item--mega-menu {
				opacity: 1;
				overflow: visible;
				visibility: visible;
				transform: translate(0, 0);
			}

			a {

				&:focus-visible {

					+ul {
						opacity: 1;
						overflow: visible;
						visibility: visible;
					}
				}
			}

			&:last-child {
				margin-right: 0;
				padding-right: 0;
			}

			&--angle {
				display: flex;
				position: relative;

				&::before {
					background-color: var(--gb_color_secondary);
					bottom: -1px;
					content: "";
					height: 3px;
					left: 0;
					position: absolute;
					transform: scaleX(0);
					transform-origin: bottom right;
					transition: transform 0.3s;
					width: 100%;
				}
			}

			&--menu-has-children {

				.nav__item--angle {

					&::before {
						width: 100%;
					}
				}

				.nav__item--tringle-touch {
					display: flex;
					height: 100%;
					width: 100%;

					&::after,
					&::before {
						content: "";
						display: block;
						height: 143px;
						margin: 0;
						position: absolute;
						right: 0;
						top: 47px;
						transform: rotate(-50deg);
						transform-origin: top;
						visibility: hidden;
						width: 67px;
						z-index: 999;
					}

					&::before {
						left: 0;
						right: auto;
						transform: rotate(45deg);
					}

					&:hover {

						&::after,
						&::before {
							height: 0;
							visibility: visible;

							transition:
								height 8s linear,
								top 0.5s linear,
								bottom 0.5s linear;
						}
					}
				}
			}

			/* Hover / active underline */
			&--active,
			&--current,
			&:hover {

				>.nav__link-wrapper::before {
					transform: scaleX(1);
					transform-origin: bottom left;
				}
			}
		}

		&__sub-menu {
			background-color: var(--gb_white);
			box-shadow: 0 4px 20px rgba(8, 32, 49, 0.2);
			left: -15px;
			list-style: none;
			margin: 0;
			opacity: 0;
			overflow: hidden;
			padding: 20px 0;
			position: absolute;
			top: 100%;
			transition: all 0.4s ease-in-out;
			visibility: hidden;
			width: 230px;
			z-index: 9;

			&--open {
				opacity: 1;
				visibility: visible;
			}
		}

		&__sub-item {
			margin: 0 0 14px;
			padding: 0 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__sub-link {
			border-bottom: 1px solid transparent;
			color: var(--gb_color_secondary);
			display: inline-block;
			font-size: 16px;
			line-height: 1;
			transition: all 0.3s ease-in-out;

			&:hover,
			&--current {
				border-bottom-color: var(--gb_color_secondary);
			}
		}

		/* Sub menu */
	}
}
