.popup-overflow-hidden {
    overflow: hidden;
}

.off-canvas {
    background: var(--gb_white_2);
    height: 100%;
    max-height: 100vh;
    min-width: 596px;
    overflow-y: auto;
    padding: 30px;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: all 0.3s ease;
    width: 40%;
    z-index: 1000;

    @media(max-width: 991px) {
        min-width: inherit;
        padding: 24px 20px 24px 24px;
        width: 60%;
    }

    @media(max-width: 640px) {
        min-width: inherit;
        width: calc(100% - 20px);
    }

    &::-webkit-scrollbar {
        background: transparent;
        border-radius: 4px !important;
        cursor: pointer;
        height: 6px;
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 4px;
        background: var(--gb_color_primary);
        border-radius: 4px !important;
        cursor: pointer;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
        cursor: pointer;
    }

    &.open {
        transform: translateX(0);
    }

    .close-icon {
        background-color: var(--gb_white);
        background-image: url(../images/close-icon.svg);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: clamp(20px, calc(1.25rem + ((1vw - 7.68px) * 1.3746)), 28px);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        font-size: 0;
        height: clamp(32px, calc(2rem + ((1vw - 7.68px) * 2.0619)), 44px);
        margin: 0;
        padding: 0;
        position: absolute;
        right: 20px;
        top: 20px;
        transition: all .2s ease-in-out;
        width: clamp(32px, calc(2rem + ((1vw - 7.68px) * 2.0619)), 44px);

        &:hover {
            background-color: var(--gb_color_secondary);
        }

        @media(max-width: 991px) {
            right: 16px;
            top: 16px;
        }
    }

    .modal-content {
        .bio-content {
            // color: var(--gb_Secondary_purple_dark);
            opacity: 0.8;

            p {
                margin: 0 0 clamp(30px, calc(1.875rem + ((1vw - 7.68px) * 1.7182)), 40px);

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    // color: var(--gb_primary_orange);

                    &:hover {
                        // text-decoration-color: var(--gb_primary_orange);
                    }
                }
            }
        }
    }
}

.overlay {
    background: var(--gb_white_2);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 999;

    &.show {
        opacity: 0.5;
        visibility: visible;
    }
}