.is-style-gl-s2,
.gl-s2 {
	height: var(--gb_space_1) !important;
}

.is-style-gl-s4,
.gl-s4 {
	height: var(--gb_space_2) !important;
}

.is-style-gl-s6,
.gl-s6 {
	height: var(--gb_space_3) !important;
}

.is-style-gl-s8,
.gl-s8 {
	height: var(--gb_space_4) !important;
}

.is-style-gl-s12,
.gl-s12 {
	height: var(--gb_space_5) !important;
}

.is-style-gl-s16,
.gl-s16 {
	height: var(--gb_space_6) !important;
}

.is-style-gl-s20,
.gl-s20 {
	height: var(--gb_space_7) !important;
}

.is-style-gl-s24,
.gl-s24 {
	height: var(--gb_space_8) !important;
}

.is-style-gl-s30,
.gl-s30 {
	height: var(--gb_space_9) !important;
}

.is-style-gl-s26,
.gl-s36 {
	height: var(--gb_space_10) !important;
}

.is-style-gl-s48,
.gl-s48 {
	height: var(--gb_space_11) !important;
}

.is-style-gl-s72,
.gl-s72 {
	height: var(--gb_space_12) !important;
}

.is-style-gl-s96,
.gl-s96 {
	height: var(--gb_space_13) !important;
}

.is-style-gl-s128,
.gl-s128 {
	height: var(--gb_space_14) !important;
}

.is-style-gl-s156,
.gl-s156 {
	height: var(--gb_space_15) !important;
}

.is-style-gl-s200,
.gl-s200 {
	height: var(--gb_space_16) !important;
}

.is-style-gl-s236,
.gl-s236 {
	height: var(--gb_space_17) !important;
}