.is-style-gl-s2 {
	height: var(--theme_space_1) !important;
}

.is-style-gl-s4 {
	height: var(--theme_space_2) !important;
}

.is-style-gl-s6 {
	height: var(--theme_space_3) !important;
}

.is-style-gl-s8 {
	height: var(--theme_space_4) !important;
}

.is-style-gl-s12 {
	height: var(--theme_space_5) !important;
}

.is-style-gl-s16 {
	height: var(--theme_space_6) !important;
}

.is-style-gl-s20 {
	height: var(--theme_space_7) !important;
}

.is-style-gl-s24 {
	height: var(--theme_space_8) !important;
}

.is-style-gl-s32 {
    height: var(--theme_space_9) !important;
}

.is-style-gl-s26 {
	height: var(--theme_space_10) !important;
}

.is-style-gl-s50 {
	height: var(--theme_space_11) !important;
}

.is-style-gl-s64 {
	height: var(--theme_space_19) !important;
}

.is-style-gl-s72 {
	height: var(--theme_space_12) !important;
}

.is-style-gl-s96 {
	height: var(--theme_space_13) !important;
}

.is-style-gl-s128 {
	height: var(--theme_space_14) !important;
}

.is-style-gl-s156 {
	height: var(--theme_space_15) !important;
}

.is-style-gl-s200 {
	height: var(--theme_space_16) !important;
}

.is-style-gl-s236 {
	height: var(--theme_space_17) !important;
}

.is-style-gl-s36 {
	height: var(--theme_space_18) !important;
}