/**
 * Newsletter Signup Block Styles
 * Editor + Frontend Compatible
 */

@use "../../css/partials/variables/breakpoints" as bp;

.newsletter {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: clamp(32px, calc(2rem + ((1vw - 7.68px) * 11.6838)), 100px);
	align-items: center;

	@include bp.max(md) {
		column-gap: 0;
	}

	&__image-block {
		grid-column: span 6;
		height: clamp(350px, calc(21.875rem + ((1vw - 7.67px) * 22.1269)), 479px);
		width: 100%;
		padding: 19px;
		position: relative;

		@include bp.max(md) {
			grid-column: span 12;
			padding: 0;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 16px;
		}

		&__overlay {
			position: absolute;
			z-index: 1;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		&__overlay-top {
			width: clamp(82px, calc(5.125rem + ((1vw - 7.67px) * 8.5763)), 132px);
			height: clamp(82px, calc(5.125rem + ((1vw - 7.67px) * 8.5763)), 132px);
			top: 8px;
			left: 0;

			@include bp.max(md) {
				top: -10px;
				left: -13px;
			}
		}

		&__overlay-bottom {
			width: clamp(125px, calc(7.8125rem + ((1vw - 7.67px) * 10.2916)), 185px);
			height: clamp(95px, calc(5.9375rem + ((1vw - 7.67px) * 10.2916)), 155px);
			bottom: 8px;
			right: 0;

			@include bp.max(md) {
				bottom: -10px;
				right: -19px;
			}
		}
	}

	&__content-block {
		grid-column: span 6;

		@include bp.max(md) {
			grid-column: span 12;
		}

		&__eyebrow-text {
			color: var(--theme_primary_200);
		}
	}
}
