@use "../../css/partials/variables/breakpoints" as bp;

.order-testing-block {

	.vertical-tabs {

		.vertical-tabs__item {

			@include bp.max(lg) {
				background: var(--theme_gray_100);
				margin-bottom: 20px;
				padding: 20px;
				border-radius: 12px;
				border: none;
			}

			&:last-child {

				@include bp.max(lg) {
					margin-bottom: 0;
				}
			}

			.vertical-tabs__header {

				@include bp.max(lg) {
					padding-top: 0;
					max-width: 100%;
				}
			}

			.vertical-tabs__content {

				@include bp.max(lg) {
					margin: 0;
					animation: inherit;
				}

				@include bp.max(lg) {
					display: block;
					max-width: 720px;
				}

			}
		}
	}
}
