/* -------------------------------------------------
>> Styles for WordPress captions
------------------------------------------------- */
@use "captions";

/* -------------------------------------------------
>> Styles for default WordPress galleries
------------------------------------------------- */
@use "galleries";
