@use "../../css/partials/variables/breakpoints" as bp;

.get-started-ambry-block {

	.card-grid-block {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 30px clamp(25px, calc(1.5625rem + ((1vw - 7.68px) * 4.2955)), 50px);
		margin-top: 32px;

		a {

			border-bottom: none;
			color: inherit;
			padding-bottom: 0;

			&.card-col {

				&:hover {

					.card-info {

						.link-btn {
							transition: 0.3s;

							&::after {
								background-image: url(../../images/right-arrow-hover.svg);
								transition: 0.3s;
							}
						}
					}

					&:nth-child(odd) {

						.card-info {
							background: rgba(20, 37, 51, 0.7);
						}
					}

					&:nth-child(even) {

						.card-info {
							background: rgba(255, 255, 255, 0.7);

							.link-btn,
							.card-description {
								color: var(--theme_color_secondary);
							}

						}
					}
				}
			}
		}

		.card-col {
			grid-column: span 6;
			overflow: hidden;
			position: relative;

			@include bp.max(md) {
				grid-column: span 12;
			}

			.image-block {
				overflow: hidden;
				min-height: clamp(327px, calc(20.25rem + ((1vw - 7.68px) * 27.4914)), 484px);
				display: flex;

				img {
					border-radius: 16px;
					width: 100%;
					object-fit: cover;
				}
			}

			.card-info {
				display: flex;
				flex-direction: column;
				padding: 32px;
				border-radius: 8px;
				border: 1px solid rgba(255, 255, 255, 0.30);
				background: rgba(0, 0, 0, 0.30);
				backdrop-filter: blur(20px);
				position: absolute;
				bottom: clamp(24px, calc(1.25rem + ((1vw - 7.68px) * 5.1546)), 50px);
				left: clamp(24px, calc(1.25rem + ((1vw - 7.68px) * 7.5601)), 64px);
				right: clamp(24px, calc(1.25rem + ((1vw - 7.68px) * 7.5601)), 64px);
				transition: all 0.3s ease;

				@include bp.max(lg) {
					padding: 24px;
				}
			}

			.link-btn {
				color: var(--theme_white);
				position: relative;
				display: flex;
				gap: 8px;
				align-items: center;
				margin: 0;
				transition: 0.3s;

				&::after {
					content: '';
					background-image: url(../../images/right-arrow.svg);
					background-size: 20px;
					width: 20px;
					height: 20px;
					display: inline-block;
					flex: 20px 0 0;
					transition: 0.3s;
				}
			}

			.card-description {
				padding-top: 10px;
				color: var(--theme_white);
			}
		}
	}
}
