.blog-teaser {
    .block-title {
        text-align: center;
    }

    .swiper {
        position: relative;

        .swiper-slide {
            border: 1px solid #c5bfb6;
            border-radius: 20px 20px 20px 20px;
            display: flex;
            flex-direction: column;
            // height: auto;
            height: 100%;
            // padding-left: 1px;

            @media(max-width: 767px) {
                border-radius: 12px 12px 12px 12px;
            }
        }
    }

    .slider-arrow {
        z-index: 0;
        display: flex;
        gap: 9px;
        height: 60px;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        width: 100%;
        z-index: 1;

        @media (max-width: 1350px) {
            gap: 12px;
            height: auto;
            justify-content: center;
            margin: 30px 0 0 0;
            position: relative;
            top: 0;
            transform: inherit;
        }

        .swiper-button-prev {
            left: -90px;

            @media(max-width: 1399px) {
                left: -70px;
            }

            @media(max-width: 1350px) {
                left: 0;
            }

            @media (max-width: 991px) {
                left: 0;
            }
        }

        .swiper-button-next {
            right: -30px;

            @media(max-width: 1399px) {
                right: -10px;
            }

            @media(max-width: 1350px) {
                right: 0;
            }

            @media (max-width: 991px) {
                right: 0;
            }
        }

        .cta-btn-arrow {
            background-color: #B9DCFC;

            @media(max-width: 1350px) {
                height: 50px;
                width: 50px;
            }
        }
    }
}

.blog-teaser-listing {
    @media (max-width: 991px) {
        margin: 0 !important;
    }

    .item {
        .item-thumb {
            height: clamp(212px, calc(13.25rem + ((1vw - 9.91px) * 4.4543)), 232px);
            margin: -1px -1px 0 -1px;

            picture {
                display: block;
                height: 100%;
                margin: 0;

                img {
                    border-radius: 20px 20px 0 0;
                    height: 100%;
                    object-fit: cover;
                    width: 100%;

                    @media(max-width: 767px) {
                        border-radius: 12px 12px 0 0;
                    }
                }
            }

            img {
                display: block;
            }
        }

        .item-content {
            border-top: 0;
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow: hidden;
            padding: 0 13px 30px 20px;
            text-align: left;
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            @media(max-width: 991px) {
                padding: 0 16px 24px 16px;
            }

            .block-content {
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                display: -webkit-box;
                min-height: 82px;
                overflow: hidden;
                text-overflow: ellipsis;

                @media(max-width: 767px) {
                    min-height: auto;
                }
            }

            .item-cart {
                margin-top: auto;
            }
        }
    }
}