.hero-blog {
    .banner-content {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .search-bar {
            display: flex;

            @media(max-width: 640px) {
                margin-top: 24px;
                width: 100%;
            }

            form {
                display: flex;
                min-width: 320px;
                position: relative;

                @media(max-width: 480px) {
                    min-width: 100%;
                    width: 100%;
                }

                input {
                    background-color: var(--gb_white);
                    border-radius: 100px;
                    box-shadow: none;
                    height: clamp(44px, calc(2.75rem + ((1vw - 7.68px) * 1.0309)), 50px);
                    padding-right: 50px;

                    &:focus {
                        border-color: transparent;
                        box-shadow: 0px 0px 10px rgba(54, 154, 196, 0.40);
                    }
                }

                .search-icon {
                    background: transparent;
                    border: none;
                    height: auto;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    right: 16px;
                    top: 13px;
                    font-size: 0;

                    @media(max-width: 640px) {
                        top: 11px;
                    }

                    img {
                        @media(max-width: 640px) {
                            height: 22px;
                            width: 22px;
                        }
                    }
                }
            }
        }
    }

    &.hero-blog-detail {
        .banner-content {
            align-items: flex-start;
            gap: clamp(52px, calc(3.25rem + ((1vw - 7.68px) * 3.4364)), 72px);

            @media (max-width: 870px) {
                flex-direction: column-reverse;
            }

            .cl-left {
                flex: 580px 0 0;

                @media (max-width: 1380px) {
                    flex: 1 0 0;
                }

                @media (max-width: 870px) {
                    flex: 100% 0 0;
                }

                @media (max-width: 540px) {
                    width: 100%;
                }

                .feature-image {
                    background-color: #C4C4C4;
                    border-radius: 20px;
                    display: flex;
                    height: clamp(208.053px, calc(13.0033125rem + ((1vw - 7.68px) * 26.144)), 360.211px);
                    overflow: hidden;

                    @media (max-width: 767px) {
                        border-radius: 10px;
                    }

                    img {
                        border-radius: 20px;
                        object-fit: cover;

                        @media (max-width: 767px) {
                            border-radius: 10px;
                        }
                    }
                }
            }

            .cl-right {
                flex: 1 0 0;

                @media (max-width: 870px) {
                    flex: 100% 0 0;
                }
            }

            .blog-details {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                gap: clamp(8px, calc(0.5rem + ((1vw - 7.68px) * 1.3746)), 16px);

                .calender,
                .tag {
                    font-size: 18px;
                }

                .tag {
                    background-color: var(--gb_white);
                    border-radius: 100px;
                    padding: 4px 8px 3px;

                    @media (max-width: 767px) {
                        padding: 5px 8px 3px;
                    }

                    a {
                        color: var(--gb_color_secondary);
                    }
                }
            }

            .description {
                font-size: 16px;
            }
        }
    }
}

.search-no-results {
    .hero-blog {
        .banner-content {
            flex-wrap: nowrap;

            @media (max-width: 992px) {
                flex-wrap: wrap;
                gap: 10px;
            }

            @media (max-width: 640px) {
                gap: 0;
            }

            .block-title {
                @media (max-width: 767px) {
                    word-break: break-word;
                }
            }
        }
    }
}

.resources-blog-box {
    .resources-inner-row {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(12, minmax(0, 1fr));

        @media(max-width: 640px) {
            column-gap: 0;
            row-gap: 30px;
        }

        .resources-inner-col {
            grid-column: span 4;

            @media(max-width: 991px) {
                grid-column: span 6;
            }

            @media(max-width: 640px) {
                grid-column: span 12;
            }

            .resources-inner-redirect {
                border: none;
                display: flex;
                color: inherit;
                flex-direction: column;
                flex-wrap: wrap;
                text-decoration: none;

                .rc-post-img {
                    border-radius: clamp(10px, calc(0.625rem + ((1vw - 7.68px) * 1.7182)), 20px);
                    height: clamp(208px, calc(13rem + ((1vw - 7.68px) * 4.811)), 236px);
                    overflow: hidden;
                    position: relative;

                    picture {
                        height: 100%;
                    }

                    img {
                        height: 100%;
                        object-fit: cover;
                    }

                    .post-tag {
                        bottom: 10px;
                        left: 10px;
                        position: absolute;

                        @media(max-width: 640px) {
                            bottom: 8px;
                            left: 8px;
                        }

                        @media(max-width: 374px) {
                            margin-right: 8px;

                            // right: 8px;
                        }

                        .post-tag-title {
                            background: var(--gb_white);
                            border-radius: 100px;
                            font-size: 14px;
                            padding: 4px 8px 3px 8px;

                            @media (max-width: 767px) {
                                padding: 5px 8px 3px 8px;
                            }
                        }
                    }
                }

                .post-box-excerpt {
                    .author-meta {
                        align-items: center;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;

                        .post-author-icon {
                            align-items: center;
                            background-color: var(--gb_color_secondary);
                            border-radius: 100%;
                            display: flex;
                            height: clamp(32px, calc(2rem + ((1vw - 7.68px) * 0.6873)), 36px);
                            justify-content: center;
                            width: clamp(32px, calc(2rem + ((1vw - 7.68px) * 0.6873)), 36px);
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .post-meta-date {
                            flex: 1 0 0;
                        }
                    }

                    .blog-content {
                        border-bottom: none;
                        display: inline-block;
                        font-feature-settings: 'liga' off;
                        font-variant-numeric: lining-nums proportional-nums;
                        text-decoration-color: transparent;
                        text-decoration-line: underline;
                        text-decoration-skip-ink: none;
                        text-decoration-style: solid;
                        text-decoration-thickness: 2px;
                        text-underline-offset: auto;
                        text-underline-position: from-font;
                        transition: all 0.2s ease-in-out;
                    }
                }

                &:hover {
                    .post-box-excerpt {
                        .blog-content {
                            text-decoration-color: var(--gb_link_color);
                        }
                    }

                    .site-btn {
                        background-color: var(--gb_theme_btn_bgcolor_hover);
                        color: var(--gb_theme_btn_color_hover);
                    }
                }
            }
        }
    }
}

.blog-category-block {
    .resources-blog-box {
        .resources-inner-row {
            column-gap: clamp(20px, calc(1.25rem + ((1vw - 7.68px) * 3.4364)), 40px);
            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            row-gap: clamp(30px, calc(1.875rem + ((1vw - 7.68px) * 3.0928)), 48px);

            .resources-inner-col {
                grid-column: span 6;

                @media(max-width: 640px) {
                    grid-column: span 12;
                }

                .resources-inner-redirect {
                    border: none;
                    display: flex;
                    color: inherit;
                    flex-direction: column;
                    flex-wrap: wrap;
                    text-decoration: none;

                    .rc-post-img {
                        border-radius: clamp(10px, calc(0.625rem + ((1vw - 7.68px) * 1.7182)), 20px);
                        height: clamp(208px, calc(13rem + ((1vw - 7.68px) * 25.0859)), 354px);
                        overflow: hidden;
                        position: relative;

                        img {
                            height: 100%;
                            object-fit: cover;
                        }

                        .post-tag {
                            bottom: 10px;
                            left: 10px;
                            position: absolute;

                            @media(max-width: 640px) {
                                bottom: 8px;
                                left: 8px;
                            }

                            @media(max-width: 374px) {
                                right: 8px;
                            }

                            .post-tag-title {
                                background: var(--gb_white);
                                border-radius: 100px;
                                font-size: 16px;
                                padding: 4px 8px 3px 8px;
                            }
                        }
                    }

                    .post-box-excerpt {
                        .author-meta {
                            align-items: center;
                            display: flex;
                            flex-wrap: wrap;
                            gap: 10px;

                            @media(max-width: 640px) {
                                gap: 8px;
                            }

                            .post-author-icon {
                                align-items: center;
                                background-color: var(--gb_color_secondary);
                                border-radius: 100%;
                                display: flex;
                                height: clamp(32px, calc(2rem + ((1vw - 7.68px) * 0.6873)), 36px);
                                justify-content: center;
                                width: clamp(32px, calc(2rem + ((1vw - 7.68px) * 0.6873)), 36px);
                            }

                            .post-meta-date {
                                flex: 1 0 0;
                            }
                        }

                        .blog-content {
                            border-bottom: none;
                            display: inline-block;
                            font-feature-settings: 'liga' off;
                            font-variant-numeric: lining-nums proportional-nums;
                            text-decoration-color: transparent;
                            text-decoration-line: underline;
                            text-decoration-skip-ink: none;
                            text-decoration-style: solid;
                            text-decoration-thickness: 2px;
                            text-underline-offset: auto;
                            text-underline-position: from-font;
                            transition: all 0.2s ease-in-out;
                        }
                    }

                    &:hover {
                        .post-box-excerpt {
                            .blog-content {
                                text-decoration-color: var(--gb_link_color);
                            }
                        }
                    }
                }
            }

            &:has(.no-results.not-found) {
                display: block;
            }
        }
    }

    .tab-dropdown {
        display: none;
        margin: 0 auto;
        max-width: 350px;

        @media(max-width: 991px) {
            display: flex;
            justify-content: center;
        }

        .dropdown-toggle {
            min-width: 100% !important;
        }
    }
}

.blog-nav {
    .nav-ctn {
        ul {
            column-gap: 12px;
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            row-gap: 18px;

            li {
                margin: 0;
                padding: 0;

                a {
                    background: var(--gb_color_primary);
                    border-radius: 100px;
                    color: var(--gb_white);
                    display: inline-block;
                    font-size: 18px;
                    padding: 12px 16px;
                    text-decoration: none;

                    &:hover,
                    &.active {
                        background-color: var(--gb_color_secondary);
                        color: var(--gb_white);
                    }
                }

                &:before {
                    display: none;
                }
            }
        }
    }
}

.single-post {
    .author-details {
        align-items: center;
        display: flex;
        gap: 12px;

        @media (max-width: 767px) {
            gap: 10px;
        }

        .author-image {
            background-color: var(--gb_color_secondary);
            border-radius: 9999px;
            flex: clamp(40px, calc(2.5rem + ((1vw - 7.68px) * 0.6873)), 44px) 0 0;
            height: clamp(40px, calc(2.5rem + ((1vw - 7.68px) * 0.6873)), 44px);
            text-align: center;
            width: clamp(40px, calc(2.5rem + ((1vw - 7.68px) * 0.6873)), 44px);

            img {
                border-radius: 9999px;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }

            picture {
                align-items: center;
                height: 100%;
                justify-content: center;
            }
        }

        .author-name {}

        .author-designation {}
    }
}

.single-post {
    .single-side-group {
        display: flex;
        gap: clamp(44px, calc(2.75rem + ((1vw - 7.68px) * 9.622)), 100px);

        @media (max-width: 992px) {
            flex-wrap: wrap;
        }

        .cl-left {
            flex: 100px 0 0;

            @media (max-width: 992px) {
                flex: 100% 0 0;
            }
        }

        .cl-right {
            flex: 1 0 0;

            @media (max-width: 992px) {
                flex: 100% 0 0;
            }
        }

        .share-icon {
            background: var(--gb_color_primary);
            border-radius: 20px;
            min-width: 100px;
            padding: 20px 25px 24px;

            @media (max-width: 992px) {
                align-items: center;
                border-radius: 10px;
                display: flex;
                gap: 10px;
                justify-content: space-between;
                min-width: auto;
                padding: 12px 16px;
            }

            .share-title {
                display: block;
                font-size: 16px;
                margin-bottom: 20px;
                text-transform: uppercase;

                @media (max-width: 992px) {
                    margin: 0;
                }
            }

            .side-social {
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin: 0;

                @media (max-width: 992px) {
                    flex-direction: inherit;
                    gap: 12px;
                }

                li {
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    padding: 0;

                    &::before {
                        display: none;
                    }

                    a {
                        align-items: center;
                        background-color: var(--gb_white);
                        border: 1px solid transparent;
                        border-radius: 9999px;
                        display: flex;
                        height: 46px;
                        justify-content: center;
                        width: 46px;

                        @media (max-width: 992px) {
                            height: 32px;
                            width: 32px;
                        }

                        &:hover {
                            background: var(--gb_color_primary);
                            border: 1px solid var(--gb_color_secondary);
                        }
                    }

                    img {
                        filter: brightness(0) saturate(100%) invert(11%) sepia(10%) saturate(7085%) hue-rotate(190deg) brightness(89%) contrast(103%);
                        height: 22px;
                        width: 22px;

                        @media (max-width: 992px) {
                            height: 18px;
                            width: 18px;
                        }
                    }
                }
            }
        }

        .author-details {
            gap: 12px;

            .author-image {
                flex: clamp(64px, calc(4rem + ((1vw - 7.68px) * 2.7491)), 80px) 0 0;
                height: clamp(64px, calc(4rem + ((1vw - 7.68px) * 2.7491)), 80px);
                width: clamp(64px, calc(4rem + ((1vw - 7.68px) * 2.7491)), 80px);

                picture {
                    align-items: center;
                    height: 100%;
                    justify-content: center;
                }
            }

            .author-name {}

            .author-designation {}
        }
    }
}