.column-text {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 48px;

    @media(max-width: 991px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-bottom: 52px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    .column-col {}

    &.variation-three-col {
        grid-template-columns: repeat(3, 1fr);
        gap: 41px;

        @media(max-width: 991px) {
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
        }
    }
}