.tiled-text-block {
    .block-title {
        text-align: center;
    }

    .tiled-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        .tiled-column {
            background: var(--gb_Primary_Pale_Blue);
            border-radius: 20px;
            padding: 30px 30px 36px 30px;
            width: 100%;

            @media (min-width: 768px) {
                flex: calc(50% - 15px) 0 0;
                padding: 36px 36px 48px 36px;
            }

            @media (min-width: 992px) {
                flex: calc(25% - 15px) 0 0;
                padding: 36px 36px 48px 36px;
            }

            @media (max-width: 767px) {
                display: flex;
                gap: 24px;
                flex-wrap: wrap;
            }

            .icon-box {
                display: flex;

                @media (max-width: 767px) {
                    flex: 48px 0 0;
                }

                img {
                    height: 54px;
                    object-fit: contain;
                    width: 54px;

                    @media (max-width: 767px) {
                        height: 48px;
                        width: 48px;
                    }
                }
            }

            .tiled-content {
                @media (max-width: 767px) {
                    flex: 1 0 0;
                }

                .block-content {

                    .primary-dark-blue & {
                        color: var(--gb_Secondary_Navy_Blue);
                    }
                }
            }
        }
    }
}