.midpage-cta {

	&.variation-single-cta {
		background-color: var(--gb_color_secondary);
		border-radius: 20px;
		padding: 36px 30px;

		@media (max-width: 767px) {
			padding: 30px 21px 36px 24px;
			border-radius: 10px;
		}

		.row-flex {
			display: flex;
			align-items: center;
			gap: 40px;

			@media (max-width: 767px) {
				flex-wrap: wrap;
				gap: 24px;
			}

			.col-left {
				flex: 416px 0 0;

				@media (max-width: 767px) {
					flex: 100% 0 0;
				}

				.block-title,
				.block-desc {
					color: var(--gb_white);
				}
			}

			.col-right {
				flex: 1 0 0;
				text-align: right;

				@media (max-width: 767px) {
					flex: 100% 0 0;
					text-align: left;
				}
			}
		}
	}

}