.stats-block {
    .block-title {
        text-align: center;
    }

    .counter-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 30px;

        @media (max-width: 991px) {
            gap: 30px;
        }

        .item-row {
            flex: calc(33.33% - 0px) 0 0;
            position: relative;
            margin: 0 auto;
            justify-content: center;
            display: flex;

            @media (max-width: 991px) {
                flex: calc(48% - 5px) 0 0;
            }

            @media (max-width: 640px) {
                flex: 100% 0 0;
            }

            &:nth-child(2) {

                &:after,
                &:before {
                    border-color: var(--gb_black_2);
                    content: "";
                    height: 73px;
                    opacity: 0.5;
                    position: absolute;
                    top: 50%;
                    transform: translate(0, -50%);
                    width: 1px;

                    @media (max-width: 991px) {
                        display: none;
                    }
                }

                &:after {
                    border-left: 1px solid var(--gb_black_2);
                    left: 0;
                }

                &:before {
                    border-right: 1px solid var(--gb_black_2);
                    right: 0;
                }
            }
        }

        .count-content {
            text-align: center;

            .counter-number {
                span {
                    transition: all .2s ease-in-out;
                }
            }

            .block-content {
                max-width: 280px;
            }
        }
    }
}

.state-block-view {
    >.block-title {
        max-width: 880px;
    }
}

.icon-state-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    @media(max-width: 991px) {
        display: flex;
        flex-wrap: wrap;
        gap: 36px;
    }

    .state-block-col {
        flex: 0 0 calc(33.333% - 14px);
        display: flex;
        flex-wrap: wrap;
        gap: clamp(16px, calc(1rem + ((1vw - 7.68px) * 0.6873)), 20px);

        @media(max-width: 991px) {
            flex: 100% 0 0;
        }

        .state-img {
            flex: clamp(64px, calc(4rem + ((1vw - 7.68px) * 2.7491)), 80px) 0 0;
        }

        .state-info {
            flex: 1 0 0;
        }
    }
}

.container-855,
.container-780 {
    .stats-block {
        .counter-items {
            .count-content {
                .block-content {
                    @media (min-width: 991px) {
                        max-width: 210px;
                    }
                }
            }
        }
    }
}