.team-members {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.single-member {
	position: relative;
	margin-bottom: 40px;

	.t-detail {
		margin-top: 20px;
	}

	.sm-inner {
		display: inline-block;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		border-bottom: none;
		position: relative;
	}

	.member-image {

		@include background-image("/admin/defaults/default-image.webp", center, cover, no-repeat, 310px, 100%);
	}

	.member-name {

		@include font(axi, bold);
		margin-bottom: 8px;
	}

	.designation {

		@include font(axi, reg);

		font-size: var(--gb_font_size_4);
		margin-bottom: 0;
	}
}

.black-container {

	* {
		color: var(--wp--preset--color--white);
	}
}

.section-team-variation {
	max-width: 1064px;
	margin: 0 auto;
}

.single-member-detail {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 2%;
	justify-content: space-between;
	padding: 16px 0 21px;
	color: var(--wp--preset--color--black80);
	border-bottom: 1px solid var(--wp--preset--color--regular_text);

	&:first-child {
		border-top: 1px solid var(--wp--preset--color--regular_text);
	}

	h6 {
		letter-spacing: -0.15px;
		color: var(--wp--preset--color--black80);
	}

	h6,
	p {
		margin-bottom: 0;
	}

	.name {
		flex: 4;
	}

	.description {
		flex: 5;
	}

	.title {
		flex: 2;
	}
}

.team-detail {
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	max-width: 639px;
	max-height: 70vh;
	width: 100%;
	transition: all 0.5s ease-in-out;
	display: inline-block;
	margin: 0 auto;
	position: relative;
	overflow: hidden;

	.team-detail-inner {
		padding-right: 6px;
		height: 100%;
		overflow: auto;

		&::-webkit-scrollbar {
			display: none;
		}

		&.scroll {
			padding-right: 0;

			&::-webkit-scrollbar {
				display: block;
			}
		}
	}

	.mfp-close {
		position: absolute;
		top: 7px;
		right: 5px;
		width: 16px;
		height: 16px;
		transition: all 200ms;
		background-position: top right;
		background-repeat: no-repeat;
		background-size: contain;

		&:hover {
			background-color: transparent;
			cursor: pointer;
		}
	}
}

.team-detail-inner::-webkit-scrollbar {
	width: 6px;
	height: 100%;
}

.team-detail-inner::-webkit-scrollbar-track {
	background-color: var(--wp--preset--color--regular_text);
}

.team-detail-inner::-webkit-scrollbar-thumb {
	background: var(--gb_yellow);
}

.single-team {
	text-align: left;

	.single-team-head {
		background-color: var(--wp--preset--color--mgray);
		position: relative;
		padding-right: 35px;
	}

	.member-image-popup {
		width: 30%;
		height: 185px;
	}

	.member-detail-popup {
		width: 64%;
	}

	.member-name-popup {

		@include font(axi, bold);

		color: var(--wp--preset--color--dark_text);
		margin-bottom: 5px;
	}

	.member-designation {

		@include font(axi, reg);

		color: var(--wp--preset--color--lblack);
		margin-bottom: 0;
		font-size: var(--gb_font_size_3);
		letter-spacing: -0.6px;
	}

	.single-team-content * {
		color: black !important;
	}

	.single-team-content {
		overflow: auto;
		background-color: var(--wp--preset--color--white_text);
		padding: 41px 60px 50px 50px;
		font-size: var(--gb_font_size_4);
		line-height: 1.65;

		p {
			margin-bottom: 0;
		}
	}
}


.mfp-content {
	text-align: center;
}

.mfp-wrap {
	z-index: 999999 !important;
}

.team-block {
	.team-block-row {
		display: grid;
		gap: 45px;
		grid-template-columns: repeat(5, 1fr);
		row-gap: 48px;

		@media(max-width: 1200px) {
			gap: 35px;
			grid-template-columns: repeat(4, 1fr);
			row-gap: 30px;
		}

		@media(max-width: 991px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media(max-width: 640px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 15px;
			row-gap: 30px;
		}

		@media(max-width: 319px) {
			grid-template-columns: repeat(1, 1fr);
			gap: 0;
			row-gap: 20px;
		}

		.team-block-column {
			.team-group {
				display: flex;
				flex-direction: column;
				height: 100%;
				text-align: center;
				text-decoration: none;
				border: none;

				.team-image {
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					position: relative;
					width: 100%;

					img {
						-o-object-fit: cover;
						border-radius: 100%;
						height: clamp(140px, calc(8.75rem + ((1vw - 7.68px) * 10.3093)), 200px);
						margin: 0 auto;
						object-fit: cover;
						width: clamp(140px, calc(8.75rem + ((1vw - 7.68px) * 10.3093)), 200px);
					}
				}

				.team-content-group {

					.block-btn {
						margin-top: auto;
					}
				}

				.team-content-group {
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					height: 100%;
					width: 100%;

					.block-btn {
						display: flex;
						flex-wrap: wrap;
						flex-direction: column;

						.text-link {
							justify-content: center;
						}
					}
				}
			}
		}
	}
}

.team-bio-sides {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 36px;
	padding-right: 50px;

	@media(max-width: 991px) {
		gap: 20px;
		padding-right: 35px;
	}

	@media(max-width: 319px) {
		gap: 10px;
		padding-right: 0;
	}

	.cl-left {
		flex: clamp(80px, calc(5rem + ((1vw - 7.68px) * 13.0584)), 156px) 0 0;
		display: flex;

		>img {
			border-radius: 100%;
			height: clamp(80px, calc(5rem + ((1vw - 7.68px) * 13.0584)), 156px);
			object-fit: cover;
			width: clamp(80px, calc(5rem + ((1vw - 7.68px) * 13.0584)), 156px);
		}
	}

	.cl-right {
		flex: 1 0 0;

		@media(max-width: 319px) {
			flex: 100% 0 0;
		}

		.bio-position {
			color: var(--gb_color_primary);
			opacity: 0.8;
		}
	}
}