/* ------------------------------------------------------------------
> Downloads Links Block
------------------------------------------------------------------ */

@use "../../css/partials/variables/breakpoints" as bp;
@use "../../css/partials/variables/fluid_mixins" as *;

.wp-block-ambrygen-link-list {
	&.download-list {

		&.collaborators-list {

			.download-list__header-area {
				max-width: 960px;
				margin: 0 auto;
				text-align: center;
			}

			.download-list__inner {
				grid-template-columns: 1fr;
			}

			.download-list__items {
				gap: 20px 40px;
				display: grid;
				grid-template-columns: 1fr 1fr;

				@include bp.max(md) {
					grid-template-columns: 1fr;
				}
			}
		}

		.download-list__inner {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 40px;
			align-items: start;

			@include bp.max(lg) {
				grid-template-columns: 1fr;
			}
		}

		.download-list__items {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}

		.download-list__item {
			display: flex;
			align-items: center;
			gap: 12px;
			padding-bottom: 12px;
			text-decoration: none;
			border-bottom: 1px solid var(--theme_gray_400);

			.download-list__item-link {
				border: none;
				padding: 0;
				color: var(--theme_gray_600);
				font-weight: 500;
				font-size: var(--theme_font_size_10);
				width: 100%;
				position: relative;
				display: flex;
				justify-content: space-between;
				gap: 20px;

				.bg-primary_700 &,
				.bg-primary_800 &,
				.bg-blue-gradient & {
					color: var(--theme_white);
				}

				&::after {
					content: "";
					display: block;
					width: 36px;
					height: 36px;
					flex: 36px 0 0;
					display: flex;
					border-radius: 50%;
					border: 1px solid var(--theme_gray_400);
					align-items: center;
					justify-content: center;
					background-image: url(../../images/gray-400-icons/right-arrow.svg);
					background-repeat: no-repeat;
					background-size: 24px;
					background-position: center;

					.bg-primary_700 &,
					.bg-primary_800 &,
					.bg-blue-gradient & {
						filter: brightness(0) saturate(100%) invert(97%) sepia(100%) saturate(1%) hue-rotate(55deg) brightness(108%) contrast(102%);
					}

					@include bp.max(lg) {
						width: 28px;
						height: 28px;
						flex: 28px 0 0;
						background-size: 20px;
					}
				}

				&:hover {
					color: var(--theme_cg_blue);

					.bg-primary_700 &,
					.bg-primary_800 &,
					.bg-blue-gradient & {
						color: var(--theme_lightblue);
					}

					&:after {
						background-image: url(../../images/primary700-icons/right-arrow.svg);
						border-color: var(--theme_cg_blue);
					}
				}
			}
		}
	}
}
