@font-face {
	font-family: Axiforma-Regular;
	src: url(../fonts/axiforma-regular.woff2) format("truetype");
	font-display: swap;
	font-weight: 400;
}

@font-face {
	font-family: Axiforma-Medium;
	src: url(../fonts/axiforma-medium.woff2) format("truetype");
	font-display: swap;
	font-weight: 500;
}

@font-face {
	font-family: Axiforma-SemiBold;
	src: url(../fonts/axiforma-semibold.woff2) format("truetype");
	font-display: swap;
	font-weight: 600;
}

@font-face {
	font-family: Axiforma-Bold;
	src: url(../fonts/axiforma-bold.woff2) format("truetype");
	font-display: swap;
	font-weight: 700;
}


@font-face {
	font-family: Inter;
	src: url(../fonts/Inter-VariableFont_opsz,wght.woff2) format("truetype");
	font-display: swap;
	font-weight: 400;
}
